@model dynamic
@using Telerik.Sitefinity.Services;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers


<div id="listView" class="job-result jn_scroller">

    @if (Model != null)
    {
        //if (Model.SearchResults != null )
        //{
        var flag = false;
        foreach (var item in Model.SearchResults)
        {
            flag = true;
            
                <div class="sc-item">
                    <div class="job-header">
                        <h3><a href="@ViewBag.JobDetailsPageUrl?jobId=@item.JobID">@item.Title</a></h3>
                    </div>
                    <div class="sc-desc">@item.ShortDescription</div>
                    <dl class="sc-job-meta-group"><dt class="sc-job-meta-name meta-location hidden">Location</dt><dd class="sc-job-meta-value meta-location"><span class="jn_ico icon-pin">icon</span>@item.CustomData["CountryLocationArea[0].Filters[0].Value"]</dd>@*<dt class="sc-job-meta-name meta-salary hidden">Salary</dt><dd class="sc-job-meta-value meta-salary"><span class="jn_ico icon-value">icon</span>@item.CustomData["Salary.Filters[0].Value"]</dd>*@<dt class="sc-job-meta-name meta-worktype hidden">Worktype</dt><dd class="sc-job-meta-value meta-worktype"><span class="jn_ico icon-time">icon</span>@item.CustomData["WorkType.Filters[0].Value"]</dd></dl>
                    <a href="@ViewBag.JobDetailsPageUrl?jobId=@item.JobID" class="btn btn-sm" title="Read more">Read more</a>
                </div>
        } //end of foreach loop
          //} //end of count check
    if(!flag)
        {
            <div class="l-section info-block">
                <p class="alert alert-warning">Sorry! The jobs you are searching for did not match. Please try with different search criteria.</p>
            </div>
        }
    }
</div>

<script type="text/javascript">

     @{
          var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
          var json = serializer.Serialize(Model);
      }


</script>
