@model dynamic
@using Telerik.Sitefinity.Frontend.Mvc.Helpers
@using Telerik.Sitefinity.Modules.Pages;

@Html.StyleSheet(Url.WidgetContent("/Mvc/Styles/kendo.common.min.css"), "bottom")
@Html.StyleSheet(Url.WidgetContent("/Mvc/Styles/kendo.default.min.css"), "bottom")
@Html.StyleSheet(Url.WidgetContent("/Mvc/Styles/kendo.default.mobile.min.css"), "bottom")

@Html.Script(ScriptRef.KendoAll, "top", false)


<div id="resultsPagePartialContent" class="jn_jobsFeed @ViewBag.CssClass">
    <div class="container">
        <h2 class="block-title">Recent Positions</h2>
        @Html.Partial("_JobSearchResults_Short", (object)Model)
    </div>
</div>
