@model Telerik.Sitefinity.Frontend.Card.Mvc.Models.Card.CardViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers
<div class="container-fluid">
    <div class="row">
        <div class="section-col-bg col-12 col-md-6 bg-image" style="background-image: url('@Model.SelectedSizeUrl');"></div>
        <div class="col-12 col-md-6">
            <section class="g-section">
                @if (!string.IsNullOrEmpty(Model.Heading))
                {
                    <h3 >@Html.HtmlSanitize(Model.Heading)</h3>
                }
                <p>
                    @Html.HtmlSanitize(Model.Description)
                </p>
                <a href="@Html.UrlSanitize(Model.ActionUrl)" class="btn btn-outline-primary mt-4">@Model.ActionName</a>
            </section>
        </div>
    </div>
</div>