@model Telerik.Sitefinity.Frontend.Card.Mvc.Models.Card.CardViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers


<div class="@Model.CssClass paralax-image blockquote-format" style="background: url(@Model.SelectedSizeUrl) no-repeat center center/cover;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
               
                    <blockquote>
                        <p><em>@Html.HtmlSanitize(Model.Description)</em></p>
                        @if (!string.IsNullOrEmpty(Model.ActionUrl))
                        {
                            if (!string.IsNullOrEmpty(Model.ActionName))
                            {
                                <a href="@Html.UrlSanitize(Model.ActionUrl)" class="btn-more">@Model.ActionName</a>
                            }
                        }
                        <p><strong>@Html.HtmlSanitize(Model.Heading)</strong></p>


                    </blockquote>
               

            </div>
        </div>
    </div>
</div>
