@model Telerik.Sitefinity.Frontend.Card.Mvc.Models.Card.CardViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers
<section>
    <div class="row">
        <div class="col-12 col-md-6 pt-5 pb-5">
            <div class="col-50-content">
                @if (!string.IsNullOrEmpty(Model.Heading))
                {
                    <h3>@Html.HtmlSanitize(Model.Heading)</h3>
                }
                <p>
                    @Html.HtmlSanitize(Model.Description)
                </p>
                <a href="@Html.UrlSanitize(Model.ActionUrl)" class="btn btn-outline-primary mt-4">@Model.ActionName</a>
            </div>
        </div>
        <div class="col-12 col-md-6 img-absolute-wrap">
            <img class="img-absolute" src="@Model.SelectedSizeUrl" alt="@Model.Heading">
        </div>
    </div>
</section>