@model Telerik.Sitefinity.Frontend.Navigation.Mvc.Models.INavigationModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Navigation.Mvc.Models;
@using Telerik.Sitefinity.Web;
@using Telerik.Sitefinity.Libraries.Model;
@using JXTNext.Sitefinity.Media.Mvc.Helpers;

<div class="quick-links quick-links-toggle active" data-quick-links-toggle="">@Html.Resource("QuickLinks", "Labels")<i class="fas fa-chevron-right"></i></div>
<div class="quick-links quick-links-content" data-quick-links-content="">
    <div class="quick-links-close" data-quick-links-close=""><i class="fas fa-times"></i></div>
    <ul class="list-unstyled">
        @foreach (var node in Model.Nodes)
        {
            @RenderRootLevelNode(node);
        }
    </ul>
</div>

@helper RenderRootLevelNode(NodeViewModel node)
{
    var pageSiteNode = node.OriginalSiteMapNode as PageSiteNode;
    var iconCssClass = pageSiteNode.GetCustomFieldValue("IconCssClass");
    <li><a href="@node.Url"><i class="@iconCssClass"></i>@node.Title</a></li>
}
