@model SitefinityWebApp.Mvc.Models.MultiCard.MultiCardViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;


@foreach (var card in Model.Cards)
{
    <a href="@Model.GroupActionUrl">
        <div class="flip-card">
            

                <div class="brand_blk" style="background-image:url('@Model.SelectedSizeUrl')">

                    <div class="blk_card">
                        <img src="@card.SelectedSizeUrl" class="icon-img" alt="@card.ImageAlternativeText">
                        <h4>@Html.HtmlSanitize(card.Heading)</h4>
                    </div>
                </div>
 
            
            </div>
</a>
}