@model Telerik.Sitefinity.Frontend.DynamicContent.Mvc.Models.DynamicContentListViewModel
@using Telerik.Sitefinity.Frontend.DynamicContent.WidgetTemplates.Fields.Helpers;
@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Data.ContentLinks;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Mvc.Models;
@using Telerik.Sitefinity.Web.DataResolving;
@using Telerik.Sitefinity.Model.ContentLinks;
@using Telerik.Sitefinity.RelatedData
@using System;
@using Newtonsoft.Json;
@using Telerik.Sitefinity.DynamicModules;
@using Telerik.Sitefinity.DynamicModules.Model;
@using Telerik.Sitefinity.Services;
@using Telerik.Sitefinity.Security.Model;
@using Telerik.Sitefinity.Taxonomies;
@using Telerik.Sitefinity.Taxonomies.Model;
@using Telerik.Sitefinity.Model;
@using Telerik.OpenAccess;
@using Telerik.Sitefinity.Web;

@*Needed for custom thumbnail*@
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Modules.Libraries;

@{
                /**/

                var featuredArticle = Model.Items.FirstOrDefault();
}
@if (featuredArticle != null)
{
    var navigateUrl = HyperLinkHelpers.GetDetailPageUrl(featuredArticle, ViewBag.DetailsPageId, ViewBag.OpenInSamePage, Model.UrlKeyPrefix);
    var taxon = featuredArticle.GetHierarchicalTaxons("articles").First();
    var imgsrc = "";
    if (featuredArticle.Fields.HeaderImage != null)
    {
        imgsrc = MediaContentExtensions.ResolveThumbnailUrl(featuredArticle.Fields.HeaderImage.DataItem);
    }
    var summary = (@Html.HtmlSanitize((string)featuredArticle.Fields.Summary)).ToString();
    if (@Html.HtmlSanitize((string)featuredArticle.Fields.Summary).ToString().Length > 130)
    {
        summary = (@Html.HtmlSanitize((string)featuredArticle.Fields.Summary)).ToString().Substring(0, 128);
    }

    <div class="white_panel">
        <div class="sub">
            <div class="image" style="background-image: url(@imgsrc);"></div>
            <h4 class="sub_title"><a @Html.InlineEditingFieldAttributes("Title", "ShortText") href="@navigateUrl">@featuredArticle.Fields.Title</a></h4>
            <div class="entry-meta">
                @*<span class="author">Posted by <a href="#" title='@DataResolver.Resolve(featuredArticle.DataItem, "Author", null)' rel="author">@DataResolver.Resolve(featuredArticle.DataItem, "Author", null)</a></span>
                    <span class="sep">|</span>*@
                <span class="date">@featuredArticle.GetDateTime("PublicationDate", "MMM d, yyyy")</span>
            </div>
            <p class="blue_text">@summary</p>
            @*<div class="action_link">
                    <a href="@navigateUrl">Read Events</a>
                </div>*@
        </div>
    </div>
}