@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.Profile.ProfilePreviewViewModel

@using Telerik.Sitefinity.Frontend.Identity.Mvc.Models.Profile;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@if (Model != null)
{
<div class="@Model.CssClass user-profile-dash">
    <h1>Welcome back</h1>
    <div class="sf-profile row">
        <div class="col-xs-3 col-md-2">
            <div class="image-placeholder">
                <img src="@Model.AvatarImageUrl" alt="@Model.UserName" />
            </div>
        </div>

        <div class="col-xs-9 col-md-10">
            <h2>@Model.DisplayName</h2>
            <p>@Model.Email</p>
            <p>@Model.About</p>

            @if (Model.CanEdit && ViewBag.Mode == ViewMode.Both)
            {
                @Html.ActionLink(Html.Resource("EditProfileLink"), "EditProfile",null,null, new { @class = "btn" });
            }
        </div>
    </div>
</div>
}