@model dynamic
@using Telerik.Sitefinity.Frontend.Mvc.Helpers

@Html.StyleSheet(Url.WidgetContent("/Mvc/Styles/kendo.common.min.css"), "bottom")
@Html.StyleSheet(Url.WidgetContent("/Mvc/Styles/kendo.default.min.css"), "bottom")
@Html.StyleSheet(Url.WidgetContent("/Mvc/Styles/kendo.default.mobile.min.css"), "bottom")

@Html.Script(Url.WidgetContent("/Mvc/Scripts/kendo.all.min.js"), "bottom")


<div id="resultsPagePartialContent">
    @Html.Partial("_JobSearchResults", (object)Model)
</div>
