@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Web.DataResolving;
@using JXTNext.Sitefinity.Common.Helpers

<div class="@Model.CssClass" id="jn_banner">

    @foreach (var item in Model.Items)
    {
        string bannerImg = ((Telerik.Sitefinity.Frontend.Mvc.Models.ItemViewModel)item).GetItemImageUrl("Image", 0);
    <div class="banner-bg banner-single bg-cover" style="background-image:url(@(bannerImg))">
        @if (!String.IsNullOrEmpty(item.Fields.Video_url))
        {
            <div class="bg-video video-area">
                <video autoplay loop muted>
                    <source src="@item.Fields.Video_url" type="video/mp4">
                </video>
            </div>
        }
        <div class="banner-item">
            <div class="slide-content container">
                <div class="row align-items-center">
                    <div class="col">
                        <h1>@item.Fields.Title</h1>
                        <p>@item.Fields.Caption</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    }

</div>