@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.LoginForm.ForgotPasswordViewModel

@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<div class="@Model.CssClass basic-form">

    <h3>@Html.Resource("ForgotPasswordHeader")</h3>

    @if (Model.EmailSent)
    {
        <p>@Html.Resource("ForgotPasswordRequestSent") <i>@Html.Encode(Model.Email)</i></p>

        <p>@Html.Resource("ForgotPasswordRequestSentUseLink")</p>

        <a href="@Model.LoginPageUrl" class="btn btn-default">@Html.Resource("ForgotPasswordBackToLogin")</a>
    }
    else
    {
        using (Html.BeginForm("SendPasswordResetEmail", "LoginForm"))
        {

            <p>@Html.Resource("EnterLoginEmailAddress")</p>

            <div class="form-group">
                @Html.TextBoxFor(u => u.Email, new { @class = "form-control", @placeholder = "Email*" })

            </div>

            <div class="btn-block form-group">
                <button type="submit" class="btn btn-outline-primary mr-4">@Html.Resource("ForgotPasswordSendButton")</button>
            </div>

        }
    }

</div>
<script>
    //quick solution to remove/hide one of the login form widget for forgot password page
    if (window.location.pathname.indexOf('ForgotPassword') > -1) {
        $('.loginwith_socialmedia').remove();
    }

    $(document).ready(function () {
        $('h1.fadeInUp').html('Forgot Password');
        $('.br-1').removeClass("br-1");
    });
</script>
