@model dynamic
@using Telerik.Sitefinity.Services;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers

@{
    int jobOfferIndex = 0;
    var defaultLogo = "/ResourcePackages/Hudson/assets/dist/images/defaultLogo.png";
}

<div class="@ViewBag.CssClass">
    @foreach (var jobOffer in Model.SearchResults)
    {
        if (jobOfferIndex % 4 == 0)
        {
            @: <div class="row- same-height-wrapper">
            }

            <div class="col-sm-3">

                <div class="featured-job-offer same-height-box-">
                    @*<div class="job-offer-company text-right"><img alt="" src="@defaultLogo" title="@jobOffer.Title"></div>*@

                    <div class="job-offer">
                        <h4><a class="title-link" href="@ViewBag.JobDetailsPageUrl/@jobOffer.ClassificationURL/@jobOffer.JobID">@jobOffer.Title</a></h4>
                        <script type="text/x-kendo-template" id="template">

                            <div class="job-holder search-result">

                                <div class="search-result-description">
                                    <div class="row">
                                        <div class="col-sm-4 sc-job-meta-group">
                                            <span class="meta-location">#:CustomData["CountryLocationArea[0].Filters[0].Value"]#</span><br />

                                            # if( CustomData["Salary.Filters[0].Min"] != 0 && CustomData["Salary.Filters[0].Max"] != 0 ){
                                            if( CustomData["Salary.Filters[0].Min"] == CustomData["Salary.Filters[0].Max"] ){
                                            #<span class="meta-salary">
                                                $#:CustomData["Salary.Filters[0].Max"]#<br />#
                                                }
                                                else{
                                                #<span class="meta-salary">
                                                    $#:CustomData["Salary.Filters[0].Min"]# - $#:CustomData["Salary.Filters[0].Max"]# <br />#
                                                    }
                                                    #<span class="salary-label">#:CustomData["Salary.Filters[0].Value"]#</span>
                                                </span><br />#
                                                }#
                                                <span class="meta-worktype">#:CustomData["WorkType.Filters[0].Value"]#</span>
                                        </div>

                                        <div class="col-sm-5 col-md-6">
                                            # if(data.CustomData["Bulletpoints.BulletPoint1"] != "" || data.CustomData["Bulletpoints.BulletPoint2"] != "" || data.CustomData["Bulletpoints.BulletPoint3"] != ""){#
                                            <ul>
                                                <li>#:CustomData["Bulletpoints.BulletPoint1"]#</li>
                                                <li>#:CustomData["Bulletpoints.BulletPoint2"]#</li>
                                                <li>#:CustomData["Bulletpoints.BulletPoint3"]#</li>
                                            </ul>
                                            #
                                            }
                                            else{#


                                            <p>#:ShortDescription#</p>
                                            #}#

                                        </div>
                                        <div class="col-sm-2 pull-right">
                                            <img src="@defaultLogo" alt="Hudson" />
                                        </div>
                                    </div>



                                </div>



                            </div>
                        </script>


                        <div class="list-content job-proeperties-list">
                            <ul>
                                <li>
                                    <em class="fas fa-money-bill-alt"></em>£40k-60k + Annual Bonus
                                </li>

                                <li>
                                    <em class="fas fa-map-marker-alt"></em>London
                                </li>
                                <li> <em class="fas fa-briefcase"></em>Permanent</li>
                            </ul>
                        </div>





                        @{
                            var summary = Html.HtmlSanitize((string)jobOffer.ShortDescription).ToString();
                            string trimSummary = !String.IsNullOrWhiteSpace(summary) && summary.Length >= 250 ? summary.Substring(0, 250) + "..." : summary;
                        }
                        @*<p class="job-offer-sum">
                                @trimSummary
                            </p>*@
                        <span>






                    </div>
                    @*<a class="btn btn-more" href="@ViewBag.JobDetailsPageUrl/@jobOffer.ClassificationURL/@jobOffer.JobID"></a>*@
                </div>

            </div>



            if (jobOfferIndex % 4 != 0)
            {
                @:
            }

            jobOfferIndex++;
        }


</div>
<div class="row row-see-more">
    <div class="col-md-12">
        <div class="text-center view-jobs-btn"><a class="btn btn-default" href="@ViewBag.JobResultsPageUrl">View all</a></div>
    </div>
</div>
</div>

