@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentDetailsViewModel

@using System.Collections;
@using System.Linq;
@using Telerik.Sitefinity.Frontend.DynamicContent.WidgetTemplates.Fields.Helpers;
@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Data.ContentLinks;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Libraries.Model;
@using Telerik.Sitefinity.Localization;
@using Telerik.Sitefinity.Model;
@using Telerik.Sitefinity.Model.ContentLinks;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Pages.Model;

<div class="o-locationdetail @Model.CssClass" @Html.InlineEditingAttributes(Model.ProviderName, Model.ContentType.FullName, (Guid)Model.Item.Fields.Id)>
    <h3 class="o-locationdetail__title" @Html.InlineEditingFieldAttributes("Title", "ShortText")>
        @Model.Item.Fields.Title
    </h3>
    <div class="o-locationdetail__pubdate">
        @Model.Item.GetDateTime("PublicationDate", "MMM d, yyyy, HH:mm tt")
        @Html.CommentsCount("", @Model.Item.DataItem)
    </div>

    <div class="o-locationdetail__content">
        @*Start Description field*@
        <div class="o-locationdetail__content-descr" @Html.InlineEditingFieldAttributes("Description", "LongText")>@Html.HtmlSanitize((string)Model.Item.Fields.Description)</div>
        @*End Description field*@

        @*Start Title field*@
        <div class="o-locationdetail__content-title">
            <strong> Title :</strong>

            <span @Html.InlineEditingFieldAttributes("Title", "ShortText")>@Model.Item.Fields.Title</span>
        </div>
        @*End Title field*@

        @*Start Phone field*@
        <div class="o-locationdetail__content-phone">
            <strong> Phone :</strong>

            <span @Html.InlineEditingFieldAttributes("Phone", "ShortText")>@Model.Item.Fields.Phone</span>
        </div>
        @*End Phone field*@

        @*Start EmailAddress field*@
        <div class="o-locationdetail__content-email">
            <strong> Email address :</strong>

            <span @Html.InlineEditingFieldAttributes("EmailAddress", "ShortText")>@Model.Item.Fields.EmailAddress</span>
        </div>
        @*End EmailAddress field*@

        @*Start Content field*@
        <div class="sf-Long-text o-locationdetail__content-txt" @Html.InlineEditingFieldAttributes("Content", "LongText")>@Html.HtmlSanitize((string)Model.Item.Fields.Content)</div>
        @*End Content field*@
        @if (FieldExtensions.IsApiKeyValid())
        {
            @Html.Script("https://maps.googleapis.com/maps/api/js?key=" + FieldExtensions.GetApiKey() + "&sensor=false", "top", false)
            @Html.Script(Url.EmbeddedResource("Telerik.Sitefinity.Resources.Reference", "Telerik.Sitefinity.Resources.Scripts.jquery.ui.map.js"), "top", false)
            @*@Html.Script(Url.WidgetContent("WidgetTemplates/Fields/Scripts/address-field.js", "Telerik.Sitefinity.Frontend.DynamicContent"), "top", false)*@
            @Html.Script(Url.WidgetContent("Mvc/Scripts/Location/addressfield.js"), "top", false)
        }


        @*Start Address field*@
        <div class="o-locationdetail__content-addr">
            <strong> Address :</strong>

            <div>
                @if (!string.IsNullOrEmpty(Model.Item.Fields.Address.CountryCode))
                {
                    <address>
                        @Model.Item.GetAddressString("Address", "#=Street# #=City# #=State# #=Country#")
                    </address>
                }
            </div>
            <div>
                @if (Model.Item.Fields.Address.Latitude != null || Model.Item.Fields.Address.Longitude != null)
                {
                    <a class="o-locationdetail__content-addrmaplnk">View map</a>
                    <div class="o-locationdetail__content-addrmapwrp" style="display:none">
                        <input class="o-locationdetail__content-addrvalueinp" type="hidden" value='@Model.Item.SerializeToJson("Address")' />
                        <div class="o-locationdetail__content-addrmapcontainer" style="width:500px; height:500px"></div>
                    </div>
                }
            </div>
        </div>
        @*End Address field*@
    </div>
    @*Start Images field*@
    <ul class="o-locationdetail__imggallery">
        @foreach (var relatedItem in Model.Item.Fields.Images)
        {
            <li class="o-locationdetail__imggallery-item">
                <a href='@relatedItem.Fields.MediaUrl'>
                    <img src='@relatedItem.Fields.ThumbnailUrl' alt='@relatedItem.Fields.AlternativeText' title='@relatedItem.Fields.Title' />
                </a>
            </li>
        }
    </ul>
    @*End Images field*@

    @Html.CommentsList(@Model.Item.DataItem)
</div>