@model Telerik.Sitefinity.Frontend.DynamicContent.Mvc.Models.DynamicContentListViewModel

@using Telerik.Sitefinity.Frontend.DynamicContent.WidgetTemplates.Fields.Helpers;
@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Data.ContentLinks;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Mvc.Models;
@using Telerik.Sitefinity.Web.DataResolving;
@using Telerik.Sitefinity.Model.ContentLinks;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Libraries.Model;
@using Telerik.Sitefinity.Modules.Libraries;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Services;
@using Telerik.Sitefinity.RelatedData;
@using Telerik.Sitefinity.Configuration;
@using JXTNext.Sitefinity.Media.Mvc.Helpers;
@{
    var resolveAsAbsoluteUrl = Config.Get<SystemConfig>().SiteUrlSettings.GenerateAbsoluteUrls;
}
<div class="o-locationlist @Model.CssClass">
    @foreach (var item in Model.Items)
    {
        var navigateUrl = HyperLinkHelpers.GetDetailPageUrl(item, ViewBag.DetailsPageId, ViewBag.OpenInSamePage, Model.UrlKeyPrefix);
        var featureImage = new Image();
        // Get the feature image
        if (item.Fields.Images != null)
        {
            featureImage = item.DataItem.GetRelatedItems<Image>("Images").FirstOrDefault();
        }
        <article class="o-locationlist__item" @Html.InlineEditingAttributes(Model.ProviderName, Model.ContentType.FullName, (Guid)item.Fields.Id)>
            @*Start feature image*@
            @if (featureImage != null)
            {
            <a href="@navigateUrl" class="o-locationlist__item-featuredimagewrap">
                @Html.ImgTag(featureImage, (string)item.Fields.Title, "loc-list").WithCssClass("o-locationlist__item-featuredimage")
            </a>
            }
            @*End feature image*@
            <div class="o-locationlist__sum">
                <h3 class="o-locationlist__sum-title">
                    <a @Html.InlineEditingFieldAttributes("Title", "ShortText") href="@navigateUrl">
                        @item.Fields.Title
                    </a>
                </h3>
                <div class="o-locationlist__sum-descr"><p class="o-locationlist__sum-descrtxt">@item.Fields.Description</p></div>
            </div>
        </article>
    }

    @if (Model.ShowPager)
    {
        @Html.Action("Index", "ContentPager", new { currentPage = Model.CurrentPage,
                        totalPagesCount = Model.TotalPagesCount.Value,
                        redirectUrlTemplate = ViewBag.RedirectPageUrlTemplate })
    }
</div>