@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel

@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Frontend.Media.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Frontend.Media.Mvc.Models.ImageGallery;
@Html.Script(ScriptRef.JQuery, "top")


<div class="full_width logos_section @Model.CssClass">
    <div class="container">

        <div class="logo_slider owl-carousel">

            @foreach (var item in Model.Items)
            {
                var IsOpenInNewTab = Convert.ToBoolean(item.Fields.OpenInNewTab);
                var target = "";
                if (IsOpenInNewTab)
                {
                    target = "_blank";
                }

                var thumbnailViewModel = (ThumbnailViewModel)item;

                <div class="image">
                    <div class="cntr">
                        @if (!string.IsNullOrEmpty(item.Fields.RedirectUrl))
                        {
                            <a href="@item.Fields.RedirectUrl" target="@target">

                                <img src="@(thumbnailViewModel.ThumbnailUrl)" alt='@System.Text.RegularExpressions.Regex.Replace(item.Fields.AlternativeText, @"[^\w\d_-]", "")'
                                     @Html.GetWidthAttributeIfExists(thumbnailViewModel.Width)
                                     @Html.GetHeightAttributeIfExists(thumbnailViewModel.Height) />
                            </a>
                        }
                        else
                        {
                            <img src="@(thumbnailViewModel.ThumbnailUrl)" alt='@System.Text.RegularExpressions.Regex.Replace(item.Fields.AlternativeText, @"[^\w\d_-]", "")'
                                 @Html.GetWidthAttributeIfExists(thumbnailViewModel.Width)
                                 @Html.GetHeightAttributeIfExists(thumbnailViewModel.Height) />
                        }
                    </div>
                </div>
                }
        </div>

    </div>
</div>

@if (Model.ShowPager)
{
    @Html.Action("Index", "ContentPager", new
    {
        currentPage = Model.CurrentPage,
        totalPagesCount = Model.TotalPagesCount.Value,
        redirectUrlTemplate = ViewBag.RedirectPageUrlTemplate
    })
}
