@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.Registration.RegistrationViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Utilities;
@using Telerik.Sitefinity.Services;

@*Add scripts and stylesheets*@
@Html.Script(ScriptRef.JQuery, "top")
@Html.Script("//ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.js", "top")
@Html.Script("//ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.min.js", "top")

<div class="@Model.CssClass login-form">
    @if (Telerik.Sitefinity.Security.SecurityManager.GetCurrentUserId() == Guid.Empty || SystemManager.IsInlineEditingMode || SystemManager.IsDesignMode)
    {
        if ((Request.QueryString["ShowActivationMsg"] == "true") ||
         (ViewBag.ShowActivationMsg is bool && ViewBag.ShowActivationMsg))
        {
            <h3>
                @Html.Resource("VisitYourEmail")
            </h3>

            <p>@string.Format(Html.Resource("ActivationLinkHasBeenSent"), Model.Email)</p>
            <a href="javascript:void(0)" data-sf-role="sendAgainLink" class="btn btn-primary">@Html.Resource("SendAgain")</a>

            <div data-sf-role="confirmationResendInfo" style="display:none;">
                @string.Format(Html.Resource("ActivationLinkHasBeenSentAgain"), Model.Email)
                <a href="javascript:void(0)" data-sf-role="sendAgainLink" class="btn btn-primary">@Html.Resource("SendAgain")</a>
            </div>

            <input type="hidden" data-sf-role="sf-resend-confirmation-endpoint-url" value="@Url.Action("ResendConfirmationEmail", new { email = Model.Email })" />
        }
        else if ((Request.QueryString["ShowSuccessfulRegistrationMsg"] == "true") ||
                 (ViewBag.ShowSuccessfulRegistrationMsg is bool && ViewBag.ShowSuccessfulRegistrationMsg))
        {
            <h3>@Html.Resource("ThankYou")</h3>
            <p>@Html.Resource("DefaultSuccessfulRegistrationMessage")</p>

        }
        else
        {
            using (Html.BeginFormSitefinity(true))
            {
                <div class="sign-in-with">
                    @Html.ValidationSummary(true)

                    @if (Model.ExternalProviders != null && Model.ExternalProviders.Count() > 0)
                    {
                        <div class="basic-form">
                            <div class="width-limit">
                                <h2>Register with</h2>
                                <p>In a rush? Create an account by signing in with one of your social media accounts below. *Payment and Card will only receive your name and email address.</p>
                            </div>
                            <ul class="list-unstyled">

                                @foreach (var provider in Model.ExternalProviders)
                                {
                                    var classToBeAdd = "btn btn-" + @provider.Key.ToLower().ToString();
                                    <a href="/LoginExternalProvider/@provider.Key" class="read_btn btn-space"><span>@provider.Key</span></a>
                                }

                            </ul>
                        </div>
                    }

                </div>
            }
        }
    }
</div>
@Html.Script(Url.WidgetContent("Mvc/Scripts/Registration/registration-form.js"), "bottom")
<script>
    //quick solution to remove/hide one of the login form widget for forgot password page
    if (window.location.href.indexOf('ShowSuccessfulRegistrationMsg') > -1) {
        $('.loginwith_socialmedia').remove();
    }
</script>