@model SitefinityWebApp.Mvc.Models.MultiCard.MultiCardViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

@Html.StyleSheet(Url.WidgetContent("assets/css/bootstrap.min.css"), "head", false)
@Html.StyleSheet(Url.WidgetContent("assets/css/bootstrap-theme.min.css"), "head", false)
@Html.StyleSheet(Url.WidgetContent("assets/css/mc-styles.css"), "head", false)

<div class="o-multicard o-multicard--icons container-fluid @Model.CssClass" style="background-color: @Model.BackgroundColor!important">

    @if (!string.IsNullOrEmpty(Model.GroupHeader))
    {
        <div class="row content-padding">
            <div class="col-md-12">
                <h2 class="o-multicard__heading" role="heading">@Model.GroupHeader</h2>
            </div>
        </div>
    }

    <div class="o-multicard__cardListing" role="list">
        @for (int i = 0; i < Model.Cards.Count; i++)
        {

            <div class="o-multicard__cardListing-singleCard" role="listitem">

                @if (!string.IsNullOrEmpty(@Model.Cards[i].SelectedSizeUrl))
                {
                    <div class="o-multicard__cardListing-singleCardIconWrap">
                        <img class="o-multicard__cardListing-singleCardIcon" src="@Model.Cards[i].SelectedSizeUrl" title="@Model.Cards[i].ImageTitle" alt="@Model.Cards[i].ImageAlternativeText" role="img">
                    </div>
                }

                <p class="o-multicard__cardListing-singleCardContent">@Model.Cards[i].ActionName</p>

            </div>
        }
    </div>

    @if (!string.IsNullOrEmpty(Model.GroupActionName) && !string.IsNullOrEmpty(Model.GroupActionUrl))
    {
        <a class="o-multicard__actionBtn btn btn-lg" href="@Html.UrlSanitize(Model.GroupActionUrl)" role="button">
            @Model.GroupActionName
        </a>
    }
</div>
