@model SitefinityWebApp.Mvc.Models.MultiCard.MultiCardViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

@Html.StyleSheet(Url.WidgetContent("assets/css/bootstrap.min.css"), "head", false)
@Html.StyleSheet(Url.WidgetContent("assets/css/bootstrap-theme.min.css"), "head", false)
@Html.StyleSheet(Url.WidgetContent("assets/css/mc-styles.css"), "head", false)

<div class="o-multicard o-multicard--plainText @Model.CssClass">

    @if (!string.IsNullOrEmpty(Model.GroupHeader))
    {
        <h2 class="o-multicard__heading" role="heading">@Model.GroupHeader</h2>
    }
    <div class="o-multicard__cardListing" role="list">
        @foreach (var card in Model.Cards)
        {
            <div class="o-multicard__cardListing-singleCard jumbotron container-fluid" style="background-color: @Model.BackgroundColor!important" role="listitem">

                @if (!string.IsNullOrEmpty(card.Heading))
                {
                    <h3 class="o-multicard__heading" role="heading">@Html.HtmlSanitize(card.Heading)</h3>
                }

                @if (!string.IsNullOrEmpty(card.Description))
                {
                    <p class="o-multicard__content">
                        @Html.HtmlSanitize(card.Description)
                    </p>
                }

                @if (!string.IsNullOrEmpty(card.ActionName))
                {
                    <a class="o-multicard__actionBtn btn btn-lg" href="@Html.UrlSanitize(card.ActionUrl)" role="button">@card.ActionName</a>
                }
            </div>
        }
    </div>

    @if (!string.IsNullOrEmpty(Model.GroupActionName) && !string.IsNullOrEmpty(Model.GroupActionUrl))
    {
        <a class="o-multicard__actionBtn btn btn-lg" href="@Html.UrlSanitize(Model.GroupActionUrl)">@Model.GroupActionName</a>
    }

</div>
