@model SitefinityWebApp.Mvc.Models.MultiCard.MultiCardViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

@Html.StyleSheet(Url.WidgetContent("assets/css/bootstrap.min.css"), "head", false)
@Html.StyleSheet(Url.WidgetContent("assets/css/bootstrap-theme.min.css"), "head", false)
@Html.StyleSheet(Url.WidgetContent("assets/css/mc-styles.css"), "head", false)

<div class="o-multicard o-multicard--iconOverImage @Model.CssClass" style="background-color: @Model.BackgroundColor!important">

    @if (!string.IsNullOrEmpty(@Model.SelectedSizeUrl))
    {
        <img class="background-image img-responsive" src="@Model.SelectedSizeUrl" title="@Model.ImageTitle" alt="@Model.ImageAlternativeText" role="img">
    }

    <div class="container-fluid">
        <div class="o-multicard__cardListing" role="list">
            @for (int i = 0; i < Model.Cards.Count; i++)
            {
                <div class="o-multicard__cardListing-singleCard" role="listitem">
                    @if (!string.IsNullOrEmpty(@Model.Cards[i].SelectedSizeUrl))
                    {
                        <img class="o-multicard__cardListing-singleCardIcon" src="@Model.Cards[i].SelectedSizeUrl" title="@Model.Cards[i].ImageTitle" alt="@Model.Cards[i].ImageAlternativeText" role="img">
                    }

                    @if (!string.IsNullOrEmpty(@Model.Cards[i].ActionName))
                    {
                        <p class="o-multicard__cardListing-singleCardLabel">@Model.Cards[i].ActionName</p>
                    }

                    @if (!string.IsNullOrEmpty(@Model.Cards[i].Description))
                    {
                        <p class="o-multicard__cardListing-singleCardContent">@Model.Cards[i].Description</p>
                    }
                </div>
            }
        </div>
    </div>
</div>
