@model SitefinityWebApp.Mvc.Models.MultiCard.MultiCardViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

@Html.StyleSheet(Url.WidgetContent("assets/css/bootstrap.min.css"), "head", false)
@Html.StyleSheet(Url.WidgetContent("assets/css/bootstrap-theme.min.css"), "head", false)
@Html.StyleSheet(Url.WidgetContent("assets/css/mc-styles.css"), "head", false)

<div class="multicard icons-over-image-wrapper @Model.CssClass" style="background-color: @Model.BackgroundColor!important">

    @if (!string.IsNullOrEmpty(@Model.SelectedSizeUrl))
    {
        <img class="background-image img-responsive" src="@Model.SelectedSizeUrl" title="@Model.ImageTitle" alt="@Model.ImageAlternativeText">
    }

    <div class="container-fluid">
        <div class="row">
            @for (int i = 0; i < Model.Cards.Count; i++)
            {
                <div class="col-md-4">
                    @if (!string.IsNullOrEmpty(@Model.Cards[i].SelectedSizeUrl))
                    {
                        <img class="icons" src="@Model.Cards[i].SelectedSizeUrl" title="@Model.Cards[i].ImageTitle" alt="@Model.Cards[i].ImageAlternativeText">
                    }

                    @if (!string.IsNullOrEmpty(@Model.Cards[i].ActionName))
                    {
                        <p class="paragaph-text">@Model.Cards[i].ActionName</p>
                    }

                    <hr>

                    @if (!string.IsNullOrEmpty(@Model.Cards[i].Description))
                    {
                        <p class="content">@Model.Cards[i].Description</p>
                    }
                </div>
            }
        </div>
    </div>
</div>
