@model SitefinityWebApp.Mvc.Models.MultiCard.MultiCardViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

@Html.StyleSheet(Url.WidgetContent("assets/css/bootstrap.min.css"), "head", false)
@Html.StyleSheet(Url.WidgetContent("assets/css/bootstrap-theme.min.css"), "head", false)
@Html.StyleSheet(Url.WidgetContent("assets/css/mc-styles.css"), "head", false)
@Html.StyleSheet("//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css", "head", true)
@Html.Script("//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js", "bottom", true)

    <div class="o-multicard o-multicard--carousel container-fluid @Model.CssClass" style="background-color: @Model.BackgroundColor!important" data-slides-to-show="4">

        @if (!string.IsNullOrEmpty(Model.GroupHeader))
        {
            <div class="row content-padding">
                <div class="col-md-12">
                    <h2 class="o-multicard__heading" role="heading">@Model.GroupHeader</h2>
                </div>
            </div>
        }

        <div class="o-multicard__cardListing" role="list">
            @for (int i = 0; i < Model.Cards.Count; i++)
            {

            <div class="o-multicard__cardListing-singleCard" role="listitem">

                @if (!string.IsNullOrEmpty(@Model.Cards[i].SelectedSizeUrl))
                {
                <div class="o-multicard__cardListing-singleCardIconWrap">
                    <img class="o-multicard__cardListing-singleCardImg" src="@Model.Cards[i].SelectedSizeUrl" title="@Model.Cards[i].ImageTitle" alt="@Model.Cards[i].ImageAlternativeText" role="img">
                </div>
                }
                @if (!string.IsNullOrEmpty(@Model.Cards[i].Heading))
                {
                <h3 class="o-multicard__heading" role="heading">@Html.HtmlSanitize(Model.Cards[i].Heading)</h3>
                }
                <p class="o-multicard__cardListing-singleCardContent">@Model.Cards[i].ActionName</p>
                @if (!string.IsNullOrEmpty(@Model.Cards[i].Description))
                {
                <p class="o-multicard__content">
                    @Html.HtmlSanitize(Model.Cards[i].Description)
                </p>
                }
            </div>
            }

        </div>
        <div class="o-multicard-nav">
            <span class="o-multicard-nav__right"><i class="fas fa-chevron-right"></i></span>
            <span class="o-multicard-nav__left"><i class="fas fa-chevron-left"></i></span>
        </div>

        @if (!string.IsNullOrEmpty(Model.GroupActionName) && !string.IsNullOrEmpty(Model.GroupActionUrl))
        {
            <a class="o-multicard__actionBtn btn btn-lg" href="@Html.UrlSanitize(Model.GroupActionUrl)" role="button">
                @Model.GroupActionName
            </a>
        }
    </div>
@Html.Script(Url.WidgetContent("Mvc/Scripts/MultiCard/multicard-carousel.js"), "bottom")
