@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentDetailsViewModel

@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Web.DataResolving;

<div class="@Model.CssClass" @Html.InlineEditingAttributes(Model.ProviderName, Model.ContentType.FullName, (Guid)Model.Item.Fields.Id)>

    <div class="news-list-widget">

        @{
            var imageurl = "/images/default-source/theme-images/client-philosophy.jpg";

            foreach (var relatedItem in Model.Item.Fields.BlogImage)
            {
                if (!String.IsNullOrEmpty((string)relatedItem.Fields.ItemDefaultUrl))
                {
                    imageurl = (string)relatedItem.Fields.ItemDefaultUrl;
                }
            }
        }

        <div class="news-detail-view">
            <div class="news-detail-media">
                <img src="@imageurl" class="img-responsive" alt="@Model.Item.Fields.Title" />
            </div>



            <div class="row">
                <div class="col-sm-10">
                    <h3>
                        <span @Html.InlineEditingFieldAttributes("Title", "ShortText")>@Model.Item.Fields.Title</span>
                    </h3>

                    <div class="post-stamp">
                        @*@Model.Item.GetDateTime("PublicationDate", "MMM d, yyyy, HH:mm tt")*@
                        @Model.Item.GetDateTime("PublicationDate", "d MMM yyyy")
                        @Html.Resource("By")
                        @DataResolver.Resolve(@Model.Item.DataItem, "Author", null)
                        @Html.CommentsCount(string.Empty, @Model.Item.DataItem)
                    </div>

                    <div @Html.InlineEditingFieldAttributes("Summary", "LongText")>@Html.HtmlSanitize((string)Model.Item.Fields.Summary)</div>

                    <div @Html.InlineEditingFieldAttributes("Content", "LongText")>@Html.HtmlSanitize((string)Model.Item.Fields.Content)</div>

                    @{
                        if (Model.EnableSocialSharing)
                        {
                            var item = Model.Item.DataItem as Telerik.Sitefinity.Model.IHasTitle;
                            @Html.SocialShareOptions(item);
                        }
                    }

                    @Html.CommentsList(@Model.Item.DataItem)
                </div>


                <div class="col-lg-12">
                    <a href="/news-and-updates" class="goback">< GO BACK</a>
                    <div class="clearfix">

                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



