@model dynamic

@if (Model != null)
{
<div class="row">
    <div class="col-lg-8">
        <div class="backtoresult">
            <a href="#" id="back-to-results" role="button" title="Back to Results"><span class="prev-btn"></span>Back To Results</a>
        </div>
        @if (Model.Success == true)
        {
            <div class="job-holder">
                <div class="job-topbar">
                    @*<a href="/save-job" title="Save job">Save Job</a>
                    <a href="/share-job" title="share job">Share Job</a>
                    <a href="/Apply-now" title="Apply Now">Apply Now</a>*@
                </div>
                <div class="job-header">
                    <h1 class="page-title">@Model.Job.Title</h1>
                    @*<div class="highlight"></div>*@
                </div>
            </div>

            <div class="col-lg-4">
                <div class="job-sec2">

                </div>
            </div>

            <div class="col-lg-9">
                <div class="job-copy">
                    @Model.Job.Description
                </div>
            </div>
                

        }
        else
        {
        foreach (var message in @Model.Messages)
        {
        <div>@message</div>
        }
        }
    </div>
</div>
    

    <div class="buttons-wrapper">
        <a href="@ViewBag.JobApplicationPageUrl" id="apply-job" role="button" class="btn btn-sm">Apply</a>
    </div>
}


<script type="text/javascript">
    $(document).ready(function () {
        @{
                var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
                var json = serializer.Serialize(Model);
          }

        var previousUrl = new URL(document.referrer);
        var urlPath = previousUrl.pathname + previousUrl.search
        $("#back-to-results").attr("href", urlPath);

       // Show the 'Apply' button only to Member type users
        $("#apply-job").hide();
        var model = @Html.Raw(json);
        if (model != null && model != "undefined" && model.Success == true) {
            var roles = JSON.parse('@Html.Raw(@ViewBag.Roles)');
            var userName = @Html.Raw(Json.Encode(@ViewBag.UserName));
            if (userName !== "Anonymous" && roles !== 'undefined' && roles.length > 0) {
                for (var role of roles) {
                    if (role === "Administrators") {
                        $("#apply-job").show();
                        break;
                    }
                }

            }
        }
    });
</script>

