@model dynamic
@using Telerik.Sitefinity.Services;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers



<div class="latest-job-area internal-job">
    <div class="container">
        <div class="job-heading">
            <h2>
                <span class="name consultant-name">@Html.HtmlSanitize((string)ViewBag.ConsultantName).ToString().TrimStart().Split(' ')[0]'s</span>
                <span>Latest Activity</span>
            </h2>
        </div>

        @if (Model != null && Model.SearchResults != null && Model.SearchResults.Count > 0)
        {
            <div id="consultantJobs_slider" class="owl-carousel">
                @foreach (var jobOffer in Model.SearchResults)
                {
                    <div class="white_panel">
                        <div class="sub">
                            @{
                                var title = Html.HtmlSanitize((string)jobOffer.Title).ToString();
                                string trimTitle = !String.IsNullOrWhiteSpace(title) && title.Length >= 14 ? title.Substring(0, 14) + "..." : title;
                            }
                            <h4 class="sub_title"><a href="@ViewBag.JobDetailsPageUrl/@jobOffer.ClassificationURL/@jobOffer.JobID">@trimTitle</a></h4>
                            <div class="location">@jobOffer.CustomData["CountryLocationArea[0].Filters[0].Value"]</div>
                            @{
                                var summary = Html.HtmlSanitize((string)jobOffer.ShortDescription).ToString();
                                string trimSummary = !String.IsNullOrWhiteSpace(summary) && summary.Length >= 150 ? summary.Substring(0, 150) + "..." : summary;
                            }
                            <p>@trimSummary</p>
                            <div class="action_link">
                                <a href="@ViewBag.JobDetailsPageUrl/@jobOffer.ClassificationURL/@jobOffer.JobID">View Job</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <div class="alert alert-info text-center">There are no jobs posted by <strong>@ViewBag.ConsultantName</strong></div>
        }

        <div class="col-md-12 row-see-more">
            <div class="text-center btn-style-corner"><a class="btn btn-primary" href="@ViewBag.JobResultsPageUrl">View all jobs</a></div>
        </div>

    </div>
</div>
