@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentDetailsViewModel

@using System.Collections;
@using System.Linq;
@using Telerik.Sitefinity.Frontend.DynamicContent.WidgetTemplates.Fields.Helpers;
@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Data.ContentLinks;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Libraries.Model;
@using Telerik.Sitefinity.Localization;
@using Telerik.Sitefinity.Model;
@using Telerik.Sitefinity.Model.ContentLinks;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Pages.Model;
@using Telerik.Sitefinity.Modules.Libraries;
@using Telerik.Sitefinity.Web.DataResolving;
@using Newtonsoft.Json;

@if (Model.Item.Fields.RelatedBlog != null && Model.Item.Fields.RelatedBlog.Length > 0)
{
    <div class="consultant-latest-posts">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h2 class="heading-consultant"><span class="consultant-name"></span><span> Latest posts</span></h2>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div id="consultantPosts_slider" class="owl-carousel">
                        @foreach (var item in Model.Item.Fields.RelatedBlog)
                        {
                            var imageurl = "";
                            foreach (var relatedItem in item.Fields.BlogImage)
                            {
                                imageurl = (string)relatedItem.Fields.ItemDefaultUrl;
                            }
                            <div class="item">
                                <div class="magazine-issue">
                                    <div class="bg-corner border-corner">
                                        <div class="bg-corner-inner">
                                            <div class="magazine-cover-img">
                                                <a @Html.InlineEditingFieldAttributes("Title", "ShortText") href="@item.DefaultUrl"><img src="@imageurl" alt="@item.Fields.Title"></a>
                                            </div>
                                            @{
                                                var Summary = Html.HtmlSanitize((string)item.Fields.Summary).ToString();
                                                string trimSummary = !String.IsNullOrWhiteSpace(Summary) && Summary.Length >= 14 ? Summary.Substring(0, 70) + "..." : Summary;
                                                var Title = Html.HtmlSanitize((string)item.Fields.Title).ToString();
                                                string trimTitle = !String.IsNullOrWhiteSpace(Title) && Title.Length >= 17 ? Title.Substring(0, 17) + "..." : Title;
                                            }
                                            <div class="magazine-cover-content">
                                                <a href="@item.DefaultUrl" class="magazine-vol-name">@trimTitle</a>
                                                <div class="magazine-vol-date">
                                                    <span class="author-name">By <strong>@DataResolver.Resolve(item.DataItem, "Author", null)</strong> | </span>
                                                    <span class="pub-date">@item.GetDateTime("PublicationDate", "MMM, yyyy")</span>
                                                </div>
                                                <div class="issue-desc">@trimSummary</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-12 row-see-more">
                <div class="text-center btn-style-corner"><a class="btn btn-primary" href="/news/blog">View all posts</a></div>
            </div>
        </div>
    </div>
}
<script>
    $(document).ready(function () {
        $(".consultant-latest-posts .consultant-name").text($(".latest-job-area .consultant-name").text());
    })
</script>