@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentDetailsViewModel

@using System.Collections;
@using System.Linq;
@using Telerik.Sitefinity.Frontend.DynamicContent.WidgetTemplates.Fields.Helpers;
@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Data.ContentLinks;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Libraries.Model;
@using Telerik.Sitefinity.Localization;
@using Telerik.Sitefinity.Model;
@using Telerik.Sitefinity.Model.ContentLinks;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Pages.Model;
@using Telerik.Sitefinity.Modules.Libraries;
@using Telerik.Sitefinity.Taxonomies;
@using Telerik.Sitefinity.Taxonomies.Model;

<div class="consultant-detail full_width">
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                @if (Model.Item.Fields.Pic != null)
                {
                    <figure>
                        <img class="img-responsive" src="@MediaContentExtensions.ResolveThumbnailUrl(Model.Item.Fields.Pic.DataItem, "thumb350")">
                        <figcaption>
                            <a class="btn-small" href="/my-jobs" title="VIEW ALL MY JOBS">VIEW ALL MY JOBS</a>
                        </figcaption>
                    </figure>
                }

                <div class="clearfix"></div>

                <div class="contact">
                    <h4>RECRUITMENT CONSULTANT:</h4>
                    <p>
                        @if (!string.IsNullOrWhiteSpace(@Model.Item.Fields.PhoneNumber))
                        {
                            <a href="tel:@Model.Item.Fields.PhoneNumber" title="Call Us"><i aria-hidden="true" class="fa fa-phone"></i>@Model.Item.Fields.PhoneNumber</a>
                        }<br />

                        @if (!string.IsNullOrWhiteSpace(@Model.Item.Fields.Email))
                        {
                            <a href="mailto:@Model.Item.Fields.Email" title="Mail Us"><i aria-hidden="true" class="fa fa-envelope"></i>@Model.Item.Fields.Email</a>

                        }
                        <br />
                        @if (!string.IsNullOrWhiteSpace(@Model.Item.Fields.LinkedInProfileUrl))
                        {
                            <a href="@Model.Item.Fields.LinkedInProfileUrl" rel="noopener" target="_blank" title="Linkedin"><i aria-hidden="true" class="fab fa-linkedin-in"><span class="hidden">icon</span></i> </a>
                        }
                    </p>

                </div>
            </div>
            <div class="col-md-9 consultant-decription">

                <h3>@Html.HtmlSanitize((string)Model.Item.Fields.ConsultantName)</h3>
                <span><a href="@Model.Item.Fields.LinkedInProfileUrl" target="_blank" title="linkedin"><i class="fab fa-linkedin-in"><!-- linkedin --></i></a></span>
                <p class="job-title">@Html.HtmlSanitize((string)Model.Item.Fields.Position)</p>

                <p>@Html.HtmlSanitize((string)Model.Item.Fields.Bio)</p>

                <a class="button" href="/about/meet-the-team" title="Go Back">
                    <i aria-hidden="true" class="fa fa-angle-left"><!-- --></i> GO BACK
                </a>


            </div>



        </div>


    </div>
</div>
