@model dynamic
@using Telerik.Sitefinity.Services;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers

@{
    int jobOfferIndex = 0;
    var defaultLogo = "/ResourcePackages/Hudson/assets/dist/images/defaultLogo.png";
}

<div class="@ViewBag.CssClass">
    <div class="row same-height-wrapper">
        @foreach (var jobOffer in Model.SearchResults)
        {

            <div class="col-sm-3">

                <div class="featured-job-offer same-height-box-">
                    @*<div class="job-offer-company text-right"><img alt="" src="@defaultLogo" title="@jobOffer.Title"></div>*@

                    <div class="job-offer">
                        <h4><a class="title-link" href="@ViewBag.JobDetailsPageUrl/@jobOffer.ClassificationURL/@jobOffer.JobID">@jobOffer.Title</a></h4>

                        @{
                            string[] locationArr = { "australia", "canada", "hong kong", "new zealand", "singapore", "united states" };
                            string locationCountry = jobOffer.CustomData["CountryLocationArea[0].Filters[0].Value"];
                            var locationSubLevel = jobOffer.CustomData["CountryLocationArea[0].Filters[0].SubLevel[0].Value"];
                            var salValue = jobOffer.CustomData["Salary.Filters[0].Value"];
                            var workType = jobOffer.CustomData["WorkType.Filters[0].Value"];

                            //salary
                            var currencySal = "£";
                            var minSal = int.Parse(jobOffer.CustomData["Salary.Filters[0].Min"]);
                            var maxSal = int.Parse(jobOffer.CustomData["Salary.Filters[0].Max"]);

                            //checking if country is with $ currency symbol
                            if (!String.IsNullOrEmpty(locationCountry) && locationArr.Contains(locationCountry.ToLower().Trim()))
                            {
                                currencySal = "$";
                            }
                            //converting to thousand (k) based

                            if (minSal > 0 && minSal > 999)
                            {
                                minSal = minSal / 1000 + "k";
                            }
                            else
                            {
                                minSal = "";
                            }

                            if (maxSal > 0 && maxSal > 999)
                            {
                                maxSal = maxSal / 1000 + "k";
                            }
                            else
                            {
                                maxSal = "";
                            }

                        }

                        <div class="list-content job-proeperties-list">
                            <ul>
                                @if (minSal != maxSal)
                                {
                                    <li>
                                        <em class="fas fa-money-bill-alt"></em>@currencySal@minSal - @currencySal@maxSal @salValue
                                    </li>
                                }
                                else if (minSal == maxSal && maxSal != "")
                                {
                                    <li>
                                        <em class="fas fa-money-bill-alt"></em>@currencySal@maxSal @salValue
                                    </li>
                                }

                                <li>
                                    <em class="fas fa-map-marker-alt"></em>@locationSubLevel
                                </li>
                                <li> <em class="fas fa-briefcase"></em>@workType</li>
                            </ul>
                        </div>


                        @{
                            var summary = Html.HtmlSanitize((string)jobOffer.ShortDescription).ToString();
                            string trimSummary = !String.IsNullOrWhiteSpace(summary) && summary.Length >= 250 ? summary.Substring(0, 250) + "..." : summary;
                        }
                        @*<p class="job-offer-sum">
            @trimSummary
        </p>*@

                    </div>
                    @*<a class="btn btn-more" href="@ViewBag.JobDetailsPageUrl/@jobOffer.ClassificationURL/@jobOffer.JobID"></a>*@
                </div>

            </div>


            jobOfferIndex++;
        }

    </div>
    <div class="row row-see-more">
        <div class="col-md-12">
            <div class="text-center view-jobs-btn"><a class="btn btn-default" href="@ViewBag.JobResultsPageUrl">View all</a></div>
        </div>
    </div>
</div>

