@model Telerik.Sitefinity.Frontend.Card.Mvc.Models.Card.CardViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<img src="@Model.SelectedSizeUrl" alt="@Html.HtmlSanitize(Model.Heading)">
<h3 class="title">@Html.HtmlSanitize(Model.Heading)</h3>
<p>@Html.HtmlSanitize(Model.Description)</p>
@if (!string.IsNullOrEmpty(Model.ActionName))
{
    <a href="@Html.UrlSanitize(Model.ActionUrl)" class="read_btn"><span>@Model.ActionName</span></a>
}