@model Telerik.Sitefinity.Frontend.Card.Mvc.Models.Card.CardViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<div class="@Model.CssClass partner-item">
    <div>
        <div class="click-part">
            @if (Model.SelectedSizeUrl != null)
            {
            <img src="@Model.SelectedSizeUrl" alt="@Html.HtmlSanitize(Model.Heading)">
            }
            <h3>@Html.HtmlSanitize(Model.Heading)</h3>
        </div>
        <div class="partner-popup">
            @Html.HtmlSanitize(Model.Description)
        </div>
    </div>
</div>