@model Telerik.Sitefinity.Frontend.Card.Mvc.Models.Card.CardViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<div class="@Model.CssClass full_width team-intro-section" style="background-image: url(@Model.SelectedSizeUrl);">
    <div class="container">
        <h2>
            @Html.HtmlSanitize(Model.Heading)
        </h2>
        @if (!string.IsNullOrEmpty(Model.ActionName))
        {
            <a href="@Html.UrlSanitize(Model.ActionUrl)" class="btn subscribe-btn"><span>@Model.ActionName</span></a>
        }
    </div>
</div>