@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Web.DataResolving;
@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Model;
@using Telerik.Sitefinity.Taxonomies;
@using Telerik.Sitefinity.Taxonomies.Model;

<ul id="wt-slider" class="owl-carousel">
    @foreach (var item in Model.Items)
    {

        var imageurl = "";
        foreach (var relatedItem in item.Fields.NewsImage)
        {
            imageurl = (string)relatedItem.Fields.ItemDefaultUrl;
        }
        var navigateUrl = HyperLinkHelpers.GetDetailPageUrl(item, ViewBag.DetailsPageId, ViewBag.OpenInSamePage, Model.UrlKeyPrefix);
        <li>
            <a href="@navigateUrl" class="image" style="background-image: url(@imageurl);"></a>

            <div class="post-info">

                <div class="entry-meta">
                    @if (item.Fields.Category != null)
                    {
                        foreach (var taxon in item.GetHierarchicalTaxons("Category"))
                        {
                            var url = "/news/-in-category/categories" + @taxon.FullUrl;
                            <span class="entry-cats"><span class="main-color-bg cat5"><a href="@url">@taxon.Title.ToString()</a></span></span>
                        }
                    }
                </div>

                <div class="title">
                    <h3>
                        <a href="@navigateUrl">@item.Fields.Title</a>
                    </h3>
                </div>

                <div class="post-excerpt">
                    @Html.HtmlSanitize((string)item.Fields.Summary)
                </div>

                <div class="more">
                    <a href="@navigateUrl">Read more</a>
                </div>

            </div>

        </li>
    }
</ul>