@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Web.DataResolving;
@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Model;
@using Telerik.Sitefinity.Taxonomies;
@using Telerik.Sitefinity.Taxonomies.Model;



<div class="article-slider owl-carousel">
    @foreach (var item in Model.Items)
    {
        var imageurl = "";
        foreach (var relatedItem in item.Fields.EventImage)
        {
            imageurl = (string)relatedItem.Fields.ItemDefaultUrl;
        }
        var navigateUrl = HyperLinkHelpers.GetDetailPageUrl(item, ViewBag.DetailsPageId, ViewBag.OpenInSamePage, Model.UrlKeyPrefix);
        var summary = (@Html.HtmlSanitize((string)item.Fields.Summary)).ToString();
        if (@Html.HtmlSanitize((string)item.Fields.Summary).ToString().Length > 130)
        {
            summary = (@Html.HtmlSanitize((string)item.Fields.Summary)).ToString().Substring(0, 128);
        }
        var title = (@Html.HtmlSanitize((string)item.Fields.Title)).ToString();
        if (@Html.HtmlSanitize((string)item.Fields.Title).ToString().Length > 40)
        {
            title = (@Html.HtmlSanitize((string)item.Fields.Summary)).ToString().Substring(0, 40);
        }
        <div class="white_panel">
            <div class="sub">
                <p class="blue_text"><a @Html.InlineEditingFieldAttributes("Title", "ShortText") href="@navigateUrl">@title</a></p>
                <p>@summary</p>
                <div class="action_link">
                    <a href="@navigateUrl">Read Events</a>
                </div>
            </div>
        </div>
    }
</div>

