@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel

@using Telerik.Sitefinity.Frontend.Events.Mvc.Helpers
@using Telerik.Sitefinity.Frontend.Mvc.Helpers
@using Telerik.Sitefinity.Modules.Pages
@using Telerik.Sitefinity.Web.DataResolving

@Html.Script(ScriptRef.JQuery, "top", false)


@{
    var singlenews = Model.Items.FirstOrDefault();
    var imageurl = "";
    var navigateUrl = "#";
    if (singlenews != null)
    {
        foreach (var relatedItem in singlenews.Fields.NewsImage)
        {
            imageurl = (string)relatedItem.Fields.ItemDefaultUrl;
        }
        navigateUrl = HyperLinkHelpers.GetDetailPageUrl(singlenews, ViewBag.DetailsPageId, ViewBag.OpenInSamePage);
    }
}
@if (singlenews != null)
{
    <div class="article @Model.CssClass">
        <div class="image">
            <a href="@navigateUrl"><img src="@imageurl" alt="image"></a>
        </div>
        <div class="text">
            <div class="sub">
                <h4 class="sub_title"><a @Html.InlineEditingFieldAttributes("Title", "ShortText") href="@navigateUrl">@singlenews.Fields.Title</a></h4>
                <div class="date_author">
                    @singlenews.GetDateTime("PublicationDate", "MMM, d yyyy, HH:mm tt")
                </div>
                <p>@Html.HtmlSanitize((string)singlenews.Fields.Summary)</p>
                <a href="@navigateUrl" class="action_link">Read More</a>

                @if (singlenews.Fields.Category != null)
                {
                    foreach (var taxon in singlenews.GetHierarchicalTaxons("Category"))
                    {<br /><br />
                        var url = "/news/-in-category/categories" + @taxon.FullUrl;
                        <span class="cat">
                            <span class="main-color-bg cat5"></span><a href="@url">@taxon.Title.ToString()</a>
                        </span>
                    }
                }
            </div>
        </div>

    </div>
}
else
{
    <div class="alert alert-warning"><strong>No results found.</strong></div>
}