@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Web.DataResolving;
@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Model;
@using Telerik.Sitefinity.Taxonomies;
@using Telerik.Sitefinity.Taxonomies.Model;


@{
    var featuredNews = Model.Items.FirstOrDefault();
}
@if (featuredNews != null)
{

    var imageurl = "";
    foreach (var relatedItem in featuredNews.Fields.NewsImage)
    {
        imageurl = (string)relatedItem.Fields.ItemDefaultUrl;
    }
    var navigateUrl = HyperLinkHelpers.GetDetailPageUrl(featuredNews, ViewBag.DetailsPageId, ViewBag.OpenInSamePage, Model.UrlKeyPrefix);
    var summary = (@Html.HtmlSanitize((string)featuredNews.Fields.Summary)).ToString();
    if (@Html.HtmlSanitize((string)featuredNews.Fields.Summary).ToString().Length > 130)
    {
        summary = (@Html.HtmlSanitize((string)featuredNews.Fields.Summary)).ToString().Substring(0, 128);
    }
    <div class="white_panel">
        <div class="sub">

            <p class="blue_text"><a @Html.InlineEditingFieldAttributes("Title", "ShortText") href="@navigateUrl">@featuredNews.Fields.Title</a></p>
            <p>@summary</p>
            <div class="action_link">
                <a href="@navigateUrl">View News</a>
            </div>
        </div>
    </div>
}

