@model Telerik.Sitefinity.Frontend.Navigation.Mvc.Models.SiteSelector.SiteSelectorViewModel

@using Telerik.Sitefinity.Frontend.Navigation.Mvc.Models.SiteSelector
@using Telerik.Sitefinity.Services;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;

<div class="o-site-selector o-site-selector--inline @(!SystemManager.IsDesignMode?"js-site-selector":"") @Model.CssClass">
    <ul role="list">
        @{
            string currentSite = string.Empty;
        }

        @foreach (var site in Model.Sites)
        {
            string linkText = String.Empty;

            if (!Model.EachLanguageAsSeparateSite)
            {
                linkText = site.Name;
            }
            else if (Model.SiteLanguagesDisplayMode == SiteLanguagesDisplayMode.SiteNamesAndLanguages)
            {
                linkText = String.Format("{0} - {1}", site.Name, site.Language);
            }
            else
            {
                linkText = site.Language;
            }

            if (!Model.EachLanguageAsSeparateSite)
            {
                <li role="listitem">
                    <a 
                       data-url="@site.Url"
                       class="@(site.IsCurrent ? "o-site-selector__link o-site-selector__link--selected" : "")"
                    >
                        @linkText
                    </a>
                </li>
            }
        }
    </ul>
</div>

@Html.Script(Url.WidgetContent("Mvc/Scripts/SiteSelector/site-selector.js"), "bottom", false)
