@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel

@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Frontend.Media.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Frontend.Media.Mvc.Models.ImageGallery;

@Html.Script(ScriptRef.JQuery, "top")

<div class="@Model.CssClass jn_imageGallery">
    <div class="container">
        <div class="image-scroller">
        @foreach (var item in Model.Items)
        {
            var thumbnailViewModel = (ThumbnailViewModel)item;

            <img src="@(thumbnailViewModel.ThumbnailUrl)" alt='@System.Text.RegularExpressions.Regex.Replace(item.Fields.AlternativeText, @"[^\w\d_-]", "")'
            @Html.GetWidthAttributeIfExists(thumbnailViewModel.Width)
            @Html.GetHeightAttributeIfExists(thumbnailViewModel.Height) />
            
        }
        </div>
    </div>
</div>
