@model Telerik.Sitefinity.Frontend.Navigation.Mvc.Models.LanguageSelector.LanguageSelectorViewModel

@using Telerik.Sitefinity.Services;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;

<div class="o-language-selector o-language-selector--inline @(!SystemManager.IsDesignMode?"js-language-selector":"") @Model.CssClass">
    <ul role="list">
        @foreach (var language in Model.Languages)
        {
            <li role="listitem">
                <a data-culture="@language.Culture" class="@(Model.CurrentLanguage == language.Culture?"o-language-selector__link o-language-selector__link--selected":"")">@language.DisplayName</a>
            </li>
        }
    </ul>
</div>

@Html.Script(Url.WidgetContent("Mvc/Scripts/LanguageSelector/script.js"), "bottom", false)