@model Telerik.Sitefinity.Frontend.Card.Mvc.Models.Card.CardViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers
<div class="o-step @Model.CssClass">
    <img src="@Model.SelectedSizeUrl" alt="@Model.ImageAlternativeText">
    <div class="o-step__txt">
        <h3>@Html.HtmlSanitize(Model.Heading)</h3>
        <p>@Html.HtmlSanitize(Model.Description)</p>

        @if (!string.IsNullOrEmpty(Model.ActionName))
        {
            <p><a href="@Html.UrlSanitize(Model.ActionUrl)" class="btn btn-primary" role="button">@Model.ActionName</a></p>
        }
    </div>
</div>