﻿@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<div ng-controller="SimpleCtrl">
    <uib-tabset class="nav-tabs-wrapper">
        <uib-tab heading="General">
            <div class="form-group">
                <label for="templateName">@Html.Resource("Template")</label>
                <div class="row">
                    <div class="col-xs-6">
                        <select id="templateName" ng-model="properties.TemplateName.PropertyValue" class="form-control">
                            @foreach (var viewName in Html.GetViewNames("SocialHandler", @"SocialHandler\.(?<viewName>\w*)$"))
                            {
                                <option value="@viewName"> @viewName.SplitCamelCase()</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="navCssClass">@Html.Resource("CssClasses")</label>
                <input type="text" id="navCssClass" ng-model="properties.CssClass.PropertyValue" class="form-control" />
            </div>

            <div class="form-group">
                <label>@Html.Resource("DisplaySuccess")</label>
                <sf-list-selector sf-page-selector sf-selected-item-id="properties.JobApplicationSuccessPageId.PropertyValue" sf-select-button-text="@Html.Resource("SelectSuccessPage")"></sf-list-selector>
            </div>

            <div class="form-group">
                <label>@Html.Resource("SearchResultsPage")</label>
                <sf-list-selector sf-page-selector sf-selected-item-id="properties.JobSearchResultsPageId.PropertyValue" sf-select-button-text="@Html.Resource("SelectResultsPage")"></sf-list-selector>
            </div>

        </uib-tab>

        <uib-tab heading="Email Template">
            <label>@Html.Resource("EmailSubject")</label>
            <input type="text" ng-model="properties.EmailTemplateEmailSubject.PropertyValue" class="form-control" /><br /><br />

            <label>@Html.Resource("SenderName")</label>
            <input type="text" ng-model="properties.EmailTemplateSenderName.PropertyValue" class="form-control" /><br /><br />

            <label>@Html.Resource("SenderEmailAddress")</label>
            <input type="text" ng-model="properties.EmailTemplateSenderEmailAddress.PropertyValue" class="form-control" /><br /><br />

            <label>@Html.Resource("EmailCC")</label>
            <input type="text" ng-model="properties.EmailTemplateCC.PropertyValue" class="form-control" /><br /><br />

            <label>@Html.Resource("EmailBCC")</label>
            <input type="text" ng-model="properties.EmailTemplateBCC.PropertyValue" class="form-control" /><br /><br />

            <label>@Html.Resource("EmailTemplateIdResource")</label>
            <input type="text" ng-model="properties.EmailTemplateId.PropertyValue" class="form-control" /><br /><br />


            <label>@Html.Resource("SelectEmailTemplate")</label>
            <sf-list-selector sf-multiselect="false" sf-dynamic-items-selector sf-item-type="properties.ItemType.PropertyValue" sf-identifier-field="Title" sf-master="true"
                              sf-selected-item-name="properties.EmailTemplateName.PropertyValue"
                              sf-selected-item-id="properties.EmailTemplateId.PropertyValue"
                              sf-provider="properties.EmailTemplateProviderName.PropertyValue" />


            <label>@Html.Resource("SelectAdvertiserEmailTemplate")</label><br /><br />
            <label>@Html.Resource("AdvertiserEmailCC")</label>
            <input type="text" ng-model="properties.AdvertiserEmailTemplateCC.PropertyValue" class="form-control" /><br /><br />

            <label>@Html.Resource("AdvertiserEmailBCC")</label>
            <input type="text" ng-model="properties.AdvertiserEmailTemplateBCC.PropertyValue" class="form-control" /><br /><br />

            <label>@Html.Resource("EmailSubject")</label>
            <input type="text" ng-model="properties.AdvertiserEmailTemplateEmailSubject.PropertyValue" class="form-control" /><br /><br />

            <sf-list-selector sf-multiselect="false" sf-dynamic-items-selector sf-item-type="properties.ItemType.PropertyValue"
                              sf-identifier-field="Title" sf-master="true"
                              sf-selected-item-name="properties.AdvertiserEmailTemplateName.PropertyValue"
                              sf-selected-item-id="properties.AdvertiserEmailTemplateId.PropertyValue"
                              sf-provider="properties.AdvertiserEmailTemplateProviderName.PropertyValue" />

            <label>@Html.Resource("AdvertiserEmailTemplateIdResource")</label>
            @*<input type="text" ng-model="properties.AdvertiserEmailTemplateId.PropertyValue" class="form-control" /><br /><br />*@
            <label>@Html.Resource("SelectRegistrationEmailTemplate")</label><br /><br />
            <label>@Html.Resource("RegistrationEmailCC")</label>
            <input type="text" ng-model="properties.RegistrationEmailTemplateCC.PropertyValue" class="form-control" /><br /><br />

            <label>@Html.Resource("RegistrationEmailBCC")</label>
            <input type="text" ng-model="properties.RegistrationEmailTemplateBCC.PropertyValue" class="form-control" /><br /><br />

            <label>@Html.Resource("EmailSubject")</label>
            <input type="text" ng-model="properties.RegistrationEmailTemplateEmailSubject.PropertyValue" class="form-control" /><br /><br />

            <sf-list-selector sf-multiselect="false" sf-dynamic-items-selector sf-item-type="properties.ItemType.PropertyValue"
                              sf-identifier-field="Title" sf-master="true"
                              sf-selected-item-name="properties.RegistrationEmailTemplateName.PropertyValue"
                              sf-selected-item-id="properties.RegistrationEmailTemplateId.PropertyValue"
                              sf-provider="properties.RegistrationEmailTemplateProviderName.PropertyValue" />


        </uib-tab>
        
    </uib-tabset>
</div>