@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.LoginForm.ForgotPasswordViewModel

@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<div class="@Model.CssClass basic-form">

    <h3>@Html.Resource("ForgotPasswordHeader")</h3>

    @if (Model.EmailSent)
    {
        <p>@Html.Resource("ForgotPasswordRequestSent") <i>@Html.Encode(Model.Email)</i></p>

        <p>@Html.Resource("ForgotPasswordRequestSentUseLink")</p>

        <a href="@Model.LoginPageUrl" class="btn btn-default">@Html.Resource("ForgotPasswordBackToLogin")</a>
    }
    else
    {
        using (Html.BeginForm("SendPasswordResetEmail", "LoginForm"))
        {

            <p>@Html.Resource("EnterLoginEmailAddress")</p>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-4 text-right">
                        <label class="form-label">@Html.Resource("ForgotPasswordEmail")</label>
                    </div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(u => u.Email, new { @class = "form-control fpEmail", @placeholder = "Enter your email address" })
                        @*@Html.ValidationMessage("Email", "Please enter your email address.", new { @class = "text-danger" })*@
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="row">
                    <div class="col-md-4 text-right">
                        
                    </div>
                    <div class="col-md-8 has-error fpPassword">
                        <span class="help-block fpPasswordspan"></span>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <div class="btn-block">
                        <button type="submit" class="btn btn-primary fpButton">@Html.Resource("ForgotPasswordSendButton")</button>
                    </div>
                </div>
            </div>
        }
    }

</div>
<script>
    //quick solution to remove/hide one of the login form widget for forgot password page
    if (window.location.pathname.indexOf('ForgotPassword') > -1) {
        $('.loginwith_socialmedia').remove();
    }
    var emailReg = /^([\w-\.]+@@([\w-]+\.)+[\w-]{2,4})?$/;
    
    var my_submit_allowed = false;
   
    $('.fpButton').click(function (e) {
        
            var data = $('.fpEmail').val();
            if (data == "") {
                $('.fpPasswordspan').text("This field is required.");
                e.preventDefault();
                return false;
                   
            }
            else if (!emailReg.test(data)) {
                $('.fpPasswordspan').text('');
               
                $('.fpPasswordspan').text("Please enter a valid email address ");
                e.preventDefault();
                return false;
            }
            else {

                $('.fpPasswordspan').text('');

                $(".fpButton").removeAttr("disabled");
                
                
               
                $(".basic-form").submit(function () {
                    if (my_submit_allowed == false) {
                        return true;
                    }
                    
                });

        }


    });
    $(".fpEmail").on("keyup", function () {
        if ($(this).val() != "") {
            $(".fpButton").removeAttr("disabled");
            $('.fpPasswordspan').text("");
            
        } else if ($(this).val() == "") {
            $(".fpButton").removeAttr("disabled");

        }
    });

</script>
