@model Telerik.Sitefinity.Frontend.Media.Mvc.Models.DocumentsList.DocumentDetailsViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Web.DataResolving;

@* Document details page *@
<div class="o-document-detail @Model.CssClass" role="group">
    <h1 role="heading">@Model.Item.Fields.Title</h1>

    @* document publisher / date info *@
    <div class="o-document-detail__published-text" aria-label="Document publication date and author">
        <span class="sr-only">@Html.Resource("PublishedOn") </span>
        @Model.Item.GetDateTime("PublicationDate", "MMM d, yyyy, HH:mm tt")
        @Html.Resource("By")
        @DataResolver.Resolve(@Model.Item.DataItem, "Author", null)
    </div>

    @* document description *@
    @if (!String.IsNullOrWhiteSpace(Model.Item.Fields.Description)) { 
        <div class="o-document-detail__desc" aria-label="Document description">@Model.Item.Fields.Description</div>
    }

    @* document info *@
    <div class="o-document-detail__file-text">
        <a href="@Model.Item.Fields.MediaUrl" target="_blank">Download <span class="sr-only">@Model.Item.Fields.Title</span></a>
        <span aria-label="Document extension">(@Model.Extension)</span>
        <span aria-label="Document file size">@(Math.Ceiling((double)Model.Item.Fields.TotalSize / 1024) + " KB")</span>
    </div>
</div>