@model Telerik.Sitefinity.Frontend.DynamicContent.Mvc.Models.DynamicContentListViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Libraries.Model;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.RelatedData;
@using JXTNext.Sitefinity.Media.Mvc.Helpers;

<div class="c-person-list @Model.CssClass">
    @foreach (var item in Model.Items)
    {
        var navigateUrl = HyperLinkHelpers.GetDetailPageUrl(item, ViewBag.DetailsPageId, ViewBag.OpenInSamePage, Model.UrlKeyPrefix);
        var profileImage = new Image();
        // Get the feature image
        if (item.Fields.Images != null)
        {
            profileImage = item.DataItem.GetRelatedItems<Image>("Images").FirstOrDefault();
        }
        <article class="c-person-item" @Html.InlineEditingAttributes(Model.ProviderName, Model.ContentType.FullName, (Guid)item.Fields.Id)>
            @*Start feature image*@
            @if (profileImage != null)
            {
                <a href="@navigateUrl" class="c-person-item__img-wrp">
                    @Html.ImgTag(profileImage, (string)item.Fields.Name, "pers-list").WithCssClass("c-person-item__img")
                </a>
            }
            @*End feature image*@
            <div class="c-person-item__info">
                <h3 class="c-person-item__name">
                    <a @Html.InlineEditingFieldAttributes("Name", "ShortText") href="@navigateUrl">
                        @item.Fields.Name
                    </a>
                </h3>
                <div class="c-person-item__position" @Html.InlineEditingFieldAttributes("Position", "ShortText")>
                    @item.Fields.Position
                </div>
                <div class="c-person-item__descr">@item.Fields.Description</div>
                <ul class="o-contact-info o-contact-info--profile-list">
                    @if (item.Fields.DirectPhone != null && !string.IsNullOrWhiteSpace(item.Fields.DirectPhone))
                    {
                        <li class="o-contact-info__item o-contact-info__item--phone">
                            <span class="o-contact-info__lbl">@Html.Resource("Phone", "JxtAuthoringResources"):</span>
                            <a class="o-contact-info__lnk" target="_blank" href="@string.Format("tel:{0}", item.Fields.DirectPhone)" @Html.InlineEditingFieldAttributes("DirectPhone", "ShortText")>@item.Fields.DirectPhone</a>
                        </li>
                    }
                    @if (item.Fields.Mobile != null && !string.IsNullOrWhiteSpace(item.Fields.Mobile))
                    {
                        <li class="o-contact-info__item o-contact-info__item--mobile">
                            <span class="o-contact-info__lbl">@Html.Resource("Mobile", "JxtAuthoringResources"):</span>
                            <a class="o-contact-info__lnk" target="_blank" href="@string.Format("tel:{0}", item.Fields.Mobile)" @Html.InlineEditingFieldAttributes("Mobile", "ShortText")>@item.Fields.Mobile</a>
                        </li>
                    }
                    @if (item.Fields.EmailAddress != null && !string.IsNullOrWhiteSpace(item.Fields.EmailAddress))
                    {
                        <li class="o-contact-info__item o-contact-info__item--email">
                            <span class="o-contact-info__lbl">@Html.Resource("Email", "JxtAuthoringResources"):</span>
                            <a class="o-contact-info__lnk" target="_blank" href="@string.Format("mailto:{0}", item.Fields.EmailAddress)" @Html.InlineEditingFieldAttributes("EmailAddress", "ShortText")>@item.Fields.EmailAddress</a>
                        </li>
                    }
                </ul>
                <ul class="o-social-info o-social-info--profile-list">
                    @if (item.Fields.LinkedInProfileName != null && !string.IsNullOrWhiteSpace(item.Fields.LinkedInProfileName))
                    {
                        <li class="o-social-info__item o-social-info__item--linkedin">
                            <span class="o-social-info__lbl">@Html.Resource("LinkedIn", "JxtAuthoringResources"):</span>
                            <a class="o-social-info__lnk" target="_blank" href="@string.Format("https://www.linkedin.com/in/{0}/", item.Fields.LinkedInProfileName)" @Html.InlineEditingFieldAttributes("LinkedInProfileName", "ShortText")>@item.Fields.LinkedInProfileName</a>
                        </li>
                    }
                    @if (item.Fields.TwitterUsername != null && !string.IsNullOrWhiteSpace(item.Fields.TwitterUsername))
                    {
                        <li class="o-social-info__item o-social-info__item--twitter">
                            <span class="o-social-info__lbl">@Html.Resource("Twitter", "JxtAuthoringResources"):</span>
                            <a class="o-social-info__lnk" target="_blank" href="@string.Format("https://twitter.com/{0}", item.Fields.TwitterUsername)" @Html.InlineEditingFieldAttributes("TwitterUsername", "ShortText")>@item.Fields.TwitterUsername</a>
                        </li>
                    }
                </ul>
                @Html.CommentsCount("", item.DataItem)
            </div>
        </article>
    }
    @if (Model.ShowPager)
    {
        @Html.Action("Index", "ContentPager", new
        {
            currentPage = Model.CurrentPage,
                        totalPagesCount = Model.TotalPagesCount.Value,
                        redirectUrlTemplate = ViewBag.RedirectPageUrlTemplate
        })
    }
</div>