@model Telerik.Sitefinity.Frontend.Taxonomies.Mvc.Models.TaxonomyViewModel
@*<p><p>@Newtonsoft.Json.JsonConvert.SerializeObject(Model)</p></p>*@

<div class="dropdown-tree">
    <ul class="@Model.CssClass">

        @foreach (var taxon in Model.Taxa)
        {

            var className = taxon.Url;
            className = className.Substring(className.LastIndexOf("/") + 1);
            <li>
                <label for="@taxon.Title" >
                    <input class="parent-blog-category @className" id="@taxon.Title" name="" type="checkbox" data-url="@taxon.Url" />
                    <i></i>
                    <span>
                        @taxon.Title
                    </span>
                </label>
            </li>
            @*
                <li>
                    <a href="@taxon.Url" style="white-space: normal; display: block;">@taxon.Title</a>

                    @if (Model.ShowItemCount)
                    {

                    <span class="text-muted">@Html.Raw(string.Format("({0})", taxon.Count))</span>

                    }
                </li>*@

        }
    </ul>
</div>
<script>
    if ($('.parent-blog-category').length) {
        $('.parent-blog-category').on('click', function () {
            if ($('.parent-blog-category').is(':checked')) {
                window.location = $(this).data('url');
            } else {
                var blogPath = $(this).data('url').substring(0, $(this).data('url').indexOf('-in-'));
                window.location = blogPath;
            }
        });
    }
    
</script>