@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentDetailsViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

<div class="bullhorn_section full-width">
    <div class="container">
        <div class="row flex-div">
            <div class="col-lg-5 col-md-6 col-12">
                <div class="bullhormn-marketplace">
                    @*Get Large image: AK*@
                    @foreach (var relatedItem in Model.Item.Fields.ImageLarge)
                    {
                        <img src="@relatedItem.Fields.MediaUrl" alt="@relatedItem.Fields.Title" />
                    }
                    <div id="quote-carousel" class="owl-carousel">
                        @foreach (var testimonial in Model.Item.Fields.Testimonials)
                        {
                            <div class="item active">
                                <p>
                                    @{
                                        var quote = Html.HtmlSanitize((string)testimonial.Fields.Quote).ToString();
                                        string trimQuote = !String.IsNullOrWhiteSpace(quote) && quote.Length >= 140 ? quote.Substring(0, 140) + "..." : quote;
                                    }
                                    @Html.HtmlSanitize((string)trimQuote)
                                </p>
                                <div class="testimonials-sec">
                                    <div class="img"></div>
                                    <div class="text">
                                        <h6>@testimonial.Fields.By</h6>
                                        <span>Chief Executive Officer</span>
                                        <em>GRMSearch</em>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="col-lg-7 col-md-6 col-12 bg-gray">
                <div class="bullhorn-recruitment">@Html.HtmlSanitize((string)Model.Item.Fields.Description)</div>
            </div>
        </div>
    </div>
</div>