@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<div ng-controller="SimpleCtrl">

            <label>@Html.Resource("DisplayJobDetails")</label>

            <div class="form-group">
                <p class="description-note">
                    @Html.Resource("DropJobDetails")
                </p>
                <sf-list-selector sf-page-selector sf-selected-item-id="properties.DetailsPageId.PropertyValue" sf-select-button-text="Select a page"></sf-list-selector>
            </div>

            <div class="form-group">
                <label>@Html.Resource("DisplayJobSearchResults")</label>

                <p class="description-note">
                    @Html.Resource("DropJobSearchResults")
                </p>
                <sf-list-selector sf-page-selector sf-selected-item-id="properties.ResultsPageId.PropertyValue" sf-select-button-text="Select a page"></sf-list-selector>
            </div>

            <br />

            <div>
                <label>@Html.Resource("PageSize")</label>
                <input ng-model="properties.PageSize.PropertyValue" type="text" class="form-control" />
            </div>

            <br />

            <div>
                <label>@Html.Resource("SortOrder")</label>
                <select id="sortOrder" ng-model="properties.Sorting.PropertyValue" class="form-control">
                    <option selected="selected" value="Relevance">@Html.Resource("SortByRelevance")</option>
                    <option value="Recent">@Html.Resource("SortByRecent")</option>
                    <option value="Old">@Html.Resource("SortByOldest")</option>
                    <option value="A-Z">@Html.Resource("SortByAlphaAZ")</option>
                    <option value="Z-A">@Html.Resource("SortByAlphaZA")</option>
                    <option value="SalaryHighToLow">@Html.Resource("SortBySalHighToLow")</option>
                    <option value="SalaryLowToHigh">@Html.Resource("SortBySalLowToHigh")</option>
                </select>
            </div>
            <br />


            <expander expander-title="@Html.Resource("MoreOptions")">

                <div class="form-group">
                    <label for="templateName">@Html.Resource("Template")</label>
                    <div class="row">
                        <div class="col-xs-6">
                            <select id="templateName" ng-model="properties.TemplateName.PropertyValue" class="form-control">
                                @foreach (var viewName in Html.GetViewNames("Consultant", @"^ConsultantJobs\.(?<viewName>[\w\s]*)$"))
                                {
                                    <option value="@viewName"> @viewName.SplitCamelCase()</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>

                <style-dropdown selected-class="properties.CssClass.PropertyValue"></style-dropdown>
                <div class="form-group">
                    <label for="navCssClass">@Html.Resource("CssClasses")</label>
                    <input type="text" id="navCssClass" ng-model="properties.CssClass.PropertyValue" class="form-control" />
                </div>
            </expander>

    </div>
