@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<uib-tabset class="nav-tabs-wrapper">
    <uib-tab heading="@Html.Resource("SearchSettings")">
        <div ng-controller="SimpleCtrl">
            <script type="text/ng-template" id="categoryTree">
                <a ng-click="clickEvent(category,$event)"><span class="glyphicon glyphicon-ok" ng-show="isSelected(category)"></span>{{ category.Label }}</a>
                <ul ng-if="category.Filters">
                    <li ng-repeat="category in category.Filters|filter:searchtext" ng-include="'categoryTree'">
                    </li>
                </ul>
            </script>
            <div class="form-group" data-ng-repeat="row in rows">
                <div class="row">
                    <div class="col-sm-6">
                        <select class="form-control" ng-model="row.ControlType" ng-options="x for x in componentTypeList" ng-change="onControlTypeChange(row)">
                            <option value="" disabled selected ng-show="!row.ControlType">-- Select Control Type --</option>
                        </select>
                    </div>
                    <div class="col-sm-6">
                        <select class="form-control" ng-model="row.FilterType" ng-options="x for x in FilterTypes" ng-change="onFilterChange(row)" ng-disabled="row.ControlType == 'Map Search' || row.ControlType == 'TextBox'">
                            <option value="" disabled selected ng-show="!row.FilterType">-- Select Filter Type --</option>
                        </select>
                    </div>

                    <div class="col-sm-6">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle form-control text-left" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" ng-disabled="row.ControlType == 'Map Search' || row.ControlType == 'TextBox'">
                                --- Select Values ---
                                <span class="caret pull-right"></span>
                            </button>
                            <ul class="dropdown-menu" style="max-height: 200px;overflow-y: scroll;min-width:550px;">
                                <input type="text" class="form-control" ng-model="searchtext" ng-click="filterClick()" />
                                <li ng-repeat="category in row.Filters" ng-include="'categoryTree'" ng-click="clickValuesMulti(category, $event)"></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <select class="form-control" ng-model="row.DefaultValue" ng-options="x for x in row.ddlList" ng-change="onDefaultValueChange()" ng-show="false" ng-disabled="row.ControlType == 'Map Search' || row.ControlType == 'TextBox'"></select>
                    </div>
                    <div class="col-sm-6">
                        <input type="text" ng-model="row.PlaceholderText" class="form-control" placeholder="Enter Placeholder text" ng-disabled="row.ControlType == 'Map Search'" />
                    </div>

                    <div class="button-wrapper col-sm-12">
                        <button class="btn btn-danger" id="row.ID" ng-click="removeRow(row.RowId)">
                            @Html.Resource("JobParamDelete", "JobSearchResources")
                        </button>
                    </div>
                </div>
            </div>

            <br />
            <br />
            <div class="btn btn-primary" ng-click="addNewRow()">@Html.Resource("JobParamAdd", "JobSearchResources")</div>

        </div>

        <div>
            <input type="text" ng-model="properties.SearchConfig.PropertyValue" style="display:none" />
        </div>
    </uib-tab>
    <uib-tab heading="@Html.Resource("WidgetSettings")">
        <div class="form-group">
            <label>@Html.Resource("DisplayJobSearchResults", "JobSearchResources")</label>

            <p class="description-note">
                @Html.Resource("DropJobSearchResults", "JobSearchResources")
            </p>
            <sf-list-selector sf-page-selector sf-selected-item-id="properties.ResultsPageId.PropertyValue" sf-select-button-text="Select a page"></sf-list-selector>
        </div>
        <div class="form-group">
            <label>@Html.Resource("SelectAdvancedSearchPage")</label>
            <p class="description-note">
                @Html.Resource("AdvancedSearchPageDescription")
            </p>
            <sf-list-selector sf-page-selector sf-selected-item-id="properties.AdvancedSearchPageId.PropertyValue" sf-select-button-text="Select a page"></sf-list-selector>
        </div>

        <expander expander-title="@Html.Resource("MoreOptions", "JobSearchResources")">

            <div class="form-group">
                <label for="templateName">Template</label>
                <div class="row">
                    <div class="col-xs-6">
                        <select id="templateName" ng-model="properties.TemplateName.PropertyValue" class="form-control">
                            @foreach (var viewName in Html.GetViewNames("JobSearch", @"JobSearch\.(?<viewName>\w*)$"))
                            {
                                <option value="@viewName"> @viewName.SplitCamelCase()</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

            <style-dropdown selected-class="properties.CssClass.PropertyValue"></style-dropdown>

            <div class="form-group">
                <label for="navCssClass">@Html.Resource("CssClasses", "JobSearchResources")</label>
                <input type="text" id="navCssClass" ng-model="properties.CssClass.PropertyValue" class="form-control" />
            </div>

            <div class="form-group">
                <label for="navCssClass">@Html.Resource("PrefixIdText", "JobSearchResources")</label>
                <input type="text" id="navCssClass" ng-model="properties.PrefixIdText.PropertyValue" class="form-control" />
            </div>
        </expander>

    </uib-tab>
</uib-tabset>