@model dynamic

@if (Model != null)
{
<a href="#" id="back-to-results" class="btn btn-default" role="button">Back To Results</a>
    <br /><br />
    if (Model.Success == true)
    {
        <div>@Model.Job.Title</div>
        <div>@Model.Job.Description</div>
   }
    else
    {
        foreach (var message in @Model.Messages)
        {
            <div>@message</div>
        }
    }

    <br /><br />
    <a href="/job-application" id="apply-job" role="button" class="btn btn-primary">Apply</a>
}


<script type="text/javascript">
    $(document).ready(function () {
        var previousUrl = new URL(document.referrer);
        var urlPath = previousUrl.pathname + previousUrl.search
        $("#back-to-results").attr("href", urlPath);

       // Show the 'Apply' button only to Member type users
        $("#apply-job").hide();
        var roles = JSON.parse('@Html.Raw(@ViewBag.Roles)');
        var userName = @Html.Raw(Json.Encode(@ViewBag.UserName));
        if (userName !== "Anonymous" && roles !== 'undefined' && roles.length > 0) {
            for (var role of roles) {
                 if (role === "Administrators") {
                    $("#apply-job").show();
                    break;
                }
            }

        }
    });
</script>

