@*@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.LoginStatus.LoginStatusViewModel *@
@model JXTNext.Sitefinity.LoginStatusExtended.Mvc.Models.LoginStatusExtendedViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers
@using Telerik.Sitefinity.Modules.Pages;

@Html.Script(ScriptRef.JQuery, "top", false)
@{ 
    Random rnd = new Random();
    var dropdownId = String.Format("userdd-{0}", rnd.Next(52));
}
<div class="@Model.CssClass">
    <div data-sf-role="sf-logged-in-view" style="display: none">
        <button class="dropdown hollow white button" data-toggle="@dropdownId"><span data-sf-role="sf-logged-in-name"></span></button>
        <div class="dropdown-pane" id="@dropdownId" data-dropdown data-hover="true" data-hover-pane="true">
            <div class="grid-x">
                <div class="cell shrink">
                    <img data-sf-role="sf-logged-in-avatar" width="80" height="80" class="img_circ" />
                </div>
                <div class="cell auto">
                    <h5 data-sf-role="sf-logged-in-name"></h5>
                    <p data-sf-role="sf-logged-in-email"></p>
                </div>
            </div>
            <ul class="menu vertical">
                <li><a href="@(Model.ProfilePageUrl ?? "#")" >Profile</a></li>
                <li>@Html.ActionLink(Html.Resource("Logout"), "SignOut")</li>
            </ul>
        </div>
    </div>
    <div data-sf-role="sf-logged-out-view" class="button hollow white" style="display: none">
        <button data-sf-role="login-status-button">@Html.Resource("Login")</button> | <a href="@(Model.RegistrationPageUrl ?? "#")">@Html.Resource("RegisterNow")</a>
    </div>
    <input type="hidden" data-sf-role="sf-status-json-endpoint-url" value="@Model.StatusServiceUrl" />
    <input type="hidden" data-sf-role="sf-logout-redirect-url" value="@Model.LogoutPageUrl" />
    <input type="hidden" data-sf-role="sf-login-redirect-url" value="@Model.LoginPageUrl" />
    <input type="hidden" data-sf-role="sf-is-design-mode-value" value="@ViewBag.IsDesignMode.ToString()" />
    <input type="hidden" data-sf-role="sf-allow-windows-sts-login" value="@Model.AllowWindowsStsLogin.ToString()" />

    @Html.Script(Url.WidgetContent("Mvc/Scripts/LoginStatus/login-status.js"), "bottom", false)
</div>
