@model Telerik.Sitefinity.Frontend.DynamicContent.Mvc.Models.DynamicContentListViewModel
@using Telerik.Sitefinity.Frontend.DynamicContent.WidgetTemplates.Fields.Helpers;
@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Data.ContentLinks;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Mvc.Models;
@using Telerik.Sitefinity.Web.DataResolving;
@using Telerik.Sitefinity.Model.ContentLinks;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Modules.Libraries;




@foreach (var consultant in Model.Items)
{
    var navigateUrl = HyperLinkHelpers.GetDetailPageUrl(consultant, ViewBag.DetailsPageId, ViewBag.OpenInSamePage, Model.UrlKeyPrefix);


    var OfficeLocationName = "";
    var OfficeLocationUrl = "";
    var imageThumbUrl = "";
<div class="profile-detail-view">
    <div class="row">
        @if (consultant.Fields.Pic != null)
        {
            imageThumbUrl = MediaContentExtensions.ResolveThumbnailUrl(consultant.Fields.Pic.DataItem, "thumb350");
        }
        else
        {
            imageThumbUrl = "/ResourcePackages/Hudson/assets/dist/images/placeholder-image.jpg";
        }
        <div class="col-sm-4">
            <div class="profile-media">
                <a href="@consultant.Fields.URLField" title="@consultant.Fields.ConsultantName" class="consultant-photo-">
                    <img src="@imageThumbUrl" alt="@consultant.Fields.ConsultantName">
                </a>
                <p class="consultant-sum">
                    @Html.HtmlSanitize((string)consultant.Fields.Position)
                </p>
                <p class="email-stamp">
                    @if (!string.IsNullOrWhiteSpace(@consultant.Fields.Email))
                    {
                        <em class="far fa-envelope"></em><a href="mailto:@consultant.Fields.Email" title="Email at @consultant.Fields.Email">@consultant.Fields.Email</a><br />
                    }
                </p>
            </div>

        </div>


        <div class="col-sm-8">
            <div class="caption-text-widget" title="@consultant.Fields.ConsultantName">
                <h3 class="consultant-name">@consultant.Fields.ConsultantName</h3>
                <div>
                    @Html.HtmlSanitize((string)@consultant.Fields.Bio)
                </div>
            </div>
        </div>


    </div>

</div>
        }
    

