@model JXTNext.Sitefinity.Widgets.Content.Mvc.Models.Button.ButtonViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

@if (string.IsNullOrWhiteSpace(Model.ButtonAlignment))
{
    <a href="@Model.ActionUrl"
       role="button"
       class="@Model.CssClass">@Html.HtmlSanitize(Model.ButtonLabel)</a>
}
else
{
    <div class="u-text-@Model.ButtonAlignment">
        <a href="@Model.ActionUrl"
           role="button"
           class="@Model.CssClass">@Html.HtmlSanitize(Model.ButtonLabel)</a>
    </div>
}
