@using Telerik.Sitefinity.Mvc;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

<form>
    <div class="form-group">
        <label for="label-text">@Html.Resource("ButtonLabel")</label>
        <input id="label-text" type="text" ng-model="properties.ButtonLabel.PropertyValue" class="form-control" />
        <p class="text-muted">@Html.Resource("LearnMore")</p>
    </div>

    <div class="form-group">
        <label>Link to...</label>
        <div class="radio m-top-none">
            <label><input type="radio" ng-model="properties.LinkTo.PropertyValue" value="page" />@Html.Resource("PageWithinLabel")</label>
            <sf-list-selector class="label-content"
                              sf-page-selector
                              sf-selected-item-id="properties.LinkedPageId.PropertyValue"
                              ng-show="properties.LinkTo.PropertyValue==='page'"></sf-list-selector>
        </div>

        <div class="radio">
            <label><input type="radio" ng-model="properties.LinkTo.PropertyValue" value="url" />@Html.Resource("ExternalURLLabel")</label>
            <div class="label-content">
                <input type="text" class="form-control" ng-show="properties.LinkTo.PropertyValue==='url'" ng-model="properties.LinkedUrl.PropertyValue" />
                <p class="text-muted" ng-show="properties.LinkTo.PropertyValue==='url'">@Html.Resource("ExternalUrlExample")</p>
            </div>
        </div>

        <div class="radio">
            <label><input type="radio" ng-model="properties.LinkTo.PropertyValue" value="anchor" />@Html.Resource("AnchorLabel")</label>
            <div class="label-content">
                <input type="text" class="form-control" ng-show="properties.LinkTo.PropertyValue==='anchor'" ng-model="properties.LinkedAnchor.PropertyValue" />
                <p class="text-muted" ng-show="properties.LinkTo.PropertyValue==='anchor'">@Html.Resource("AnchorExample")</p>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="buttonColour">@Html.Resource("ButtonColour")</label>
        <div class="row">
            <div class="col-xs-6">
                <select id="buttonColour" ng-model="properties.ButtonColour.PropertyValue" class="form-control">
                    <option value="">Default</option>
                    <option value="secondary">Secondary</option>
                    <option value="success">Success</option>
                    <option value="alert">Alert</option>
                    <option value="warning">Warning</option>
                    <option value="info">Info</option>
                    <option value="light">Light</option>
                    <option value="dark">Dark</option>
                </select>
            </div>
        </div>
    </div>

    <expander expander-title='@Html.Resource("MoreOptions")'>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="properties.Expanded.PropertyValue" ng-true-value="'True'" ng-false-value="'False'" ng-checked="properties.Expanded.PropertyValue === 'True'" />
                @Html.Resource("Expanded")
            </label>            
        </div>

        <div class="form-group">
            <label for="buttonAlignment">@Html.Resource("ButtonAlignment")</label>
            <div class="row">
                <div class="col-xs-6">
                    <select id="buttonAlignment" ng-model="properties.ButtonAlignment.PropertyValue" class="form-control">
                        <option value="">Default</option>
                        <option value="left">Left</option>
                        <option value="center">Center</option>
                        <option value="right">Right</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="buttonStyle">@Html.Resource("ButtonStyle")</label>
            <div class="row">
                <div class="col-xs-6">
                    <select id="buttonStyle" ng-model="properties.ButtonStyle.PropertyValue" class="form-control">
                        <option value="">Solid</option>
                        <option value="hollow">Hollow</option>
                        <option value="clear">Clear</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="cssClass">@Html.Resource("CssClasses")</label>
            <input id="cssClass" type="text" ng-model="properties.CssClass.PropertyValue" class="form-control" />
        </div>
    </expander>
</form>
