@model SitefinityWebApp.Mvc.Models.MultiCard.MultiCardViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

<div class="owl-carousel owl-carousel-jumbotron">
    @foreach (var card in Model.Cards)
    {
        <div class="@Model.CssClass jumbotron-container">
            <div class="jumbotron" style="background-image: url('@card.SelectedSizeUrl');">
                <div class="jumbotron-content">
                    <h1>@Html.HtmlSanitize(card.Heading)</h1>
                    <p>@Html.HtmlSanitize(card.Description)</p>
                    @if (!string.IsNullOrEmpty(card.ActionName))
                    {
                        <p><a href="@Html.UrlSanitize(card.ActionUrl)" class="btn btn-lg" role="button">@card.ActionName</a></p>
                    }
                </div>
            </div>
        </div>
    }
</div>