@using System.Web.Mvc;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Services;
@using Telerik.Sitefinity.Web;
@using System.Threading;

<!DOCTYPE html>
<html @Html.RenderLangAttribute()>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="shortcut icon" href="@Url.Content("~/ResourcePackages/Thronsberg/dist/assets/img/favicon.ico")" type="image/x-icon">
    @Html.Section("head")
    @Html.StyleSheet(Url.Content("~/ResourcePackages/Thronsberg/dist/assets/css/app.css?v=52"), "head")
    @{
        var page = SiteMapBase.GetActualCurrentNode();
        var bodyClass = "c-template";
        if (page != null)
        {
            bodyClass = string.Format("c-{0}", page.UrlName.Replace("~", "").Replace("/", ""));
        }
    }
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-131857369-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-131857369-1');
    </script>
</head>
<body class="@bodyClass">
    @Html.Section("top")

    <div class="off-canvas-wrapper">
        <div class="off-canvas position-right" id="offCanvasMenu" data-off-canvas>
            <div class="off-canvas__inner">
                <button class="close-button" aria-label="Close menu" type="button" data-close>
                    <span aria-hidden="true">&times;</span>
                </button>
                @Html.SfPlaceHolder("MobileHeading")
                <nav class="o-mobile-nav">
                    @Html.SfPlaceHolder("MobileMenu")
                </nav>
            </div>
        </div>
        <div class="off-canvas-content" data-off-canvas-content>
            <header class="c-site-header">
                <div class="grid-container">
                    <div class="grid-x grid-margin-x c-site-header__lead">
                        <div class="cell shrink c-site-header__logo-wrap">
                            @Html.SfPlaceHolder("HeaderLogo")
                        </div>
                        <div class="cell auto">
                            @Html.SfPlaceHolder("HeaderNav")
                        </div>
                        <div class="cell shrink hide-for-large align-self-middle">
                            <button class="o-menu-icon" type="button" data-toggle="offCanvasMenu"></button>
                        </div>
                    </div>
                    @Html.SfPlaceHolder("PageTitle")
                </div>
            </header>
            <main class="c-main">
                @Html.SfPlaceHolder("MainContent")
            </main>
            <footer class="c-site-footer">
                <div class="grid-container" data-equalizer data-equalize-on-stack="true">
                    <div class="grid-x grid-margin-x">
                        <div class="cell medium-auto">
                            <div class="l-footer-cell" data-equalizer-watch>
                                @Html.SfPlaceHolder("Footer1")
                            </div>
                            <div class="l-footer-cell" data-equalizer-watch>
                                @Html.SfPlaceHolder("Footer2")
                            </div>
                        </div>
                        <div class="cell medium-shrink">
                            <div class="l-footer-cell" data-equalizer-watch>
                                @Html.SfPlaceHolder("Footer3")
                            </div>
                            <div class="l-footer-cell l-footer-cell--email" data-equalizer-watch>
                                @Html.SfPlaceHolder("Footer4")
                            </div>
                        </div>
                    </div>
                </div>
                <div class="grid-container">
                    <div class="grid-x grid-margin-x">
                        <div class="cell auto c-site-footer__legal">
                            @Html.SfPlaceHolder("FooterLegal")
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    @* Inline editing scripts and helpers. They should be available only when inline editing is possible. *@
    @if (Html.ShouldRenderInlineEditing())
    {
        @Html.Script(ScriptRef.MicrosoftAjax, "top", true)
        @Html.Script(ScriptRef.MicrosoftAjaxCore, "top", true)
        @Html.Script(ScriptRef.JQuery, "top", true)

        @Html.Script(Url.EmbeddedResource("Telerik.Sitefinity.Resources.Reference", "Telerik.Sitefinity.Resources.Scripts.jquery.ba-outside-events.min.js"), "top", true)
        @Html.Script(ScriptRef.KendoAll, "top", true)
        @Html.Script(ScriptRef.KendoTimezones, "top", true)
        @Html.Script(Url.EmbeddedResource("Telerik.Sitefinity.Resources.Reference", "Telerik.Sitefinity.Resources.Scripts.RequireJS.require.min.js"), "top", true)
        @Html.InlineEditingManager(false)
    }


    @Html.Section("bottom")
    @Html.Script(Url.Content("~/ResourcePackages/Thronsberg/dist/assets/js/app.js?v=5"), "bottom")
</body>
</html>