@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Frontend.Lists.Mvc.Models;

@Html.Script(ScriptRef.JQuery)

<div class="@Model.CssClass" data-sf-role="lists">

    <div class="sf-list sf-list--expandable clearfix">

        <div class="sf-list-item">
            @foreach (var item in Model.Items)
            {
                foreach (var listItem in ((ListViewModel)item).ListItemViewModel.Items)
                {
                    <div @Html.InlineEditingAttributes(Model.ProviderName, ((ListViewModel)item).ListItemViewModel.ContentType.FullName, (Guid)listItem.Fields.Id)>
                        @if (!string.IsNullOrEmpty(@listItem.Fields.Content))
                        {
                            <h3 @Html.InlineEditingFieldAttributes("Title", "ShortText") data-sf-role="toggleLink" class=""><i class="text-muted sf-icon glyphicon glyphicon-chevron-right"></i>@listItem.Fields.Title</h3>
                            <div @Html.InlineEditingFieldAttributes("Content", "LongText") style="display:none;" class="sf-list-content">
                                @Html.HtmlSanitize((string)listItem.Fields.Content)
                            </div>
                        }
                        else { 
                            <h3 @Html.InlineEditingFieldAttributes("Title", "ShortText") >@listItem.Fields.Title</h3>
                        }
                    </div>
                }
            }
        </div>
    </div>
</div>

@Html.Script(Url.WidgetContent("Mvc/Scripts/Lists/lists.js"))

<script type="text/javascript">
    $('[data-sf-role=toggleLink]').on('click', function () {
        var link = $(this);
        var icon = link.find('.sf-icon');
        if (link.hasClass("expanded")) {
            icon.removeClass('glyphicon-chevron-down');
            icon.addClass('glyphicon-chevron-right');
        }
        else {
            icon.removeClass('glyphicon-chevron-right');
            icon.addClass('glyphicon-chevron-down');
        }
    });
</script>
