@model Telerik.Sitefinity.Frontend.Card.Mvc.Models.Card.CardViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<div class="@Model.CssClass">
    <h1 class="text-center">@Model.ActionName</h1>
    <br/>
    <div class="thumbnail card-basic small-caption">
        <a href="@Html.UrlSanitize(Model.ActionUrl)">
            <img src="@Model.SelectedSizeUrl" title="@Model.ImageTitle" alt="@Model.ImageAlternativeText">
        </a>
        <div class="caption">
        <p class="color-light text-uppercase font-medium "><small>@Model.ActionName</small></p>
        <h3>@Html.HtmlSanitize(Model.Heading)</h3>
        <p>@Html.HtmlSanitize(Model.Description)</p>
        <a class="btn btn-more" href="@Html.UrlSanitize(Model.ActionUrl)"></a></div>
    </div>
</div>