@model Telerik.Sitefinity.Frontend.DynamicContent.Mvc.Models.DynamicContentListViewModel

@using Telerik.Sitefinity.Frontend.DynamicContent.WidgetTemplates.Fields.Helpers;
@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Data.ContentLinks;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Mvc.Models;
@using Telerik.Sitefinity.Web.DataResolving;
@using Telerik.Sitefinity.Model.ContentLinks;
@using Telerik.Sitefinity.Modules.Pages;

@Html.Script(ScriptRef.JQuery, "top", false)

<div class="press-release-filter">
    <ul class="list-unstyled clearfix">
        <li class="@getSelected("PAST_6_MONTHS")"><a href="?filter=PAST_6_MONTHS" data-filter="PAST_6_MONTHS">Past 6 months</a></li>
        <li class="@getSelected("PAST_YEAR")"><a href="?filter=PAST_YEAR" data-filter="PAST_YEAR">PAST YEAR</a></li>
        <li class="@getSelected("PAST_2_YEARS")"><a href="?filter=PAST_2_YEARS" data-filter="PAST_2_YEARS">past 2 years</a></li>
        <li class="@getSelected("ALL")"><a href="?filter=ALL">show all</a></li>
    </ul>
</div>
<table class="press-release-table k-table">
    <tbody>
        @foreach (var item in Model.Items)
        {
        <tr>
            <td>
                <p class="text-muted">@item.Fields.IssueDate.ToString("yyyy MMM dd")</p>
            </td>
            @{
                var navigateUrl = HyperLinkHelpers.GetDetailPageUrl(item, ViewBag.DetailsPageId, ViewBag.OpenInSamePage, Model.UrlKeyPrefix);
            }
            <td><a href="@navigateUrl">@item.Fields.Title</a></td>
        </tr>
        }
        </tbody>
</table>
@functions 
{
    string getSelected(string filterCandidate)
    {
        var filter = string.IsNullOrEmpty(HttpContext.Current.Request.QueryString["filter"]) ?
        "ALL" : HttpContext.Current.Request.QueryString["filter"];

        return filter.ToLower() == filterCandidate.ToLower() ?  "filter-active" : "";
    }
}