@model Telerik.Sitefinity.Frontend.Media.Mvc.Models.Video.VideoViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;

@*
	Video widget based on open source video.js plugin
    - https://github.com/videojs

	- Note: Browser support is IE11+
*@

@{
	var videoUrl = Model.Item.Fields.MediaUrl;
}

@if (!String.IsNullOrEmpty(videoUrl))
{
	@Html.StyleSheet("//vjs.zencdn.net/7.5.5/video-js.css", "head", false)
	
    <figure class="o-video @Model.CssClass" aria-labelledby="@Html.UniqueId("VideoTitle")">
        <video class="video-js" data-setup='{"controls": true, "autoplay": false, "preload": "auto", "fluid": true, "responsive": true}'>
            <source src="@videoUrl" />
        </video>
        <figcaption class="o-video__hdg" id="@Html.UniqueId("VideoTitle")">@Model.Item.Fields.Title</figcaption>
        @if (!String.IsNullOrEmpty(Model.Item.Fields.Description))
        {
            <p class="o-video__descr" id='@Html.UniqueId("VideoInfo")'>@Model.Item.Fields.Description</p>
        }
    </figure>

	@Html.Script("//vjs.zencdn.net/7.5.5/video.js", "bottom")
}
