@model Telerik.Sitefinity.Frontend.Card.Mvc.Models.Card.CardViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers
<div class="card-copy @Model.CssClass">

    @if (!string.IsNullOrEmpty(Model.SelectedSizeUrl))
    {
        <div class="image-placeholder">
            <img src="@Model.SelectedSizeUrl" title="@Model.ImageTitle" alt="@Model.ImageAlternativeText" class="img-responsive">
        </div>
    }

    @if (!string.IsNullOrEmpty(Model.Heading))
    {
        <h3 class="card-title">@Html.HtmlSanitize(Model.Heading)</h3>
    }
    @if (!string.IsNullOrEmpty(Model.Description))
    {
        <p>@Html.HtmlSanitize(Model.Description)</p>
    }

        <a href="@Html.UrlSanitize(Model.ActionUrl)" class="btn btn-sm" role="button" ref="@Model.ActionName">
            @Model.ActionName
        </a>
</div>
