@model Telerik.Sitefinity.Frontend.Card.Mvc.Models.Card.CardViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers
<div class="@Model.CssClass jn_card" style="background-image:url('@Model.SelectedSizeUrl')">
    <div class="container">
        <h2>@Html.HtmlSanitize(Model.Heading)</h2>
        <div class="card-wrapper">
            <div class="card-copy">
                <p>@Html.HtmlSanitize(Model.Description)</p>
            </div>
        </div>
        @if (!string.IsNullOrEmpty(Model.ActionName))
        {
            <a href="@Html.UrlSanitize(Model.ActionUrl)" class="btn" role="button" title="@Model.Heading">@Model.ActionName</a>
        }
    </div>
</div>
