@model Telerik.Sitefinity.Frontend.Card.Mvc.Models.Card.CardViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers
<div class="card-cta">
    <a href="@Html.UrlSanitize(Model.ActionUrl)" class="cta-btn" role="button" ref="@Model.ActionName">
        @if (!string.IsNullOrEmpty(Model.SelectedSizeUrl))
        {
            <div class="image-placeholder">
                <img src="@Model.SelectedSizeUrl" title="@Model.ImageTitle" alt="@Model.ImageAlternativeText" class="img-responsive">
            </div>
        }
        @if (!string.IsNullOrEmpty(Model.CssClass))
        {
            <em class="fa fa-@Model.CssClass"></em><br>
        }
        
        @if (!string.IsNullOrEmpty(Model.Heading))
        {
            <h3>@Html.HtmlSanitize(Model.Heading)</h3>    
        }
        @if (!string.IsNullOrEmpty(Model.Description))
        {
            <p>@Html.HtmlSanitize(Model.Description)</p>
        }
        
    </a>
</div>
