@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel
@using Telerik.Sitefinity.Frontend.Lists.Mvc.Models;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

<div class="@Model.CssClass">

    @foreach (var item in Model.Items)
    {
    @*<h3>@item.Fields.Title</h3>*@
      <div id="quote-carousel" class="owl-carousel">
          @foreach (var listItem in ((ListViewModel)item).ListItemViewModel.Items)
          {
          var imageurl = "";
          foreach (var relatedItem in listItem.Fields.authorImage)
          {
          imageurl = (string)relatedItem.Fields.MediaUrl;
          }
          <div class="item">
              <p>@listItem.Fields.Content</p>
              <div class="testimonials-sec">
                  <div class="img" style="background-image: url('@imageurl')"></div>
                  <div class="text">
                      <h6>@listItem.Fields.authorName</h6>
                      <span>@listItem.Fields.authorDesignation</span>
                      <em>@listItem.Fields.authorCompany</em>
                  </div>
              </div>
          </div>
          }
      </div>
    }

</div>
