@model Telerik.Sitefinity.Frontend.DynamicContent.Mvc.Models.DynamicContentListViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Libraries.Model;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.RelatedData;
@using JXTNext.Sitefinity.Media.Mvc.Helpers;
<div class="c-article-grid @Model.CssClass">
    @foreach (var item in Model.Items)
    {
        var navigateUrl = HyperLinkHelpers.GetDetailPageUrl(item, ViewBag.DetailsPageId, ViewBag.OpenInSamePage, Model.UrlKeyPrefix);
        var featureImage = new Image();
        // Get the feature image
        if (item.Fields.Images != null)
        {
            featureImage = item.DataItem.GetRelatedItems<Image>("Images").FirstOrDefault();
        }
        var author = String.Empty;
        if (item.Fields.ArticleAuthor != null)
        {
            author = item.Fields.ArticleAuthor.Identifier;
        }
        <a href="@navigateUrl" class="cell c-article-grid__wrp">
            <article class="c-article-grid__item" @Html.InlineEditingAttributes(Model.ProviderName, Model.ContentType.FullName, (Guid)item.Fields.Id)>
                @*Start feature image*@
                @if (featureImage != null)
                {
                    <div class="c-article-grid__img-wrp">
                        @Html.ImgTag(featureImage, null, "art-grid").WithCssClass("c-article-grid__img")
                    </div>
                }
                @*End feature image*@
                <div class="c-article-grid__sum">
                    @*Start category list*@
                    @if (item.Fields.Category != null)
                    {
                        var categories = item.GetHierarchicalTaxons("Category");
                        if (categories.Count > 0)
                        {
                            <div class="o-categories c-article-grid__categories">
                                <ul class="o-categories__list">
                                    @foreach (var taxon in categories)
                                    {
                                        <li class="o-categories__list-item">
                                            @* Need to sort out category links *@
                                            @*<a href="#" class="o-categories__item">@taxon.Title.ToString()</a>*@
                                            <span class="o-categories__item">@taxon.Title.ToString()</span>
                                        </li>
                                    }
                                </ul>
                            </div>
                        }
                    }
                    @*End category list*@
                    <h3 class="c-article-grid__title" @Html.InlineEditingFieldAttributes("Title", "ShortText")>
                        @item.Fields.Title
                    </h3>
                    <div class="c-article-grid__descr">@item.Fields.Description</div>
                </div>
            </article>
        </a>
    }
    @if (Model.ShowPager)
    {
        @Html.Action("Index", "ContentPager", new { currentPage = Model.CurrentPage,
                        totalPagesCount = Model.TotalPagesCount.Value,
                        redirectUrlTemplate = ViewBag.RedirectPageUrlTemplate })
    }
</div>