@model LoginStatusExtendedViewModel

@using JXTNext.Sitefinity.Widgets.Authentication.Mvc.Models.LoginStatusExtended
@using Telerik.Sitefinity.Frontend.Mvc.Helpers
@using Telerik.Sitefinity.Modules.Pages;

@Html.Script(ScriptRef.JQuery, "top", false)

<div class="@Model.CssClass">
    <div data-sf-role="sf-logged-in-view" style="display: none" class="login-wrap status-login">
        <div class="avatar-wrap"><img data-sf-role="sf-logged-in-avatar" width="25" height="25" /></div>
        <a href="@(Model.ProfilePageUrl ?? "#")" data-sf-role="sf-logged-in-name"></a>
        <span class="icon-down collapsed" data-toggle="collapse" data-target=".login-dropdown"></span>
        <div class="login-dropdown collapse">
            <p data-sf-role="sf-logged-in-email"></p>
            <a href="@(Model.JobAlertPageUrl ?? "#")">Job Alert</a><br />
            @Html.ActionLink(Html.Resource("Logout", "LoginStatusExtendedResources"), "SignOut")
        </div>
    </div>
    <div data-sf-role="sf-logged-out-view" style="display: none" class="login-wrap status-logout">
        <button data-sf-role="login-status-button">@Html.Resource("Login", "LoginStatusExtendedResources")</button>
        <a href="@(Model.RegistrationPageUrl ?? "#")">@Html.Resource("RegisterNow", "LoginStatusExtendedResources")</a>
    </div>
</div>
<input type="hidden" data-sf-role="sf-status-json-endpoint-url" value="@Model.StatusServiceUrl" />
<input type="hidden" data-sf-role="sf-logout-redirect-url" value="@Model.LogoutPageUrl" />
<input type="hidden" data-sf-role="sf-allow-windows-sts-login" value="@Model.AllowWindowsStsLogin.ToString()" />
<input type="hidden" data-sf-role="sf-login-redirect-url" value="@Model.LoginPageUrl" />
<input type="hidden" data-sf-role="sf-is-design-mode-value" value="@ViewBag.IsDesignMode.ToString()" />
@Html.Script(Url.WidgetContent("Mvc/Scripts/LoginStatusExtended/login-status.js"), "bottom", false)