@using JXTNext.Sitefinity.Widgets.Job.Mvc.Models
@model JobDetailsViewModel

<div class="col-lg-8">
    <div class="backtoresult">
        <a href="#" id="back-to-results" role="button" title="Back to Results"><span class="prev-btn"></span>Back To Results</a>
    </div>
    <div class="job-holder">
        <div class="job-topbar">
            <a href="#" title="Save job">Save Job</a>
            <a href="#" title="share job">Share Job</a>
            <a href="@ViewBag.JobApplicationPageUrl?jobid=@Model.JobDetails.JobID" title="Apply Now">Apply Now</a>
        </div>
        <div class="job-header">
            <h1 class="page-title">@Model.JobDetails.Title</h1>
            <div class="highlight">Tag goes here</div>
        </div>
        <dl class="sc-job-meta-group clearfix">
            <dt class="sc-job-meta-name meta-location hidden">Location</dt>
            <dd class="sc-job-meta-value meta-location">
                <span class="jn_ico icon-pin">icon</span>@Model.JobDetails.CustomData["CountryLocationArea[0].Filters[0].Value"]
            </dd>
            <dt class="sc-job-meta-name meta-salary hidden">Salary</dt>
            <dd class="sc-job-meta-value meta-salary">
                <span class="jn_ico icon-value">icon</span>@Model.JobDetails.CustomData["Salary.Min"] - @Model.JobDetails.CustomData["Salary.Max"] per annum
            </dd>
            <dt class="sc-job-meta-name meta-worktype hidden">Worktype</dt>
            <dd class="sc-job-meta-value meta-worktype">
                <span class="jn_ico icon-time">icon</span>@Model.JobDetails.CustomData["ListingClassification.WorkTypeName"]
            </dd>
        </dl>
    </div>
</div>
<div class="col-lg-4">
    <div class="job-sec2">
        <div class="job-ref"><span class="meta-key">Ref:</span><span class="meta-value">2F9775SD90IB</span></div>
        <figure class="job-image"><img src="~/ResourcePackages/JXTdemo/assets/dist/images/team-1.jpg" alt="Team name"></figure>
        <a href="mailto:emailaddress" class="link" title="Consultant email">Email</a>
    </div>
</div>

<div class="col-lg-9">
    <div class="job-copy">
        @Html.Raw(Model.JobDetails.Description)
    </div>
    <div class="buttons-wrapper">
        @if (Model.JobApplyAvailable)
        {
            <a href="@ViewBag.JobApplicationPageUrl?jobid=@Model.JobDetails.JobID" id="apply-job" role="button" class="btn btn-sm">Apply</a>
        }
        <a href="/refer-friend" class="btn btn-sm btn-1" title="Refer this job to your friend">Refer Friend</a>
    </div>
</div>


<script type="text/javascript">
    $(document).ready(function () {

        var previousUrl = new URL(document.referrer);
        var urlPath = previousUrl.pathname + previousUrl.search
        $("#back-to-results").attr("href", urlPath);

    });
</script>

