@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel

@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Web.DataResolving;

@using Telerik.Sitefinity.Web;
@using JXTNext.Sitefinity.Common.Helpers
@using Telerik.Sitefinity.Security;
@using Telerik.Sitefinity.Security.Model;
@using Telerik.Sitefinity.Model.ContentLinks;
@using Telerik.Sitefinity.Modules.Libraries;

@Html.Script(ScriptRef.JQuery, "top", false)

<div class="@Model.CssClass list-view">
    <div class="list-head">
        <h2>Latest From Us</h2>
        <div class="layout-switch">
            <span class="jn_ico icon-grid-view"></span>
            <span class="jn_ico icon-list-view active"></span>
        </div>
    </div>

    <div class="h-section">

        @foreach (var item in Model.Items)
        {
            var navigateUrl = HyperLinkHelpers.GetDetailPageUrl(item, ViewBag.DetailsPageId, ViewBag.OpenInSamePage, Model.UrlKeyPrefix);

            <article class="article" @Html.InlineEditingAttributes(Model.ProviderName, Model.ContentType.FullName, (Guid)item.Fields.Id)>
                <section class="blog-metadata flex-wrap">
                    <div class="meta-data col">
                        <div class="data-date">
                            <span class="jn_ico icon-calendar"></span>
                            <span class="data-dateValue"><span class="data-month">@item.GetDateTime("PublicationDate", "MMM")</span> <span class="data-day">@item.GetDateTime("PublicationDate", "dd")</span></span>
                        </div>
                    </div>
                    <div class="data-content col">
                        <h3>
                            <a @Html.InlineEditingFieldAttributes("Title", "ShortText") href="@navigateUrl">@item.Fields.Title</a>
                        </h3>


                        <div @Html.InlineEditingFieldAttributes("Summary", "ShortText")>@Html.HtmlSanitize((string)item.Fields.Summary)</div>

                        @if (item.Fields.Tags != null && item.Fields.Tags.Count > 0)
                        {
                            <div class="tags" @Html.InlineEditingFieldAttributes("Tags", "FlatTaxon")>
                                @foreach (var taxon in item.GetFlatTaxons("Tags"))
                                {
                                    <a href="/@SiteMapBase.GetActualCurrentNode().UrlName/-in-tags/tags/@taxon.UrlName.ToString()">@taxon.Title.ToString()</a>
                                }
                            </div>
                        }

                        <div class="avatar">
                            <div class="img-holder">
                                @*@{
                                    if (string.IsNullOrEmpty(item.Fields.Author))
                                    {
                                        UserManager userManager = UserManager.GetManager();
                                        UserProfileManager profileManager = UserProfileManager.GetManager();
                                        Telerik.Sitefinity.Security.Model.User user = userManager.GetUser(item.Fields.Owner);
                                        if (user != null)
                                        {

                                        }
                                    }
                                }*@

                                <span class="avatar-name">@DataResolver.Resolve(item.DataItem, "Author", null)</span>
                            </div>
                        </div>
                  
                </div>
            </section>
        </article>
    }
    </div>

    @if (Model.ShowPager)
    {
        @Html.Action("Index", "ContentPager", new
           {
               currentPage = Model.CurrentPage,
               totalPagesCount = Model.TotalPagesCount.Value,
               redirectUrlTemplate = ViewBag.RedirectPageUrlTemplate
           })
    }
    </div>

    <script>
        $(document).ready(function () {
            if ($('.layout-switch').length) {
                $('.layout-switch span.jn_ico').click(function () {
                    $(this).siblings().removeClass('active');
                    $(this).addClass('active');
                    if ($(this).hasClass('icon-grid-view')) {
                        $('.list-head').parent().removeClass('list-view').addClass('grid-view');
                    } else {
                        $('.list-head').parent().removeClass('grid-view').addClass('list-view');
                    }
                });
            }
        });
    </script>