@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<div ng-controller="SimpleCtrl">

    <div class="form-group" data-ng-repeat="row in rows">
        <input type="text" ng-model="row.Address" ng-autocomplete class="form-control" placeholder="Enter Location" />
        <input type="text" ng-model="row.MarkerIconPath" class="form-control" placeholder="Enter Marker Icon Path" />
        <button class="btn btn-danger" id="row.ID" ng-click="removeRow(row.RowId)">
            @Html.Resource("DeleteMarker")
        </button>
    </div>

    <br />
    <div class="btn btn-primary" ng-click="addNewRow()">@Html.Resource("AddMarker")</div>

    <br /><br />
    <div>
        <label>@Html.Resource("ZoomLevel")</label>
        <input ng-model="properties.ZoomLevel.PropertyValue" type="text" class="form-control" />
    </div>

    <div class="form-group">
        <label for="templateName">@Html.Resource("Template")</label>
        <div class="row">
            <div class="col-xs-6">
                <select id="templateName" ng-model="properties.TemplateName.PropertyValue" class="form-control">
                    @foreach (var viewName in Html.GetViewNames("Maps", @"Maps\.(?<viewName>\w*)$"))
                    {
                        <option value="@viewName"> @viewName.SplitCamelCase()</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="navCssClass">@Html.Resource("CssClasses")</label>
        <input type="text" id="navCssClass" ng-model="properties.CssClass.PropertyValue" class="form-control" />
    </div>

</div>

<style>
    .pac-container {
        z-index: 11000;
    }
</style>

