@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentDetailsViewModel

@using System.Collections;
@using System.Linq;
@using Telerik.Sitefinity.Frontend.DynamicContent.WidgetTemplates.Fields.Helpers;
@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Data.ContentLinks;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Libraries.Model;
@using Telerik.Sitefinity.Localization;
@using Telerik.Sitefinity.Model;
@using Telerik.Sitefinity.Model.ContentLinks;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Pages.Model;

@using Telerik.Sitefinity.Services;
@using Telerik.Sitefinity.Security.Model;
@using Telerik.Sitefinity.Taxonomies;
@using Telerik.Sitefinity.Taxonomies.Model;
@using Telerik.OpenAccess;
@using Telerik.Sitefinity.Web;

@{
    List<string> filterValues = new List<string>();
    var articleIds = Model.Item.Fields.articles;
    foreach (var taxonItem in articleIds)
    {
        Guid articleID = new Guid(taxonItem.ToString());
        var taxonManager = TaxonomyManager.GetManager();
        var taxon = taxonManager.GetTaxa<HierarchicalTaxon>().Where(t => t.Id == articleID).ToList().FirstOrDefault();
        filterValues.Add(taxon.Title);
    }

}

<div class="@Model.CssClass article-container" @Html.InlineEditingAttributes(Model.ProviderName, Model.ContentType.FullName, (Guid)Model.Item.Fields.Id)>
    <p class="article-detail-category text-center">@(string.Join(", ", filterValues))</p>
    <h1 class="article-detail-title text-center" @Html.InlineEditingFieldAttributes("Title", "ShortText")>
        @Model.Item.Fields.Title
    </h1>
    <p class="article-detail-author text-center">by Hudson</p> <!-- TODO -->
    @*Start HeaderImage field*@
    @if (Model.Item.Fields.HeaderImage != null)
    {
        <img data-displaymode="Original" style="display: block; margin-left: auto; margin-right: auto; margin-bottom: 50px; margin-top: 50px; width:100%;" src='@Model.Item.Fields.HeaderImage.Fields.MediaUrl' alt='@Model.Item.Fields.HeaderImage.Fields.AlternativeText' title='@Model.Item.Fields.HeaderImage.Fields.Title' />
    }
    <div>
        @{
            if (Model.EnableSocialSharing)
            {
                var item = Model.Item.DataItem as Telerik.Sitefinity.Model.IHasTitle;
                @Html.SocialShareOptions(item);
            }
        }

        <div class="article-description" @Html.InlineEditingFieldAttributes("Content", "LongText")>@Html.HtmlSanitize((string)Model.Item.Fields.Content)</div>

        @{
            if (Model.EnableSocialSharing)
            {
                var item = Model.Item.DataItem as Telerik.Sitefinity.Model.IHasTitle;
                @Html.SocialShareOptions(item);
            }
        }
    </div>
</div>