@model Telerik.Sitefinity.Frontend.DynamicContent.Mvc.Models.DynamicContentListViewModel
@using Telerik.Sitefinity.Frontend.DynamicContent.WidgetTemplates.Fields.Helpers;
@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Data.ContentLinks;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Mvc.Models;
@using Telerik.Sitefinity.Web.DataResolving;
@using Telerik.Sitefinity.Model.ContentLinks;
@using Telerik.Sitefinity.RelatedData;
@using System;
@using Newtonsoft.Json;
@using Telerik.Sitefinity.DynamicModules;
@using Telerik.Sitefinity.DynamicModules.Model;
@using Telerik.Sitefinity.Services;
@using Telerik.Sitefinity.Security.Model;
@using Telerik.Sitefinity.Taxonomies;
@using Telerik.Sitefinity.Taxonomies.Model;
@using Telerik.Sitefinity.Model;
@using Telerik.OpenAccess;
@using Telerik.Sitefinity.Web;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Modules.Libraries;

<div class="sx-fullwidth-card article-filter-page @Model.CssClass">
    @if (Model != null)
    {
        if (Model.Items.Count() > 0)
        {
            <div class="article-sorting-wrapper">
                <span class="page-num-status">@SitefinityWebApp.Helpers.ContentHelper.GetItemsPagingInfo(Model)</span>
                <select class="articles-order">
                    <option value="date-asc">@Html.Resource("SortByRecent", "JobSearchResultsResources")</option>
                    <option value="date-desc">@Html.Resource("SortByOldest", "JobSearchResultsResources")</option>
                    <option value="title-asc">@Html.Resource("SortByAlphaAZ", "JobSearchResultsResources")</option>
                    <option value="title-desc">@Html.Resource("SortByAlphaZA", "JobSearchResultsResources")</option>
                </select>
            </div>

            <div class="row long-card-basic-list flex">
                @foreach (var item in Model.Items)
                {
                    var navigateUrl = HyperLinkHelpers.GetDetailPageUrl(item, ViewBag.DetailsPageId, ViewBag.OpenInSamePage, Model.UrlKeyPrefix);
                    var imageThumbUrl = "";
                    var noImageCls = "";
                    <div class="col-md-4">
                        <div class="thumbnail card-basic small-caption">
                            @if (item.Fields.HeaderImage != null && item.Fields.HeaderImage.DataItem != null)
                            {
                                imageThumbUrl = MediaContentExtensions.ResolveThumbnailUrl(item.Fields.HeaderImage.DataItem, "thumbartic");
                            }
                            else
                            {
                                imageThumbUrl = "/ResourcePackages/Hudson/assets/dist/images/placeholder-image.jpg";
                                noImageCls = "no-image";
                            }
                            <a href="@navigateUrl" class="img-wrap @noImageCls" title="@item.Fields.Title"><img alt="@item.Fields.Title" src="@imageThumbUrl" /></a>
                            <div class="caption">
                                <p class="color-light text-uppercase font-medium ">
                                    @{
                                        List<string> filterValues = new List<string>();
                                        var articleIds = item.Fields.articles;
                                        foreach (var taxonItem in articleIds)
                                        {
                                            Guid articleID = new Guid(taxonItem.ToString());
                                            var taxonManager = TaxonomyManager.GetManager();

                                            var taxon = taxonManager.GetTaxa<HierarchicalTaxon>().Where(t => t.Id == articleID).ToList().FirstOrDefault();
                                            filterValues.Add(taxon.Title);
                                        }
                                    }
                                    <small>
                                        @(string.Join(", ", filterValues))
                                    </small>
                                </p>
                                <h4><a href="@navigateUrl" title="@item.Fields.Title">@Html.HtmlSanitize((string)item.Fields.Title)</a></h4>
                                @{
                                    var summary = Html.HtmlSanitize((string)item.Fields.Summary).ToString();
                                    string trimSummary = !String.IsNullOrWhiteSpace(summary) && summary.Length >= 90 ? summary.Substring(0, 90) + "..." : summary;
                                }
                                <p>@trimSummary</p>
                                <a class="btn btn-more" href="@navigateUrl"></a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        }
        else
        {
            <div class="alert alert-info">
                <small>There are no articles posted for this category yet!</small>
            </div>
        }
    }
    @if (Model.ShowPager)
    {
        @Html.Action("Index", "ContentPager", new
        {
            currentPage = Model.CurrentPage,
            totalPagesCount = Model.TotalPagesCount.Value,
            redirectUrlTemplate = ViewBag.RedirectPageUrlTemplate
        })
    }
</div>
<script>
    jQuery(function ($) {
        if ($('.press-release-filter').length) {
            var pagePath = window.location.pathname;
            var stripPath = pagePath.split('/');
            var curTaxonName = '';
            var parentTaxon = '';
            if (stripPath.length) {
                if (stripPath[stripPath.length - 1] == "") {
                    stripPath.pop();
                }
                curTaxonName = stripPath[stripPath.length - 1];

                if (stripPath.length > 2 && stripPath[stripPath.length - 2] == "career-advice") {
                    parentTaxon = stripPath[stripPath.length - 2];
                    $('.press-release-filter > ul > li > a[href$="' + parentTaxon + '"]').first().parent('li').addClass('filter-active');
                    $('.press-release-filter li a[href$="' + curTaxonName + '"]').first().parent('li').addClass('filter-active');
                } else {
                    $('.press-release-filter > ul > li > a[href$="' + curTaxonName + '"]').first().parent('li').addClass('filter-active');
                }
            }
        }

        function updateQueryStringParameter(uri, key, value) {
            var re = new RegExp("([?&])" + key + "=.*?(&|$)", "i");
            var pageReWithSort = new RegExp("([1-9]{1,3}[?])");
            var pageRe = new RegExp("([1-9]{1,3})$");
            var separator = uri.indexOf('?') !== -1 ? "&" : "?";
            if (uri.match(re)) {
                uri = uri.replace(pageReWithSort, '1?');
                return uri.replace(re, '$1' + key + "=" + value + '$2');
            }
            else if (uri.match(pageRe)) {
                return uri.replace(pageRe, '1') + separator + key + "=" + value;
            } else {
                return uri + separator + key + "=" + value;
            }
        }

        function getURLParameter(name) {
            return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search) || [null, ''])[1].replace(/\+/g, '%20')) || null;
        }

        function getURLParameter(name) {
            return decodeURIComponent((new RegExp('[?|&]' + name + '=' + '([^&;]+?)(&|#|;|$)').exec(location.search) || [null, ''])[1].replace(/\+/g, '%20')) || null;
        }

        var orderByElementSelector = '.articles-order';
        var orderByParam = 'orderby';
        var orderByValue = getURLParameter(orderByParam);

        if (orderByValue !== null) {
            $(orderByElementSelector).val(orderByValue);
        }

        $(orderByElementSelector).change(function () {
            window.location.href = updateQueryStringParameter(window.location.href, orderByParam, $(this).val());
        });


    });
</script>
