@model SitefinityWebApp.Mvc.Models.MultiCard.MultiCardViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;


<section class="cta job_feature @Model.CssClass" style="background-color:@Model.BackgroundColor">
    <div class="container">
        <div class="row align-items-center">
          
                @if (@Model.BackgroundColor == "#EFEFEF")
                {
                    <div class="col-12 col-md-9">
                        <h2 class="text-white fadeInUp wow">
                            @if (!string.IsNullOrEmpty(Model.GroupHeader))
                            {
                                @Html.HtmlSanitize(@Model.GroupHeader)
                            }
                        </h2>
                    </div>
                }
                else
                {
                    <div class="col-12 col-md-9">
                        <h2 class="text-white fadeInUp wow">
                            @if (!string.IsNullOrEmpty(Model.GroupHeader))
                            {
                                @Html.HtmlSanitize(@Model.GroupHeader)
                            }
                        </h2>
                    </div>
                }

                @if (@Model.Cards.Count == 1)
                {
                    <div class="col-12 col-md-auto ml-md-auto">
                        <a href="@Html.HtmlSanitize(@Model.Cards[0].ActionUrl)" class="fadeInUp wow btn btn-outline-primary @Model.Cards[0].Heading">@Html.HtmlSanitize(@Model.Cards[0].ActionName)</a>
                    </div>
                }
                else if (@Model.Cards.Count == 2)

                {

                    <div class="col-12 col-md-auto ml-md-auto">
                        <a href="@Html.HtmlSanitize(@Model.Cards[0].ActionUrl)" class="fadeInUp wow btn btn-outline-primary mr-4 @Model.Cards[0].Heading">@Html.HtmlSanitize(@Model.Cards[0].ActionName)</a>
                        <a href="@Html.HtmlSanitize(@Model.Cards[1].ActionUrl)" class="fadeInUp wow btn btn-outline-primary @Model.Cards[1].Heading">@Html.HtmlSanitize(@Model.Cards[1].ActionName)</a></div>
                        }

                        <style>

                    .job_feature .btn.btn-outline-primary:hover {
                        color: @Model.BackgroundColor;
                    }

                        </style>

                    </div>
                </div>
 
</section>

