@model SitefinityWebApp.Mvc.Models.MultiCard.MultiCardViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;



@foreach (var card in Model.Cards)
{
    @*<div class="leader-list col-12 col-sm-6 col-lg-3">*@
    <div class="leader-image">
        <div class="leader-thumb bg-image" style="background-image: url('@Model.SelectedSizeUrl');"></div>
        <div class="leader_logo">
            <img src="@card.SelectedSizeUrl" alt="">
        </div>

    </div>
    <div class="leader-name">@Html.HtmlSanitize(card.Heading)</div>
    <div class="leader-designation">@Model.GroupHeader</div>

    if (card.Description != null && card.Description.Length > 0)
    {
        <a href="javascript:void(0)" data-desc="@Html.HtmlSanitize(card.Description)" class="btn btn-link">
            @card.ActionName
        </a>
    }
}
