@model dynamic
@using Telerik.Sitefinity.Services;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers
<div class="result-meta">
    <p><span class="cur-search-count">Your search resulted in: <span class="count-num">@ViewBag.TotalCount</span> position(s)</span> | <a href="/advancedsearch" title="New job search">New Search</a></p>
</div>

<div class="search-top clearfix">
    @*<a class="btn btn-sm" href="">RSS FEED</a>
        <a class="btn btn-sm" href="">ADD FAVOURITE</a>
    *@
    <a class="btn btn-sm" href="/job-alert/Create" title="Create you job alert">CREATE JOB ALERT</a>
    <div class="select">
        <select id="sortOrder" class="default-select">
            <option selected="selected" value="Recent">@Html.Resource("SortByRecent", "JobSearchResultsResources")</option>
            <option value="Old">@Html.Resource("SortByOldest", "JobSearchResultsResources")</option>
            <option value="A-Z">@Html.Resource("SortByAlphaAZ", "JobSearchResultsResources")</option>
            <option value="Z-A">@Html.Resource("SortByAlphaZA", "JobSearchResultsResources")</option>
            <option value="SalaryHighToLow">@Html.Resource("SortBySalHighToLow", "JobSearchResultsResources")</option>
            <option value="SalaryLowToHigh">@Html.Resource("SortBySalLowToHigh", "JobSearchResultsResources")</option>
        </select>
    </div>
</div>

<div id="listView" class="search-results"></div>
<div class="l-section hidden info-block"><p class="alert alert-warning">There are no jobs matching the search criteria.</p></div>
<div id="pager" class="k-pager-wrap k-widget k-floatwrap" data-role="]">
    <ul class="k-pager-numbers k-reset"></ul>
</div>

<script type="text/x-kendo-template" id="template">
    <div class="job-holder search-result">
        <div class="search-result-top">

            <div class="row">
                <div class="col-sm-8 col-xs-12">
                    <h3><a href="@ViewBag.JobDetailsPageUrl/#:ClassificationsSEORouteName#/#:JobID#" class="search-result-title">#:Title#</a></h3>
                </div>
                <div class="col-sm-4 col-xs-12 text-right">
                    <span class="save-job" data-jobid="#:JobID#">Save job</span> | <a href='mailto:#:CustomData["ApplicationMethod.ApplicationEmail"]#'>Send email</a><br />
                    <small>#:DateCreated_Representation#</small>

                </div>
            </div>

        </div>

        <div class="search-result-description">
            <div class="row">
                <div class="col-sm-4">
                    <span class="meta-location">#:CustomData["CountryLocationArea[0].Filters[0].Value"]#</span><br />
                    <span class="meta-salary">$#:CustomData["Salary.Filters[0].Min"]# - $#:CustomData["Salary.Filters[0].Max"]#</span><br />
                    <span class="meta-worktype">#:CustomData["WorkType.Filters[0].Value"]#</span>
                </div>

                <div class="col-sm-5 col-md-6">
                    # if(data.CustomData["Bulletpoints.BulletPoint1"] != "" || data.CustomData["Bulletpoints.BulletPoint2"] != "" || data.CustomData["Bulletpoints.BulletPoint3"] != ""){#
                    <ul>
                        <li>#:CustomData["Bulletpoints.BulletPoint1"]#</li>
                        <li>#:CustomData["Bulletpoints.BulletPoint2"]#</li>
                        <li>#:CustomData["Bulletpoints.BulletPoint3"]#</li>
                    </ul>#
                    }
                    else{#
                    <p>#:ShortDescription#</p>
                    #}#

                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <span class="link-default">#:CustomData["Classifications[0].Filters[0].Value"]#</span>
                </div>
            </div>
        </div>

    </div>
</script>

<script type="text/javascript">

     @{
          var serializer = new System.Web.Script.Serialization.JavaScriptSerializer();
          var json = serializer.Serialize(Model);
      }

    $(document).ready(function () {
        $(document).on('click', '.save-job', function (e) {
            e.preventDefault();
            var unSaveJob = false;
            var ajaxActionName = "/SaveJob";
            var jobid = $(this).data('jobid');
            if ($(this).hasClass('saved')) {
                unSaveJob = true;
                ajaxActionName = "/RemoveSavedJob";
                jobid = $(this).data('savedjobid');
            }
           
            var parm = { JobId: jobid };
            var urlPath = $(location).attr('pathname') + ajaxActionName;
            var self = $(this);
            $.ajax({
                type: 'POST',
                cache: false,
                url: urlPath,
                data: parm,
                dataType: 'Json',
                success: function (response) {
    
                    if (response.Success == true) { // Job Saved
                        if (unSaveJob) {
                            self.removeClass("saved");
                            self.text("Save job");
                        }
                        else {
                            self.addClass("saved");
                            self.text("Job saved");
                        }
                    }
                    else { // Job failed to save
                        if ((response.Errors[0].indexOf("(401)") > -1) || (response.Errors[0].indexOf("(403)") > -1))
                            alert("Please login as a member to save a job.");
                        else
                            alert(response.Errors[0]);
                    }
                },
                error: function (response) { // Error
                }
            });
        });

    });


    var model = @Html.Raw(json);
    var isDesignMode = @Html.Raw(Json.Encode(@SystemManager.IsDesignMode));
    var jobContainer = $("#listView");

    if (model != null && model != "undefined" && !isDesignMode) {
        var pageSize = @ViewBag.PageSize;
        var totalCount = @ViewBag.TotalCount;
        var filterModel = JSON.parse('@Html.Raw(@ViewBag.FilterModel)');
        var PageNumber = filterModel.Page;
        var highestPage = Math.ceil(totalCount / pageSize);
        var dataSource;
        var queryStringArr = [];

        var sortBy = '@ViewBag.SortOrder';
        $("#sortOrder").val(sortBy);
        bindJobsPages(PageNumber);
        bindJobs(PageNumber);

        function processSavedJobs() {
            var parm = { };
            var urlPath = $(location).attr('pathname') + "/GetAllSavedJobs";
            var self = $(this);
            $.ajax({
                type: 'POST',
                cache: false,
                url: urlPath,
                data: parm,
                dataType: 'Json',
                success: function (response) {
      
                    if (response.Success == true) { // Getting the all saved jobs
                        $('.save-job').each(function () {
                            var jobid = $(this).data('jobid');
                            var selfJob = $(this);

                            $.each(response.SavedJobs, function (index, saveJobInfo) {
                   
                                if (saveJobInfo.JobId == jobid) {
            
                                    $(selfJob).addClass("saved");
                                    $(selfJob).text("Job saved");
                                    $(selfJob).attr('data-savedjobid', saveJobInfo.SavedJobId);
                                }
                            });
                        });
                    }
                    else { 
           
                    }
                },
                error: function (response) { // Error
                }
            });

           
        };

       

        $("#sortOrder").change(function () {
            sortBy = $(this).val();
            bindJobs(PageNumber);
        });

        layoutSwitch();

        function makeQueryString(obj, prefix, isArray) {

            for (var p in obj) {
                if (obj.hasOwnProperty(p)) {
                    var k, v;
                    if (isArray)
                        k = prefix ? prefix + "%5B" + p + "%5D" : p, v = obj[p];
                    else {
                        if (prefix.match(".values$"))
                            k = prefix ? prefix : p, v = obj[p];
                        else
                            k = prefix ? prefix + "." + p + "" : p, v = obj[p];
                    }

                    if (v !== null && typeof v === "object") {
                        if (Array.isArray(v)) {
                            if (k.match(".values$"))
                                makeQueryString(v, k, false);
                            else
                                makeQueryString(v, k, true);
                        } else {
                            makeQueryString(v, k, false);
                        }
                    } else {
                        if (v === null || v === "undefined")
                            v = "";

                        var query = k + "=" + v;
                        queryStringArr.push(query);
                    }
                }
            }
            return queryStringArr.join("&");
        };

        function bindJobsPages(PageNumber)
        {
            if (highestPage > 1) {
                var lis = '';
                var pageJumpNext = false;
                var pageJumpVal = 5;
                var startPage = (parseInt(PageNumber) / pageJumpVal) > 1 ? pageJumpVal * (Math.ceil(parseInt(PageNumber) / pageJumpVal) - 1) + 1 : 1;

                lis += '<li class="pagePrev pageController"><a tabindex="-1" href="javascript:void(0);" onclick="pageChange(this)" class="k-link" disabled data-page="0">Previous</a></li>';

                //dot page jump previous
                if (startPage > 1) {
                    lis += '<li><a tabindex="-1" href="javascript:void(0);" onclick="pageChange(this);" class="k-link" data-page="' + (startPage - 1) + '">...</a></li>';
                }

                for (var i = startPage; i <= highestPage; i++) {
                    if (i < (startPage + pageJumpVal) && highestPage >= parseInt(PageNumber)) {
                        lis += '<li><a tabindex="-1" href="javascript:void(0);" onclick="pageChange(this);" class="k-link" data-page="' + i + '">' + i + '</a></li>';
                        pageJumpNext = true;
                    }
                }

                //dot page jump next
                if (highestPage >= parseInt(PageNumber) + 1 && highestPage >= (startPage + pageJumpVal)) {
                    lis += '<li><a tabindex="-1" href="javascript:void(0);" onclick="pageChange(this);" class="k-link" data-page="' + (startPage + pageJumpVal) + '">...</a></li>';
                }

                lis += '<li class="pageNext pageController"><a tabindex="-1" href="javascript:void(0);" onclick="pageChange(this)" class="k-link" data-page="2">Next</a></li>';
                $('#pager ul').html(lis);
            }
        };

        function bindJobs(PageNumber) {

            var parm = { jobRequest: @Html.Raw(Json.Encode(@ViewBag.Request)), pageNumber: PageNumber, sortBy: sortBy };
            var urlPath = $(location).attr('pathname') + "/GetSearchResults";
            var searchPath = $(location).attr('search');
            if (searchPath == null || searchPath == "") {
                searchPath += ("?" + "Page=" + PageNumber);
            }
            else if (searchPath.indexOf("Page=") > -1) {
                let pageIndex = searchPath.indexOf("Page=");
                searchPath = searchPath.slice(0, pageIndex);
                searchPath += ("Page=" + PageNumber);
            }
            else {
                searchPath += ("&Page=" + PageNumber);
            }

            if (searchPath.indexOf("SortBy=") > -1) {
                let pageIndex = searchPath.indexOf("SortBy=");
                searchPath = searchPath.slice(0, pageIndex);
                searchPath += ("SortBy=" + sortBy);
            }
            else {
                searchPath += ("&SortBy=" + sortBy);
            }

            queryStringArr.length = 0;
            filterModel.Page = PageNumber;
            filterModel.SortBy = sortBy;
            var pushStateUrl = $(location).attr('pathname') + searchPath;
            var data = { filterModel: filterModel }
            window.history.pushState(data, "", pushStateUrl);

            //pager status
            $('#pager li:not(.pageController) a').removeClass('active');
            $('#pager li:not(.pageController) a[data-page="' + (PageNumber == 0 ? 1 : PageNumber) + '"]').addClass('active');
            //prev next status
            if (PageNumber <= 1) {
                $('#pager li.pagePrev a').attr('disabled', true);
            } else {
                $('#pager li.pagePrev a').removeAttr('disabled');
                $('#pager li.pagePrev a').attr('data-page', parseInt(PageNumber) - 1);
            }

            if (parseInt(PageNumber) + 1 <= highestPage) {
                $('#pager li.pageNext a').attr('data-page', parseInt(PageNumber) + 1);
            }
            if (parseInt(PageNumber) >= highestPage) {
                $('#pager li.pageNext a').attr('disabled', true);
            } else {
                $('#pager li.pageNext a').removeAttr('disabled');
            }

            //adding loader
            if (!jobContainer.hasClass('loading')) {
                jobContainer.addClass('loading');
            }

            $.ajax({
                type: 'POST',
                cache: false,
                url: urlPath,
                data: parm,
                dataType: 'Json',
                success: function (response) {

                    if (response.Total > 0) {
                        dataSource = new kendo.data.DataSource({
                            data: response.SearchResults,
                            total: response.Total,
                        });
                        $(".count-num").html(response.Total);

                        var sorttext = getSortOrder();
                        var token = sorttext.split(':');

                        //dataSource.sort({ field: token[0], dir: token[1] });

                        jobContainer.kendoListView({
                            dataSource: dataSource,
                            template: kendo.template($("#template").html()),

                        });

                        processSavedJobs();
                    } else {

                        $(".info-block").removeClass('hidden');
                        $("#sortOrder").parent().hide();
                    }

                    //check the layout on the base of active
                    //or Retrieve from local storage for checking too
                    if ($('.layout-switch .jn_ico.active').hasClass('icon-grid-view')) {
                        $('#resultsPagePartialContent').removeClass('list-view').addClass('grid-view');
                        $('.job-holder').addClass('col-lg-6');
                    }
                    //in case of taking from local storage, when data is loaded on filter selection
                    else if (typeof (Storage) !== "undefined" && localStorage.getItem("resultLayout") == 'grid') {
                        $('#resultsPagePartialContent').removeClass('list-view').addClass('grid-view');
                        $('.layout-switch .jn_ico').removeClass('active');
                        $('.layout-switch .icon-grid-view').addClass('active');
                        $('.job-holder').addClass('col-lg-6');
                    }

                    //removing the loader in the job result widget
                    jobContainer.removeClass('loading');
                    $('html,body').animate({
                        scrollTop: 0
                    }, 500);
                    //removing the loader in the search keyword - job filter widget
                    $("#selectedkeywordsfilter").parent().removeClass('loader');
                    //removing the loading in the filter widget itself
                    $('.filter-outer-wrapper').removeClass('lockoverlay');
                },
                error: function (response) {
                    console.log('error response: '+response);
                }
            });
        };

        function pageChange(pageObj) {
            var currPageNumber = $(pageObj).attr('data-page');
            var disableFlag = $(pageObj).attr('disabled');
            if (disableFlag == "disabled") {
                return false;
            }

            bindJobsPages(currPageNumber);

            if (currPageNumber != PageNumber) {
                PageNumber = parseInt(currPageNumber);
                bindJobs(PageNumber);
                //changing the prev & next page number attribute
                $('.pagePrev a').attr('data-page', PageNumber - 1);
                if (PageNumber + 1 <= highestPage ) {
                    $('.pageNext a').attr('data-page', PageNumber + 1);
                }
            }

        };

        function getSortOrder() {
            var sortValue = $("#sortOrder").val();
            switch (sortValue) {
                case 'Old':
                    return 'DatePosted:desc';
                    break;
                case 'AZ':
                    return 'Title:asc';
                    break;
                case 'ZA':
                    return 'Title:desc';
                    break;
                case 'SalaryHighToLow':
                    return 'CustomData["Salary.Filters[0].Min"]:desc';
                    break;
                case 'SalaryLowToHigh':
                    return 'CustomData["Salary.Filters[0].Max"]:asc';
                    break;
                default:
                    return 'DatePosted:asc';
                    break;
            }
        };

        function layoutSwitch() {
            if ($('.layout-switch').length) {
                $('.layout-switch span.jn_ico').click(function () {
                    $(this).siblings().removeClass('active');
                    $(this).addClass('active');

                    if ($(this).hasClass('icon-grid-view')) {
                        //browser local Store
                        if (typeof (Storage) !== "undefined") {
                            localStorage.setItem("resultLayout", "grid");
                        }
                        $('.list-view').removeClass('list-view').addClass('grid-view');
                        $('.job-holder').addClass('col-lg-6');
                    } else {
                        if (typeof (Storage) !== "undefined") {
                            localStorage.setItem("resultLayout", "list");
                        }
                        $('.grid-view').removeClass('grid-view').addClass('list-view');
                        $('.job-holder').removeClass('col-lg-6');
                    }
                });
            }
        }
    }

</script>
<style>

    #listView {
        border: none;
    }

        #listView, #listView * {
            -webkit-box-sizing: inherit;
            -moz-box-sizing: inherit;
            box-sizing: inherit;
        }

    .product {
        float: left;
        position: relative;
        width: 111px;
        height: 170px;
        margin: 0 5px;
        padding: 0;
    }

        .product img {
            width: 110px;
            height: 110px;
        }

        .product h3 {
            margin: 0;
            padding: 3px 5px 0 0;
            max-width: 96px;
            overflow: hidden;
            line-height: 1.1em;
            font-size: .9em;
            font-weight: normal;
            text-transform: uppercase;
            color: #999;
        }

        .product p {
            visibility: hidden;
        }

        .product:hover p {
            visibility: visible;
            position: absolute;
            width: 110px;
            height: 110px;
            top: 0;
            margin: 0;
            padding: 0;
            line-height: 110px;
            vertical-align: middle;
            text-align: center;
            color: #fff;
            background-color: rgba(0,0,0,0.75);
            transition: background .2s linear, color .2s linear;
            -moz-transition: background .2s linear, color .2s linear;
            -webkit-transition: background .2s linear, color .2s linear;
            -o-transition: background .2s linear, color .2s linear;
        }

    .k-listview:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden;
    }
</style>