@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentDetailsViewModel

@using System.Collections;
@using System.Linq;
@using Telerik.Sitefinity.Frontend.DynamicContent.WidgetTemplates.Fields.Helpers;
@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Data.ContentLinks;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Libraries.Model;
@using Telerik.Sitefinity.Localization;
@using Telerik.Sitefinity.Model;
@using Telerik.Sitefinity.Model.ContentLinks;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Pages.Model;

<div class="o-testimonial @Model.CssClass">
    <blockquote class="o-testimonial__quote" @Html.InlineEditingAttributes(Model.ProviderName, Model.ContentType.FullName, (Guid)Model.Item.Fields.Id)>
        <div class="o-testimonial__text" @Html.InlineEditingFieldAttributes("Quote", "LongText")>@Html.HtmlSanitize((string)Model.Item.Fields.Quote)</div>
        <div class="o-testimonial__author" @Html.InlineEditingFieldAttributes("By", "ShortText")>@Model.Item.Fields.By</div>
    </blockquote>
</div>