@model Telerik.Sitefinity.Frontend.Navigation.Mvc.Models.INavigationModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Navigation.Mvc.Models;
@using Telerik.Sitefinity.Modules.Pages;
@using SitefinityWebApp.Helpers;
@*For user login check*@
@using JXTNext.Sitefinity.Common.Helpers;
@using Telerik.Sitefinity.DynamicModules.Model;

@using System.Linq;
@using Telerik.Sitefinity.Pages.Model;

<nav class="navbar navbar-expand-lg navbar-light bg-white float-right main-menu">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
            @foreach (var parentNode in Model.Nodes)
            {
                if (parentNode.Url == "/specialist-recruitment-group")
                {
                    <li class="nav-item dropdown mega-menu">
                        <a type="@ContentHelper.FindPageNodeType(parentNode.Url)" target="@parentNode.LinkTarget" class="nav-link @GetClass(parentNode)" href="@parentNode.Url" aria-haspopup="true" aria-expanded="false">
                            @parentNode.Title
                        </a>
                        <button class="menu-toggle dropdown-toggle" type="button" data-toggle="dropdown"></button>
                        <div class="dropdown-menu">
                            <div class="row">

                                @{
                                    List<NodeViewModel>
                                        listTopFive = new List<NodeViewModel>
                                            ();
                                    List<NodeViewModel>
                                        listRemainingNodes = new List<NodeViewModel>
                                            ();
                                    List<NodeViewModel>
                                        listAllNodes = new List<NodeViewModel>
                                            ();
                                }
                                @foreach (var childNode in parentNode.ChildNodes)
                                {
                                    if (childNode.Url == "/specialist-recruitment")
                                    {
                                        <div class="col-12 col-lg-8">

                                            <a type="@ContentHelper.FindPageNodeType(childNode.Url)" target="@childNode.LinkTarget" class="dropdown-item menu-heading @GetClass(childNode)" href="@childNode.Url">@childNode.Title</a>

                                            @if (childNode.ChildNodes.Count > 4)
                                            {
                                                listTopFive.AddRange(childNode.ChildNodes.Take(4));
                                                listRemainingNodes.AddRange(childNode.ChildNodes.Skip(4));
                                            }

                                            else
                                            {
                                                listAllNodes.AddRange(childNode.ChildNodes);
                                            }

                                            @if (listTopFive.Count > 0 && listRemainingNodes.Count > 0)
                                            {
                                                <div class="row">
                                                    <div class="col-12 col-lg-6">
                                                        <ul>
                                                            @foreach (var node in listTopFive)
                                                            {
                                                                <li><a type="@ContentHelper.FindPageNodeType(node.Url)" target="@node.LinkTarget" class="dropdown-item @GetClass(node)" href="@node.Url">@node.Title</a></li>
                                                                <li><i>@ContentHelper.FindPagebyUrlNativeAPI(node.Url, parentNode.Url)</i></li>
                                                            }
                                                        </ul>
                                                    </div>
                                                    <div class="col-12 col-lg-6">
                                                        <ul>
                                                            @foreach (var node in listRemainingNodes)
                                                            {
                                                                <li><a type="@ContentHelper.FindPageNodeType(node.Url)" target="@node.LinkTarget" class="dropdown-item @GetClass(node)" href="@node.Url">@node.Title</a></li>
                                                                <li><i>@ContentHelper.FindPagebyUrlNativeAPI(node.Url, parentNode.Url)</i></li>
                                                            }
                                                        </ul>
                                                    </div>

                                                </div>
                                            }
                                            else
                                            {
                                                <div class="row">

                                                    <div class="col-12 col-lg-6">
                                                        <ul>

                                                            @foreach (var node in listAllNodes)
                                                            {
                                                                <li><a type="@ContentHelper.FindPageNodeType(node.Url)" target="@node.LinkTarget" class="dropdown-item @GetClass(node)" href="@node.Url">@node.Title</a></li>
                                                                <li><i>@ContentHelper.FindPagebyUrlNativeAPI(node.Url, parentNode.Url)</i></li>
                                                            }
                                                        </ul>
                                                    </div>
                                                    <div class="col-12 col-lg-6">
                                                        <ul></ul>
                                                    </div>

                                                </div>
                                            }

                                        </div>
                                    }
                                }

                                <div class="col-12 col-lg-4">
                                    @foreach (var childNode in parentNode.ChildNodes)
                                    {
                                        if (childNode.Url == "/specialist-recruitment/our-industries")
                                        {
                                            <a type="@ContentHelper.FindPageNodeType(childNode.Url)" target="@childNode.LinkTarget" class="dropdown-item menu-heading @GetClass(childNode)" href="@childNode.Url">@childNode.Title</a>
                                            <ul>
                                                @foreach (var node in childNode.ChildNodes)
                                                {
                                                    <li><a type="@ContentHelper.FindPageNodeType(node.Url)" target="@node.LinkTarget" class="dropdown-item @GetClass(node) our-industries-active" href="@node.Url">@node.Title</a></li>
                                                }
                                            </ul>
                                        }

                                        else if (childNode.Url == "/specialist-recruitment-group/learn-more")
                                        {
                                            <a type="@ContentHelper.FindPageNodeType(childNode.Url)" target="@childNode.LinkTarget" class="dropdown-item menu-heading @GetClass(childNode) contact-active" href="@childNode.Url">@childNode.Title</a>
                                            <ul>
                                                @foreach (var node in childNode.ChildNodes)
                                                {

                                                    <li><a type="@ContentHelper.FindPageNodeType(node.Url)" target="@node.LinkTarget" class="dropdown-item @GetClass(node) contact-active" href="@node.Url">@node.Title</a></li>
                                                }
                                            </ul>
                                        }
                                    }
                                </div>

                            </div>
                        </div>
                    </li>
                }
                else if (parentNode.Title == "Jobs")
                {
                    <li class="nav-item dropdown mega-menu">
                        <a type="@ContentHelper.FindPageNodeType(parentNode.Url)" target="@parentNode.LinkTarget" class="nav-link  @GetClass(parentNode)" href="@parentNode.Url" aria-haspopup="true" aria-expanded="false">
                            @parentNode.Title
                        </a>
                        <button class="menu-toggle dropdown-toggle" type="button" data-toggle="dropdown"></button>
                        <div class="dropdown-menu">
                            <div class="row">
                                <div class="col-12 col-lg-4">

                                    @foreach (var childnode in parentNode.ChildNodes)
                                    {

                                        if (childnode.Url == "/jobs/advancedsearch")
                                        {
                                            <a type="@ContentHelper.FindPageNodeType(childnode.Url)" target="@childnode.LinkTarget" class="dropdown-item menu-heading @GetClass(childnode)" href="@childnode.Url">Job Search</a>
                                            <ul>
                                                <li><a type="@ContentHelper.FindPageNodeType(childnode.Url)" target="@childnode.LinkTarget" class="dropdown-item @GetClass(childnode)" href="@childnode.Url">Find a job</a></li>
                                            </ul>
                                        }
                                        if (childnode.Url == "/jobs/job-application-tool")
                                        {
                                            @* @childnode.Url *@
                                            <a type="@ContentHelper.FindPageNodeType(childnode.Url)" target="@childnode.LinkTarget" class="dropdown-item menu-heading @GetClass(childnode) resume-template-active ultimate-interview-guide-active social-media-guide-active" href="#">@childnode.Title</a>
                                            <ul>
                                                @foreach (var subchildnode in childnode.ChildNodes)
                                                {
                                                    if (subchildnode.Url == "/jobs/job-application-tool/resume-template")
                                                    {
                                                        <li><a type="@ContentHelper.FindPageNodeType(subchildnode.Url)" target="@subchildnode.LinkTarget" class="dropdown-item @GetClass(subchildnode) resume-template-active" href="@subchildnode.Url">@subchildnode.Title</a></li>
                                                    }
                                                    else if (subchildnode.Url == "/jobs/job-application-tool/ultimate-interview-guide")
                                                    {
                                                        <li><a type="@ContentHelper.FindPageNodeType(subchildnode.Url)" target="@subchildnode.LinkTarget" class="dropdown-item @GetClass(subchildnode) ultimate-interview-guide-active" href="@subchildnode.Url">@subchildnode.Title</a></li>
                                                    }
                                                    else
                                                    {
                                                        <li><a type="@ContentHelper.FindPageNodeType(subchildnode.Url)" target="@subchildnode.LinkTarget" class="dropdown-item @GetClass(subchildnode) social-media-guide-active" href="@subchildnode.Url">@subchildnode.Title</a></li>
                                                    }
                                                }
                                            </ul>
                                        }
                                    }
                                </div>


                                <div class="col-12 col-lg-8">
                                    @{
                                        List<NodeViewModel>
                                            listTopTen = new List<NodeViewModel>
                                                ();
                                        List<NodeViewModel>
                                            listRemainingNodes1 = new List<NodeViewModel>
                                                ();
                                        List<NodeViewModel>
                                            listAllNodes1 = new List<NodeViewModel>
                                                ();
                                    }
                                    @foreach (var childNode1 in parentNode.ChildNodes)
                                    {

                                        if (childNode1.Url == "/jobs/specialist-jobs-new")
                                        {
                                            @* @childNode1.Url *@
                                            <a type="@ContentHelper.FindPageNodeType(childNode1.Url)" target="@childNode1.LinkTarget" class="dropdown-item menu-heading @GetClass(childNode1)" href="#">@childNode1.Title</a>


                                            if (childNode1.ChildNodes.Count > 10)
                                            {
                                                listTopTen.AddRange(childNode1.ChildNodes.Take(10));
                                                listRemainingNodes1.AddRange(childNode1.ChildNodes.Skip(10));
                                            }
                                            else
                                            {
                                                listAllNodes1.AddRange(childNode1.ChildNodes);
                                            }
                                            @*<p>@listTopTen.Count</p>
                                                <p>@listRemainingNodes1.Count</p>
                                                <p>@listAllNodes1.Count</p>*@

                                            if (listTopTen.Count > 0 && listRemainingNodes1.Count > 0)
                                            {
                                                <div class="row">
                                                    <div class="col-12 col-lg-6">
                                                        <ul>
                                                            @foreach (var node in listTopTen)
                                                            {
                                                                <li><a type="@ContentHelper.FindPageNodeType(node.Url)" target="@node.LinkTarget" class="dropdown-item @GetClass(node)" href="@node.Url">@node.Title</a></li>
                                                            }
                                                        </ul>
                                                    </div>
                                                    <div class="col-12 col-lg-6">
                                                        <ul>
                                                            @foreach (var node in listRemainingNodes1)
                                                            {
                                                                <li><a type="@ContentHelper.FindPageNodeType(node.Url)" target="@node.LinkTarget" class="dropdown-item @GetClass(node)" href="@node.Url">@node.Title</a></li>
                                                            }
                                                        </ul>
                                                        @foreach (var childNode11 in parentNode.ChildNodes)
                                                        {
                                                            if (childNode11.Url == "/jobs/learn-more")
                                                            {
                                                                @* @childNode11.Url *@
                                                                <a type="@ContentHelper.FindPageNodeType(childNode11.Url)" target="@childNode11.LinkTarget" href="@childNode11.Url" class="dropdown-item menu-heading @GetClass(childNode11) contact-active">@childNode11.Title</a>
                                                                <ul>
                                                                    @foreach (var subNode in childNode11.ChildNodes)
                                                                    {
                                                                        <li><a type="@ContentHelper.FindPageNodeType(subNode.Url)" target="@subNode.LinkTarget" class="dropdown-item  @GetClass(subNode) contact-active" href="@subNode.Url">@subNode.Title</a></li>
                                                                    }
                                                                </ul>
                                                            }
                                                        }
                                                    </div>

                                                </div>
                                            }
                                            else
                                            {
                                                <div class="row">
                                                    <div class="col-12 col-lg-6">
                                                        <ul>
                                                            @foreach (var node in listAllNodes1)
                                                            {
                                                                <li><a type="@ContentHelper.FindPageNodeType(node.Url)" target="@node.LinkTarget" class="dropdown-item @GetClass(node)" href="">@node.Title</a></li>
                                                            }
                                                        </ul>
                                                    </div>
                                                    <div class="col-12 col-lg-6">
                                                        <ul></ul>
                                                    </div>
                                                </div>
                                            }
                                        }

                                    }

                                </div>
                            </div>
                        </div>
                    </li>
                }
                else if (parentNode.Url == "/employer-services")
                {
                    <li class="nav-item dropdown mega-menu">
                        <a type="@ContentHelper.FindPageNodeType(parentNode.Url)" target="@parentNode.LinkTarget" class="nav-link @GetClass(parentNode)" href="@parentNode.Url" aria-haspopup="true" aria-expanded="false">
                            @parentNode.Title
                        </a>
                        <button class="menu-toggle dropdown-toggle" type="button" data-toggle="dropdown"></button>
                        <div class="dropdown-menu">
                            <div class="row">
                                @foreach (var childnode in parentNode.ChildNodes)
                                {

                                    if (childnode.Url == "/employer-services/partnering-with-employers")
                                    {
                                        <div class="col-12 col-lg-4">
                                            <a type="@ContentHelper.FindPageNodeType(childnode.Url)" target="@childnode.LinkTarget" class="dropdown-item menu-heading @GetClass(childnode)" href="@childnode.Url">@childnode.Title</a>
                                            <ul>
                                                @foreach (var node in childnode.ChildNodes)
                                                {
                                                    if (node.Url == "/employer-services/partnering-with-employers/our-services")
                                                    {
                                                        <li><a type="@ContentHelper.FindPageNodeType(node.Url)" target="@node.LinkTarget" class="dropdown-item our-services-active @GetClass(node)" href="@node.Url">@node.Title</a></li>
                                                    }
                                                    else
                                                    {
                                                        <li><a type="@ContentHelper.FindPageNodeType(node.Url)" target="@node.LinkTarget" class="dropdown-item @GetClass(node)" href="@node.Url">@node.Title</a></li>
                                                    }
                                                }
                                            </ul>
                                        </div>
                                    }
                                    else if (childnode.Url == "/employer-services/what-we-do")
                                    {
                                        <div class="col-12 col-lg-4">
                                            <a type="@ContentHelper.FindPageNodeType(childnode.Url)" target="@childnode.LinkTarget" class="dropdown-item menu-heading @GetClass(childnode) our-services-active" href="@parentNode.Url">@childnode.Title</a>
                                            <ul>
                                                @foreach (var node in childnode.ChildNodes)
                                                {
                                                    <li><a type="@ContentHelper.FindPageNodeType(node.Url)" target="@node.LinkTarget" class="dropdown-item @GetClass(node)" href="@node.Url">@node.Title</a></li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                    else if (childnode.Url == "/employer-services/learn-more")
                                    {
                                        <div class="col-12 col-lg-4">
                                            <a target="@childnode.LinkTarget" class="dropdown-item menu-heading @GetClass(childnode) contact-active" href="@childnode.Url">@childnode.Title</a>
                                            <ul>
                                                @foreach (var node in childnode.ChildNodes)
                                                {
                                                    <li><a type="@ContentHelper.FindPageNodeType(node.Url)" target="@node.LinkTarget" class="dropdown-item @GetClass(node) contact-active" href="@node.Url">@node.Title</a></li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                }


                            </div>
                        </div>
                    </li>
                }
                else if (parentNode.Url == "/resources")
                {
                    <li class="nav-item dropdown mega-menu ">
                        <a type="@ContentHelper.FindPageNodeType(parentNode.Url)" target="@parentNode.LinkTarget" class="nav-link @GetClass(parentNode)" href="@parentNode.Url" aria-haspopup="true" aria-expanded="false">
                            @parentNode.Title
                        </a>
                        <button class="menu-toggle dropdown-toggle" type="button" data-toggle="dropdown"></button>
                        <div class="dropdown-menu">
                            <div class="row">
                                @foreach (var childnode in parentNode.ChildNodes)
                                {

                                    if (childnode.Url == "/resources/career-new")
                                    {

                                        <div class="col-12 col-lg-4">
                                            <a type="@ContentHelper.FindPageNodeType(childnode.Url)" target="@childnode.LinkTarget" class="dropdown-item menu-heading @GetClass(childnode) career-new-active career-resources-active careers-news-active" href="@childnode.Url">@childnode.Title</a>
                                            <ul>
                                                @foreach (var node in childnode.ChildNodes)
                                                {
                                                    <li>
                                                        @if (node.Url == "/news-career")
                                                        {
                                                            <a type="@ContentHelper.FindPageNodeType(node.Url)" target="@node.LinkTarget" class="dropdown-item @GetClass(node) careers-news-active" href="/blogs/-in-category/categories/blog-categories/careers">@node.Title</a>
                                                        }
                                                        else if (node.Url == "/resources/career-new/career-advice")
                                                        {
                                                            <a type="@ContentHelper.FindPageNodeType(node.Url)" target="@node.LinkTarget" class="dropdown-item @GetClass(node) career-resources-active" href="/blogs/-in-category/categories/blog-categories/careers">@node.Title</a>
                                                        }
                                                        else
                                                        {
                                                            <a type="@ContentHelper.FindPageNodeType(node.Url)" target="@node.LinkTarget" class="dropdown-item @GetClass(node)" href="@node.Url">@node.Title</a>
                                                        }
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                    else if (childnode.Url == "/resources/workplace-relations-new")
                                    {

                                        <div class="col-12 col-lg-4">
                                            <a target="@childnode.LinkTarget" class="dropdown-item menu-heading @GetClass(childnode) custom-active workplace-relations-news" href="@childnode.Url">@childnode.Title</a>
                                            <ul>
                                                @foreach (var node in childnode.ChildNodes)
                                                {
                                                    <li>
                                                        @if (node.Url == "/workplace-relations-news")
                                                        {
                                                            <a type="@ContentHelper.FindPageNodeType(node.Url)" target="@node.LinkTarget" class="dropdown-item @GetClass(node) workplace-relations-news" href="/blogs/-in-category/categories/blog-categories/workplace-relations">@node.Title</a>
                                                        }
                                                        else if (node.Url == "/workplace-relations-advice")
                                                        {
                                                            <a type="@ContentHelper.FindPageNodeType(node.Url)" target="@node.LinkTarget" class="dropdown-item @GetClass(node) custom-active" href="@node.Url">@node.Title</a>
                                                        }
                                                        else
                                                        {
                                                            <a type="@ContentHelper.FindPageNodeType(node.Url)" target="@node.LinkTarget" class="dropdown-item @GetClass(node)" href="@node.Url">@node.Title</a>
                                                        }
                                                    </li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                    else if (childnode.Url == "/resources/employer-new")
                                    {

                                        <div class="col-12 col-lg-4">
                                            <a type="@ContentHelper.FindPageNodeType(childnode.Url)" target="@childnode.LinkTarget" class="dropdown-item menu-heading @GetClass(childnode) employer-resources-active employer-news-active" href="@childnode.Url">@childnode.Title</a>
                                            <ul>
                                                @foreach (var node in childnode.ChildNodes)
                                                {
                                                    <li>

                                                        @if (node.Url == "/resources/employer-new/employer-advice")
                                                        {
                                                            <a type="@ContentHelper.FindPageNodeType(node.Url)" target="@node.LinkTarget" class="dropdown-item @GetClass(node) employer-resources-active" href="@node.Url">@node.Title</a>
                                                        }
                                                        else if (node.Url == "/employer-news")
                                                        {
                                                            <a type="@ContentHelper.FindPageNodeType(node.Url)" target="@node.LinkTarget" class="dropdown-item @GetClass(node) employer-news-active" href="/blogs/-in-category/categories/blog-categories/employers">@node.Title</a>
                                                        }
                                                        else
                                                        {
                                                            <a type="@ContentHelper.FindPageNodeType(node.Url)" target="@node.LinkTarget" class="dropdown-item @GetClass(node)" href="@node.Url">@node.Title</a>
                                                        }
                                                    </li>
                                                }
                                            </ul>

                                            @foreach (var childNode11 in parentNode.ChildNodes)
                                            {
                                                if (childNode11.Url == "/resources/learn-more")
                                                {
                                                    <a type="@ContentHelper.FindPageNodeType(childNode11.Url)" target="@childNode11.LinkTarget" class="dropdown-item menu-heading @GetClass(childNode11) contact-active" href="@childNode11.Url">@childNode11.Title</a>
                                                    <ul>
                                                        @foreach (var subNode in childNode11.ChildNodes)
                                                        {
                                                            <li><a type="@ContentHelper.FindPageNodeType(subNode.Url)" target="@subNode.LinkTarget" class="dropdown-item  @GetClass(subNode) contact-active" href="@subNode.Url">@subNode.Title</a></li>
                                                        }
                                                    </ul>
                                                }
                                            }
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </li>
                }
                else if (parentNode.Url == "/about")
                {
                    <li class="nav-item dropdown mega-menu">
                        <a type="@ContentHelper.FindPageNodeType(parentNode.Url)" target="@parentNode.LinkTarget" class="nav-link @GetClass(parentNode)" href="@parentNode.Url" aria-haspopup="true" aria-expanded="false">
                            @parentNode.Title
                        </a>
                        <button class="menu-toggle dropdown-toggle" type="button" data-toggle="dropdown"></button>
                        <div class="dropdown-menu">
                            <div class="row">
                                @foreach (var childnode in parentNode.ChildNodes)
                                {

                                    if (childnode.Url == "/about/about-us")
                                    {

                                        <div class="col-12 col-lg-4">
                                            <a type="@ContentHelper.FindPageNodeType(childnode.Url)" target="@childnode.LinkTarget" class="dropdown-item menu-heading @GetClass(childnode)" href="@childnode.Url">@childnode.Title</a>
                                            <ul>
                                                @foreach (var node in childnode.ChildNodes)
                                                {
                                                    <li><a type="@ContentHelper.FindPageNodeType(node.Url)" target="@node.LinkTarget" class="dropdown-item @GetClass(node)" href="@node.Url">@node.Title</a></li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                    else if (childnode.Url == "/about/work-for-us")
                                    {

                                        <div class="col-12 col-lg-4">
                                            <a type="@ContentHelper.FindPageNodeType(childnode.Url)" target="@childnode.LinkTarget" class="dropdown-item menu-heading @GetClass(childnode)" href="@childnode.Url">@childnode.Title</a>
                                            <ul>
                                                @foreach (var node in childnode.ChildNodes)
                                                {
                                                    <li><a type="@ContentHelper.FindPageNodeType(node.Url)" target="@node.LinkTarget" class="dropdown-item @GetClass(node)" href="@node.Url">@node.Title</a></li>
                                                }
                                            </ul>
                                        </div>
                                    }
                                    else if (childnode.Url == "/about/learn-more")
                                    {
                                        <div class="col-12 col-lg-4">
                                            <a type="@ContentHelper.FindPageNodeType(childnode.Url)" target="@childnode.LinkTarget" class="dropdown-item menu-heading @GetClass(childnode) contact-active" href="@childnode.Url">@childnode.Title</a>
                                            <ul>
                                                @foreach (var node in childnode.ChildNodes)
                                                {
                                                    <li><a type="@ContentHelper.FindPageNodeType(node.Url)" target="@node.LinkTarget" class="dropdown-item @GetClass(node) contact-active" href="@node.Url">@node.Title</a></li>
                                                }
                                            </ul>
                                        </div>
                                    }

                                }

                                @*<div class="col-12 col-lg-4">
                                        <a class="dropdown-item menu-heading" href="#">Learn More</a>
                                        <ul>
                                            <li><a class="dropdown-item" href="/contact">Contact Us</a></li>
                                        </ul>
                                    </div>*@
                            </div>
                        </div>
                    </li>
                }
                else if (parentNode.Url == "/contact")
                {
                    <li class="nav-item dropdown mega-menu">
                        <a type="@ContentHelper.FindPageNodeType(parentNode.Url)" target="@parentNode.LinkTarget" class="nav-link @GetClass(parentNode)" href="@parentNode.Url" aria-haspopup="true" aria-expanded="false">
                            @parentNode.Title
                        </a>
                        <button class="menu-toggle dropdown-toggle" type="button" data-toggle="dropdown"></button>
                        <div class="dropdown-menu">
                            <div class="row">
                                <div class="col-12 col-lg-4">
                                    @foreach (var childNode in parentNode.ChildNodes)
                                    {
                                        if (childNode.Url == "/contact/actions")
                                        {
                                            <a type="@ContentHelper.FindPageNodeType(childNode.Url)" target="@childNode.LinkTarget" class="dropdown-item menu-heading @GetClass(childNode) contact-active find-talent-active find-a-job-active feedback-active" href="@childNode.Url">@childNode.Title</a>
                                            <ul>
                                                @foreach (var node in childNode.ChildNodes)
                                                {
                                                    if (node.Url == "/contact/actions/call-us")
                                                    {
                                                        <li><a type="@ContentHelper.FindPageNodeType(node.Url)" target="@node.LinkTarget" class="dropdown-item @GetClass(node) contact-active" href="@node.Url">@node.Title</a></li>
                                                    }
                                                    else if (node.Url == "/contact/actions/find-talent")
                                                    {
                                                        <li><a type="@ContentHelper.FindPageNodeType(node.Url)" target="@node.LinkTarget" class="dropdown-item @GetClass(node) find-talent-active" href="@node.Url">@node.Title</a></li>
                                                    }
                                                    else if (node.Url == "/contact/actions/find-a-job")
                                                    {
                                                        <li><a type="@ContentHelper.FindPageNodeType(node.Url)" target="@node.LinkTarget" class="dropdown-item @GetClass(node) find-a-job-active" href="@node.Url">@node.Title</a></li>
                                                    }
                                                    else
                                                    {
                                                        <li><a type="@ContentHelper.FindPageNodeType(node.Url)" target="@node.LinkTarget" class="dropdown-item @GetClass(node) feedback-active" href="@node.Url">@node.Title</a></li>
                                                    }

                                                }
                                            </ul>
                                        }

                                        @*else if (childNode.Url == "/specialist-recruitment-group/learn-more")
                                            {
                                            <a class="dropdown-item menu-heading @GetClass(childNode)" href="@childNode.Url">@childNode.Title</a>
                                            <ul>
                                                @foreach (var node in childNode.ChildNodes)
                                                {

                                                <li><a class="dropdown-item @GetClass(node)" href="@node.Url">@node.Title</a></li>
                                                }
                                            </ul>
                                            }*@
                                    }
                                </div>
                                @{
                                    List<NodeViewModel>
                                        listTopFive = new List<NodeViewModel>
                                            ();
                                    List<NodeViewModel>
                                        listRemainingNodes = new List<NodeViewModel>
                                            ();
                                    List<NodeViewModel>
                                        listAllNodes = new List<NodeViewModel>
                                            ();
                                }
                                @foreach (var childNode in parentNode.ChildNodes)
                                {
                                    if (childNode.Url == "/contact/our-brands")
                                    {
                                        <div class="col-12 col-lg-8">

                                            <a type="@ContentHelper.FindPageNodeType(childNode.Url)" target="@childNode.LinkTarget" class="dropdown-item menu-heading @GetClass(childNode)" href="@childNode.Url">Visit the Brand Site</a>

                                            @if (childNode.ChildNodes.Count > 4)
                                            {
                                                listTopFive.AddRange(childNode.ChildNodes.Take(4));
                                                listRemainingNodes.AddRange(childNode.ChildNodes.Skip(4));
                                            }

                                            else
                                            {
                                                listAllNodes.AddRange(childNode.ChildNodes);
                                            }

                                            @if (listTopFive.Count > 0 && listRemainingNodes.Count > 0)
                                            {
                                                <div class="row">
                                                    <div class="col-12 col-lg-6">
                                                        <ul>
                                                            @foreach (var node in listTopFive)
                                                            {
                                                                <li><a type="@ContentHelper.FindPageNodeType(node.Url)" target="@node.LinkTarget" class="dropdown-item @GetClass(node)" href="@node.Url">@node.Title</a></li>
                                                                <li><i>@ContentHelper.FindPagebyUrlNativeAPI(node.Url, parentNode.Url)</i></li>
                                                            }
                                                        </ul>
                                                    </div>
                                                    <div class="col-12 col-lg-6">
                                                        <ul>
                                                            @foreach (var node in listRemainingNodes)
                                                            {
                                                                <li><a type="@ContentHelper.FindPageNodeType(node.Url)" target="@node.LinkTarget" class="dropdown-item @GetClass(node)" href="@node.Url">@node.Title</a></li>
                                                                <li><i>@ContentHelper.FindPagebyUrlNativeAPI(node.Url, parentNode.Url)</i></li>
                                                            }
                                                        </ul>
                                                    </div>

                                                </div>
                                            }
                                            else
                                            {
                                                <div class="row">

                                                    <div class="col-12 col-lg-6">
                                                        <ul>

                                                            @foreach (var node in listAllNodes)
                                                            {
                                                                <li><a type="@ContentHelper.FindPageNodeType(node.Url)" target="@node.LinkTarget" class="dropdown-item @GetClass(node)" href="@node.Url">@node.Title</a></li>
                                                                <li><i>@ContentHelper.FindPagebyUrlNativeAPI(node.Url, parentNode.Url)</i></li>
                                                            }
                                                        </ul>
                                                    </div>
                                                    <div class="col-12 col-lg-6">
                                                        <ul></ul>
                                                    </div>
                                                </div>
                                            }
                                        </div>
                                    }
                                }
                            </div>
                        </div>
                    </li>
                }
            }
        </ul>
    </div>
</nav>

@helper GetClass(NodeViewModel node)
{
    /**/


    if (node.IsCurrentlyOpened)
    {
        @Html.Raw("active");
    }
    else if (node.HasChildOpen)
    {
        @Html.Raw("active");
    }
}


<script type="text/javascript">
    $(document).ready(function () {
        $('#navbarNavDropdown a').each(function () {
            if ($(this).prop('type').indexOf('InnerRedirect |') > -1) {
                if ($(this).prop('type').split("|")[1].replace("~", "").replace(" ", "") == $(location).attr('pathname'))
                    $(this).addClass("active");
            }
        });
    });

</script>