@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentDetailsViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Services;
@using Telerik.Sitefinity.Locations.Utilities;
@{ 
    LocationRetriever locationRetriever = new LocationRetriever();
    var officeCountry = locationRetriever.GetCountry(Model.Item.Fields.Location.CountryCode).Name;
}

<div class="sf-list sf-list--expandable @Model.CssClass">
    <div class="sf-list-item">
        <h3 data-sf-role="toggleLink" class="collapsed" data-toggle="collapse" data-target="#officeAddress"><i class="text-muted sf-icon glyphicon glyphicon-chevron-up"></i><strong>Get in touch</strong></h3>

        <div id="officeAddress" class="sf-list-content collapse">

            <address class="info-box">
                <div class="map-field">
                    <span class="fas fa-map-marker-alt"></span>
                    <pre>@Model.Item.Fields.Location.Street
@Model.Item.Fields.Location.City, @Model.Item.Fields.Location.Zip
@officeCountry</pre>
                </div>
                <div class="map-field"><span class="fas fa-phone"></span><a href="tel:@Model.Item.Fields.Phone" title="@Model.Item.Fields.Phone">@Model.Item.Fields.Phone</a></div>

            </address>
        </div>
    </div>
</div>