@model Telerik.Sitefinity.Frontend.Taxonomies.Mvc.Models.TaxonomyViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

@* Classifications widget *@
<ul class="o-classifications @Model.CssClass" role="list">
    @foreach (var taxon in Model.Taxa)
    {
        <li role="listitem">
            <a href="@taxon.Url" class="o-classifications__title" aria-label="@taxon.Title" role="link">@taxon.Title</a>

            @if (Model.ShowItemCount)
            {
                <span class="o-classifications__count">@Html.HtmlSanitize(string.Format("({0})", taxon.Count))</span>
            }
        </li>
    }
</ul>