@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.UsersList.UserDetailsViewModel

@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Security.Model;
@using Telerik.Sitefinity.Security.Claims;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Identity.Mvc.Models.UsersList;

@{
    bool isAuthenticated = false;

    var user = ClaimsManager.GetCurrentIdentity();
    if (user != null)
    {
        isAuthenticated = user.IsAuthenticated;
    }
}

<div class="o-userlist-details @Model.CssClass">
    @if (isAuthenticated)
    {
        <div class="o-userlist-details__thumbnail">
            <img src="@(((SitefinityProfileItemViewModel)Model.Item).AvatarImageUrl)" alt="@Model.Item.Fields.FirstName" class="__profile-img"/>
        </div>

        <div class="o-userlist-details__text">
            <h3 class="o-userlist-details__hdg">@((Model.Item.DataItem as SitefinityProfile).GetUserDisplayName())</h3>
            <p class="o-userlist-details__email">@((Model.Item.DataItem as SitefinityProfile).User.Email)</p>
            <p class="o-userlist-details__about">@Html.HtmlSanitize((((SitefinityProfileItemViewModel)Model.Item).About))</p>
        </div>
    }
    else
    {
        <p class="o-userlist-details__not-logged-in">@Html.Resource("NotLoggedInUser")</p>
    }
</div>