@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentDetailsViewModel

@using System.Collections;
@using System.Linq;
@using Telerik.Sitefinity.Frontend.DynamicContent.WidgetTemplates.Fields.Helpers;
@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Data.ContentLinks;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Libraries.Model;
@using Telerik.Sitefinity.Localization;
@using Telerik.Sitefinity.Model;
@using Telerik.Sitefinity.Model.ContentLinks;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Pages.Model;

@using Telerik.Sitefinity.Modules.Libraries;

<div class="testimonials-slider paralax-image @Model.CssClass" style="background:url(/images/default-source/banners/banner-2.jpg) center center/cover no-repeat;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="owl-carousel owl-carousel-testimonials owl-theme">
                    <div>
                        <div class="quote"><span></span></div>
                        <div class="testimonial-title">What our clients and job seekers say about us</div>
                        <div class="testimonial" @Html.InlineEditingFieldAttributes("Quote", "LongText")>@Html.HtmlSanitize((string)Model.Item.Fields.Quote)</div>
                        <div class="testimonial-author" @Html.InlineEditingFieldAttributes("By", "ShortText")>@Model.Item.Fields.By</div>
                        <div class="quote text-right"><span></span></div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
