@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentDetailsViewModel

@using System.Collections;
@using System.Linq;
@using Telerik.Sitefinity.Frontend.DynamicContent.WidgetTemplates.Fields.Helpers;
@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Data.ContentLinks;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Libraries.Model;
@using Telerik.Sitefinity.Localization;
@using Telerik.Sitefinity.Model;
@using Telerik.Sitefinity.Model.ContentLinks;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Pages.Model;

@using Telerik.Sitefinity.Modules.Libraries;

<div class="testimonials-slider testimonials-simple with-side-image @Model.CssClass" >
 
        <div class="row flex flex-center">
            <div class="col-md-4">

                @{
                    var testimonialImage = "/ResourcePackages/Hudson/assets/dist/images/placeholder-image.png";
                    if (Model.Item.Fields.Image != null)
                    {
                        testimonialImage = MediaContentExtensions.ResolveThumbnailUrl(Model.Item.Fields.Image.DataItem, "thumbcrop4");
                    }
                }
                <div class="img-holder"><img src="@testimonialImage" alt="@Model.Item.Fields.By" /></div>
            </div>
            <div class="col-md-8">
                <div class="item">
                    <div class="quote"><span>&ldquo;</span></div>
                    <div class="testimonial" @Html.InlineEditingFieldAttributes("Quote", "LongText")>@Html.HtmlSanitize((string)Model.Item.Fields.Quote)</div>
                    <div class="testimonial-author" @Html.InlineEditingFieldAttributes("By", "ShortText")>@Model.Item.Fields.By</div>
                    <div class="quote text-right"><span>&rdquo;</span></div>
                </div>

            </div>
        </div>
   
</div>
