@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentDetailsViewModel

@using System.Collections;
@using System.Linq;
@using Telerik.Sitefinity.Frontend.DynamicContent.WidgetTemplates.Fields.Helpers;
@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Data.ContentLinks;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Libraries.Model;
@using Telerik.Sitefinity.Localization;
@using Telerik.Sitefinity.Model;
@using Telerik.Sitefinity.Model.ContentLinks;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Pages.Model;

@using Telerik.Sitefinity.Modules.Libraries;

<div class="testimonials-slider bg-lighter @Model.CssClass" @Html.InlineEditingAttributes(Model.ProviderName, Model.ContentType.FullName, (Guid)Model.Item.Fields.Id)>
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                @{
                    var testimonialImage = "/ResourcePackages/Hudson/assets/dist/images/placeholder-image.png";
                    if (Model.Item.Fields.Image != null)
                    {
                        testimonialImage = MediaContentExtensions.ResolveThumbnailUrl(Model.Item.Fields.Image.DataItem, "thumb160");
                    }
                }

                <div class="item">
                    <div class="testimonial-slider-img" style="background-image: url(@testimonialImage)"></div>
                    <div class="quote"><span>&ldquo;</span></div>
                    <div class="testimonial" @Html.InlineEditingFieldAttributes("Quote", "LongText")>@Html.HtmlSanitize((string)Model.Item.Fields.Quote)</div>
                    <div class="testimonial-author" @Html.InlineEditingFieldAttributes("By", "ShortText")>@Model.Item.Fields.By</div>
                    <div class="quote text-right"><span>&rdquo;</span></div>
                </div>

            </div>
        </div>
    </div>
</div>
