@model JXTNext.Sitefinity.Widgets.Authentication.Mvc.Models.JXTNextResume.ProfileResumeViewModel

@using JXTNext.Sitefinity.Widgets.Authentication.Mvc.Models.JXTNextResume;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Utilities;
@using Telerik.Sitefinity.Services;

<div>

    @using (Html.BeginFormSitefinity("UploadResume", "UploadResumeForm", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <h2><span class="alert-icon far fa-file-alt"></span>@Html.Resource("AttachResumeLink")</h2>
        @*<div class="uploadfield-wrap">
                <input type="file" id="@Model.ApplicationAttachments[0].AttachementFileUploadKey" name="@Model.ApplicationAttachments[0].AttachementFileUploadKey" accept=".pdf,.doc,.docx,.txt,.xls,.xlsx,.rtf" />
                <small class="lbl">Browse</small>
            </div>*@
        <input id="myFile" data-sf-role="profile-resume-attachment-upload" type="file" value='@Html.Resource("UploadFileLink")' accept=".pdf,.doc,.docx,.txt,.xls,.xlsx,.rtf" name="profile-resume" />
        <p class="note"><small>@Html.Resource("AttachFileConditionsLink")</small></p>
        <div class="button-wrapper">
            @*<input data-sf-role="profile-resume-attachment-save" type="submit" value='@Html.Resource("SaveFileAttachmentLink")' />*@
            <input id="uploadBtn" class="btn" type="submit" value='@Html.Resource("SaveFileAttachmentLink")' disabled/>
        </div>
        
    }

    
        <br>
            @if (@Model.UploadError == true)
            {
                <div class="alert alert-danger">Upload Error! Review the uploaded document.</div>
            }
            @if (@Model.FetchError == true)
            {
                <div class="alert alert-danger">
                    Error while fetching the resume files.</div>
            }
            @if (@Model.DeleteError == true)
            {
                <div class="alert alert-danger">
                    Delete Error! Try again.</div>
            }

        
 
        <div class="" id="dvResumeResults">
            <table class="table">
                <tr>
                    <th>Name</th>
                    <th width="122">Action</th>
                    <th width="100">Date</th>
                </tr>
                @foreach (var item in @Model.ResumeList)
                {
                <tr>
                    <td><span>@item.FileFullName</span></td>
                    <td>
                        <a class="btn btn-sm btn-tag" download="@item.FileName" href="@item.FileUrl" target="_blank">@Html.Resource("ViewResume")</a> @Html.ActionLink("DELETE", "DeleteResume", "JXTNextResume", new { resumeId = item.Id }, new { @class = "btn btn-sm btn-tag btn-danger" })
                        <input name="Id" value="@item.Id" hidden />
                        <input name="FileName" value="@item.FileName" hidden />
                    </td>
                    <td>
                        
                        @*<td><input type="submit" data-sf-role="profile-resume-delete" value="@Html.Resource("DeleteResume")"></td>*@
                        
                    </td>
                    
                </tr>
                }

            </table>

        </div>

</div>
@Html.Script(Url.WidgetContent("Mvc/Scripts/JXTNextResume/profile-resume-upload.js"), "bottom", false)