@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.AccountActivation.AccountActivationViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers

    <div class="o-accountactivation @Model.CssClass">
        @* Successful activation *@
        @if (Model.Activated)
        {
            <h3 class="o-accountactivation__hdg" role="alert" aria-live="assertive">@Html.Resource("AccountActivationSuccess")</h3>

            <a class="o-accountactivation__link" href="@Model.ProfilePageUrl" role="link">@Html.Resource("ProfilePageUrlTitle")</a>
        }

        @* Unsuccessful activation *@
        else if (Model.AttemptedActivation)
        {
            <h3 class="o-accountactivation__hdg" role="alert" aria-live="assertive">@Html.Resource("AccountActivationFail")</h3>
        }
    </div>