@model JXTNext.Sitefinity.Widgets.Identity.Mvc.Models.LoginForm.LoginFormViewModel

@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Services;

@*Add scripts and stylesheets*@
@Html.Script(ScriptRef.JQuery, "top")
@Html.Script("//ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.js",  "top")
@Html.Script("//ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.min.js", "top")

<div class="@Model.CssClass row sf-m-xxs login-form">
    @if (Telerik.Sitefinity.Security.SecurityManager.GetCurrentUserId() == Guid.Empty || SystemManager.IsInlineEditingMode || SystemManager.IsDesignMode)
    {
        using (Html.BeginFormSitefinity(@Request.Url.Query, null, null, FormMethod.Post, null, true))
        {
            <div class="sign-in-with">
                <h2>Sign in with</h2>
                @if (Model.ExternalProviders != null && Model.ExternalProviders.Count() > 0)
                { 
                    <ul class="list-unstyled">

                    @foreach (var provider in Model.ExternalProviders)
                    {   
                        var classToBeAdd = "btn btn-" + @provider.Key.ToLower().ToString();
                        <li>
                            @Html.ActionLink(provider.Key, "LoginExternalProvider", new { model = provider.Key }, new { @class = classToBeAdd })
                        </li>
                    }

                    </ul>
                }
            </div>
        }
    }

</div>

@Html.Script(Url.WidgetContent("Mvc/Scripts/LoginForm/login-form.js"), "bottom")
