@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.LoginForm.LoginFormViewModel

@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Services;

@*Add scripts and stylesheets*@
@Html.Script(ScriptRef.JQuery, "top")
@Html.Script("//ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.js",  "top")
@Html.Script("//ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.min.js", "top")

<div class="@Model.CssClass row sf-m-xxs login-form">
    @if (Telerik.Sitefinity.Security.SecurityManager.GetCurrentUserId() == Guid.Empty || SystemManager.IsInlineEditingMode || SystemManager.IsDesignMode)
    {
        using (Html.BeginFormSitefinity(@Request.Url.Query, null, null, FormMethod.Post, null, true))
        {
            <div>
                @Html.ValidationSummary(true)

                <h2>@Html.Resource("LoginFormLogInLegendHeader")</h2>
                <div class="basic-form">


                    @if (Request.Url.Query.Contains("err=true") || Model.LoginError)
                    {
                        <div class="alert alert-danger">
                            @Html.Resource("IncorrectCredentialsMessage")
                        </div>
                    }
                    <div class="login-wrap">

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4 text-right">
                                    <p class="form-label">@Html.Resource("Email")*</p>
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(u => u.UserName, new { @id = "userid", @class = "form-control", @placeholder = Html.Resource("EmailCannotBeEmpty", "ErrorMessages") })
                                    @if (Html.ValidationMessage("UserName") != null)
                                    {
                                        <div class="has-error">
                                            <span class="help-block">@Html.ValidationMessage("UserName")</span>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4 text-right">
                                    <p class="form-label">
                                        @Html.Resource("Password")*
                                    </p>
                                </div>
                                <div class="col-md-8">

                                    @Html.PasswordFor(u => u.Password, new { @class = "form-control", @placeholder = Html.Resource("PasswordCannotBeEmpty", "Labels") })
                                    @if (Html.ValidationMessage("Password") != null)
                                    {
                                        <div class="has-error">
                                            <span class="help-block">@Html.ValidationMessage("Password")</span>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-8">
                                @if (Model.ShowForgotPasswordLink)
                                {
                                    <div class="form-group forgot-password">
                                        @Html.ActionLink(Html.Resource("ForgottenPasword"), "ForgotPassword")
                                    </div>
                                }
                                @if (Model.ShowRememberMe)
                                {
                                    <div class="form-group">
                                        <div class="checkbox clearfix">
                                            @Html.CheckBoxFor(u => u.RememberMe)
                                            <span class="checkbox-icon fas fa-check"></span>
                                            @Html.Resource("RememberMe")
                                        </div>
                                    </div>
                                }

                                <div class="btn-block">
                                    <button type="submit" class="btn btn-primary">@Html.Resource("LoginFormLogInButton")</button>
                                </div>

                            </div>
                        </div>

                    </div>
                    <div class="registration-link">
                        <div class="row">
                            <div class="col-md-4"></div>
                            <div class="col-md-8">
                                @if (Model.ShowRegistrationLink)
                                {
                                    <div class="sf-registration-link">
                                        <div>
                                            @Html.Resource("NotRegisteredYet")
                                            <a href="@Model.RegisterPageUrl" class="font-regular link-default">@Html.Resource("LoginFormRegisterNow")</a>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>


                </div>
            </div>
        }
    }

    else
    {
        <h2 class="color-highlight">@Html.Resource("AlreadyLoggedIn")</h2>


        @Html.Raw(Html.Resource("AlreadyLoggedInMessage"))
    }
    </div>

@Html.Script(Url.WidgetContent("Mvc/Scripts/LoginForm/login-form.js"), "bottom")
