@model JXTNext.Sitefinity.Widgets.Feather.Mvc.Models.Card.JXTNextCardViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using JXTNext.Sitefinity.Media.Mvc.Helpers;


<div class="page-section banner-with-basic @Model.CssClass" style="background-image: url('@ImageHelper.GetImageUrl(Model.CardImage,"art-grid"))">
    <div class="visible-xs image-wrap">
        @Html.ImgTag(Model.CardImage, Model.Heading, "art-grid-m")
    </div>
    <div class="container">
        <div class="row ">
            <div class="col-lg-6 col-md-8 col-xs-12">
                <div class="thumbnail card-basic ">
                    <div class="caption">
                        @if (!string.IsNullOrEmpty(Model.ActionUrl))
                        {
                            <p class="color-light text-uppercase font-medium "><small>@Model.ActionName</small></p>
                        }
                        <h1>
                            @if (!string.IsNullOrEmpty(Model.ActionUrl))
                            {
                                <a href="@Html.UrlSanitize(Model.ActionUrl)" title="@Model.Heading">
                                    @Html.HtmlSanitize(Model.Heading)
                                </a>
                            }
                            else
                            {
                                @Html.HtmlSanitize(Model.Heading)
                            }
                        </h1>
                        <p class="banner-with-basic-summary">@Html.HtmlSanitize(Model.Description)</p>
                        @if (!string.IsNullOrEmpty(Model.ActionUrl))
                        {
                            <a href="@Html.UrlSanitize(Model.ActionUrl)" class="btn btn-more" title="@Model.Heading" role="button"></a>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .page-wrapper main {
        padding-top: 195px;
    }

    header .header {
        background: #197e84;
    }

        header .header.navbar-fixed-top {
            background: transparent;
        }

    header .navbar-fixed-top:before {
        background: rgb(25, 126, 132);
        /*background: rgba(25, 126, 132,.8);*/
    }

    header .navbar.navbar-default .navbar-nav > li .decoration {
        background: #FFF;
    }
</style>
<script>
    $(document).ready(function () {
        $(".page-wrapper main").css({ "padding-top": $("#header").outerHeight() });
    });
</script>