@model Telerik.Sitefinity.Frontend.Card.Mvc.Models.Card.CardViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<div class="thumbnail card-rollover-bg @Model.CssClass">

    @if (!string.IsNullOrEmpty(Model.ActionUrl))
    {
        <a href="@Html.UrlSanitize(Model.ActionUrl)" title="@Model.Heading">
            @RenderCard(Model)
            <span class="btn btn-more"></span>
        </a>
    }
    else
    {
        @RenderCard(Model)
    }


</div>

@helper RenderCard(Telerik.Sitefinity.Frontend.Card.Mvc.Models.Card.CardViewModel Model)
{
    <div class="caption" style="background-image: url(@Model.SelectedSizeUrl);
         background-position: 50% 50%;
         background-size: cover;
         background-repeat: no-repeat;">
        <div class="card-description">
            <div class="display-table">
                <div class="card-description-content">
                    <h3>@Html.HtmlSanitize(Model.Heading)</h3>
                    <p>@Html.HtmlSanitize(Model.Description)</p>
                </div>
            </div>
        </div>
    </div>
}