@model Telerik.Sitefinity.Frontend.Card.Mvc.Models.Card.CardViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers


<div class="@Model.CssClass paralax-image" style="background: url(@Model.SelectedSizeUrl) no-repeat center center/cover;">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3>@Html.HtmlSanitize(Model.Heading)</h3>
                <p>@Html.HtmlSanitize(Model.Description)</p>
                @if (!string.IsNullOrEmpty(Model.ActionUrl))
                {
                    if (!string.IsNullOrEmpty(Model.ActionName))
                    {
                        <a href="@Html.UrlSanitize(Model.ActionUrl)" class="btn">@Model.ActionName</a>
                    }
                }
                
            </div>
        </div>
    </div>
</div>
