@model SitefinityWebApp.Mvc.Models.MultiCard.MultiCardViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

<div class="jn_multiCard multi-card multi-card-tabs @Model.CssClass" style="background-color: @Model.BackgroundColor">
    <div class="container">
        @if (!string.IsNullOrEmpty(Model.GroupHeader))
        {
            <h2 class="block-title">@Model.GroupHeader</h2>
        }
        <div class="jn_vrt-tabs clearfix">
            <ul class="nav nav-tabs">
                <li class="tab-label">@Model.GroupActionName</li>
                @for (int i = 0; i < Model.Cards.Count(); i++)
                {
                    <li class="@( (i == 0) ? "active" : "" )"><a href="#tab@(i)" data-toggle="tab">@Model.Cards[i].Heading</a></li>
                }
            </ul>
            <div class="tab-content">
                @for (int i = 0; i < Model.Cards.Count(); i++)
                {
                    <div id="tab@(i)" class="tab-pane fade @( (i == 0) ? "active in" : "" )">
                        @if (!string.IsNullOrEmpty(Model.Cards[i].SelectedSizeUrl))
                        {
                        <figure class="image-holder"><img class="icons" src="@Model.Cards[i].SelectedSizeUrl" title="@Model.Cards[i].ImageTitle" alt="@Model.Cards[i].ImageAlternativeText"></figure>
                        }
                        @if (!string.IsNullOrEmpty(Model.Cards[i].Heading))
                        {
                            <h3>@Html.HtmlSanitize(Model.Cards[i].Heading)</h3>
                        }

                        @if (!string.IsNullOrEmpty(Model.Cards[i].Description))
                        {
                            <p>
                                @Html.HtmlSanitize(Model.Cards[i].Description)
                            </p>
                        }

                        @if (!string.IsNullOrEmpty(Model.Cards[i].ActionName))
                        {
                            <a class="btn" href="@Html.UrlSanitize(Model.Cards[i].ActionUrl)" role="button" title="@Model.Cards[i].ActionName">
                                @Model.Cards[i].ActionName
                            </a>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>
