@model SitefinityWebApp.Mvc.Models.MultiCard.MultiCardViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

<div class="jn_multiCard @Model.CssClass" style="background-color: @Model.BackgroundColor">
    <div class="container">
    @if (!string.IsNullOrEmpty(Model.GroupHeader))
    {
        <h2>@Model.GroupHeader</h2>
    }

    @foreach (var card in Model.Cards)
    {
        <div class="card-wrapper">
            <div class="card-copy">
                @if (!string.IsNullOrEmpty(card.Heading))
                {
                    <h3 class="section-heading">@Html.HtmlSanitize(card.Heading)</h3>
                }

                @if (!string.IsNullOrEmpty(card.Description))
                {
                    <p class="content">
                        @Html.HtmlSanitize(card.Description)
                    </p>
                }

                @if (!string.IsNullOrEmpty(card.ActionName))
                {   
                    <a class="btn btn-lg action-btn" href="@Html.UrlSanitize(card.ActionUrl)" role="button">
                        <span class="action-text">@card.ActionName</span>
                    </a>
                }
            </div>

                
        </div>
    }

    @if (!string.IsNullOrEmpty(Model.GroupActionName) && !string.IsNullOrEmpty(Model.GroupActionUrl))
    {
        <a href="@Html.UrlSanitize(Model.GroupActionUrl)" class="btn">
            <span>@Model.GroupActionName</span>
        </a>
    }
    </div>
</div>
