@model Telerik.Sitefinity.Frontend.Media.Mvc.Models.Document.DocumentViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

<div class="o-documentlink @Model.CssClass">
    @if (!string.IsNullOrEmpty(Model.MediaUrl))
    {
    <div class="o-documentlink__item">
        <div class="item-left" aria-hidden="true">
            <a class="o-documentlink @String.Concat(" sf", Model.Extension)" href="@Model.MediaUrl" target="_blank">
                <span class="o-documentlink__icon-file">
                    <span class="icon-txt @Model.Extension">@Model.Extension</span>
                </span>
            </a>
        </div>
        <div class="o-documentlink__item-body" role="group">
            <div>
                <a class="o-documentlink @String.Concat(" sf", Model.Extension)" href="@Model.MediaUrl" target="_blank">@Model.Title</a>
                <span class="txt-grey" aria-label="@Html.Resource(" FileExtension")">(@Model.Extension)</span>
            </div>
            <span class="txt-grey" aria-label="@Html.Resource(" FileSize")">@Model.FileSize KB</span>
        </div>
    </div>
    }
</div>