@model JXTPortal.Domain.ViewModel.MemberModel.ChangePasswordModel
@{
    ViewBag.Title = "Change Password";
}

<h1>@ViewBag.Title</h1>
<p>
    New passwords are required to be a minimum of @Membership.MinRequiredPasswordLength characters in length.
</p>

<script src="http://images.jxt.net.au/mobile/Scripts/jquery.validate.min.js"></script>
<script src="http://images.jxt.net.au/mobile/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm()) {
    <ul data-role="listview" data-inset="true" class="FormFields">
                <li data-role="fieldcontain">
            <label for="OldPassword">Old Password</label>
			 <span class="inputFieldsWrap">@Html.PasswordFor(m => m.OldPassword)</span>
            @Html.ValidationMessageFor(m => m.OldPassword)
			
        </li>

        <li data-role="fieldcontain">
            <label for="NewPassword">New Password</label>
			<span class="inputFieldsWrap">@Html.PasswordFor(m => m.NewPassword)</span>
            @Html.ValidationMessageFor(m => m.NewPassword)
        </li>

        <li data-role="fieldcontain">
            <label for="ConfirmPassword">Confirm Password</label>
            <span class="inputFieldsWrap">@Html.PasswordFor(m => m.ConfirmPassword)</span>
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </li>                    
    </ul>
	@Html.ValidationSummary(true, "Password change was unsuccessful. Please correct the errors and try again.")
<input type="submit" value="Change password" class="btn-submit" />
}