@model dynamic
@using Telerik.Sitefinity.Services;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers

@{
    int jobOfferIndex = 0;
    var defaultLogo = "/ResourcePackages/Hudson/assets/dist/images/defaultLogo.png";
}

<div class="@ViewBag.CssClass">
    @foreach (var jobOffer in Model.SearchResults)
    {
        if (jobOfferIndex % 2 == 0)
        {
            @: <div class="row same-height-wrapper">
            }

            <div class="col-sm-6">

                <div class="featured-job-offer same-height-box">
                    <div class="job-offer-company text-right"><img alt="" src="@defaultLogo" title="@jobOffer.Title"></div>
                    <div class="job-offer">
                        <h3><a class="title-link" href="@jobOffer.Culture@ViewBag.JobDetailsPageUrl/@jobOffer.ClassificationURL/@jobOffer.JobID">@jobOffer.Title</a></h3>

                        @{
                            var summary = Html.HtmlSanitize((string)jobOffer.ShortDescription).ToString();
                            string trimSummary = !String.IsNullOrWhiteSpace(summary) && summary.Length >= 250 ? summary.Substring(0, 250) + "..." : summary;
                        }
                        <p class="job-offer-sum">
                            @trimSummary
                        </p>
                    </div>
                    <a class="btn btn-more" href="@jobOffer.Culture@ViewBag.JobDetailsPageUrl/@jobOffer.ClassificationURL/@jobOffer.JobID"></a>
                </div>

            </div>

            if (jobOfferIndex % 2 != 0)
            {
            @: </div>
        }

        jobOfferIndex++;
    }

    <div class="row row-see-more">
        <div class="col-md-12">
            <div class="text-center"><a class="btn btn-default" href="@ViewBag.JobResultsPageUrl">View all jobs</a></div>
        </div>
    </div>
</div>
