﻿@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<div ng-controller="SimpleCtrl">
    <uib-tabset class="nav-tabs-wrapper">
        <uib-tab heading="General">
            <div class="form-group">
                <label for="templateName">@Html.Resource("Template")</label>
                <div class="row">
                    <div class="col-xs-6">
                        <select id="templateName" ng-model="properties.TemplateName.PropertyValue" class="form-control">
                            @foreach (var viewName in Html.GetViewNames("JobApplication", @"JobApplication\.(?<viewName>\w*)$"))
                            {
                                <option value="@viewName"> @viewName.SplitCamelCase()</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="navCssClass">@Html.Resource("CssClasses")</label>
                <input type="text" id="navCssClass" ng-model="properties.CssClass.PropertyValue" class="form-control" />
            </div>

        </uib-tab>

        <uib-tab heading="Email Template">
            <label>@Html.Resource("EmailSubject")</label>
            <input type="text" ng-model="properties.EmailTemplateEmailSubject.PropertyValue" /><br /><br />

            <label>@Html.Resource("SenderName")</label>
            <input type="text" ng-model="properties.EmailTemplateSenderName.PropertyValue" /><br /><br />

            <label>@Html.Resource("SenderEmailAddress")</label>
            <input type="text" ng-model="properties.EmailTemplateSenderEmailAddress.PropertyValue" /><br /><br />

            <label>@Html.Resource("EmailCC")</label>
            <input type="text" ng-model="properties.EmailTemplateCC.PropertyValue" /><br /><br />

            <label>@Html.Resource("EmailBCC")</label>
            <input type="text" ng-model="properties.EmailTemplateBCC.PropertyValue" /><br /><br />



            <label>@Html.Resource("SelectEmailTemplate")</label>
            <sf-list-selector sf-multiselect="false" sf-dynamic-items-selector sf-item-type="properties.ItemType.PropertyValue" sf-identifier-field="Title" sf-master="true"
                              sf-selected-item-name="properties.EmailTemplateName.PropertyValue"
                              sf-selected-item-id="properties.EmailTemplateId.PropertyValue"
                              sf-provider="properties.EmailTemplateProviderName.PropertyValue" />
        </uib-tab>
    </uib-tabset>
</div>