﻿@using Telerik.Sitefinity.Frontend.Mvc.Helpers

<div ng-controller="SimpleCtrl">
    <uib-tabset class="nav-tabs-wrapper">
        <uib-tab heading="General">
            <div class="form-group">
                <label for="templateName">@Html.Resource("Template")</label>
                <div class="row">
                    <div class="col-xs-6">
                        <select id="templateName" ng-model="properties.TemplateName.PropertyValue" class="form-control">
                            @foreach (var viewName in Html.GetViewNames("JobApplication", @"JobApplication\.(?<viewName>\w*)$"))
                            {
                                <option value="@viewName"> @viewName.SplitCamelCase()</option>
                            }
                        </select>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <label for="navCssClass">@Html.Resource("CssClasses")</label>
                <input type="text" id="navCssClass" ng-model="properties.CssClass.PropertyValue" class="form-control" />
            </div>

            <div class="form-group">
                <label>@Html.Resource("DisplaySuccess")</label>
                <sf-list-selector sf-page-selector sf-selected-item-id="properties.JobApplicationSuccessPageId.PropertyValue" sf-select-button-text="@Html.Resource("SelectSuccessPage")"></sf-list-selector>
            </div>

        </uib-tab>

        <uib-tab heading="Email Template">
            <label>@Html.Resource("EmailSubject")</label>
            <input type="text" ng-model="properties.EmailTemplateEmailSubject.PropertyValue" class="form-control" /><br /><br />

            <label>@Html.Resource("SenderName")</label>
            <input type="text" ng-model="properties.EmailTemplateSenderName.PropertyValue" class="form-control" /><br /><br />

            <label>@Html.Resource("SenderEmailAddress")</label>
            <input type="text" ng-model="properties.EmailTemplateSenderEmailAddress.PropertyValue" class="form-control" /><br /><br />

            <label>@Html.Resource("EmailCC")</label>
            <input type="text" ng-model="properties.EmailTemplateCC.PropertyValue" class="form-control" /><br /><br />

            <label>@Html.Resource("EmailBCC")</label>
            <input type="text" ng-model="properties.EmailTemplateBCC.PropertyValue" class="form-control" /><br /><br />



            <label>@Html.Resource("SelectEmailTemplate")</label>
            <sf-list-selector sf-multiselect="false" sf-dynamic-items-selector sf-item-type="properties.ItemType.PropertyValue" sf-identifier-field="Title" sf-master="true"
                              sf-selected-item-name="properties.EmailTemplateName.PropertyValue"
                              sf-selected-item-id="properties.EmailTemplateId.PropertyValue"
                              sf-provider="properties.EmailTemplateProviderName.PropertyValue" />

            <label>@Html.Resource("SelectAdvertiserEmailTemplate")</label>
            <label>@Html.Resource("EmailSubject")</label>
            <input type="text" ng-model="properties.AdvertiserEmailTemplateEmailSubject.PropertyValue" class="form-control" /><br /><br />

            <sf-list-selector sf-multiselect="false" sf-dynamic-items-selector sf-item-type="properties.ItemType.PropertyValue" 
                              sf-identifier-field="Title" sf-master="true"
                              sf-selected-item-name="properties.AdvertiserEmailTemplateName.PropertyValue"
                              sf-selected-item-id="properties.AdvertiserEmailTemplateId.PropertyValue"
                              sf-provider="properties.AdvertiserEmailTemplateProviderName.PropertyValue" />
        </uib-tab>
        <uib-tab heading="Apply With Social Media">
            <div class="list-group list-group-endless" kendo-sortable k-options="sortableOptions" k-on-change="sortItems(kendoEvent)" k-ignore="'input'">
            <div class="list-group-item"
                 ng-repeat="item in applyWithSocialMediaList track by item.Id"
                 ng-class="list-group-item-draggable">

                <div class="row">
                    <div class="col-xs-1">
                        <span class="handler list-group-item-drag"></span>
                    </div>
                    <div class="col-xs-2">
                        <div class="checkbox">
                            <span><label><input type="checkbox" ng-model="item.Selected" />{{item.Title}}</label></span>
                            @*<span sf-shrinked-breadcrumb="{{item.Title}}" sf-max-length="60"></span>*@
                        </div>
                    </div>
                </div>


            </div>
        </div>
                </uib-tab>
    </uib-tabset>
</div>