@model Telerik.Sitefinity.Frontend.ContentBlock.Mvc.Models.IContentBlockModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Services;

@* If inline editing is currently active then wrap in editing *@
@if (SystemManager.IsInlineEditingMode)
{
    <div class="o-content-block @Model.WrapperCssClass" @Html.InlineEditingAttributes(Model.ProviderName, Model.ContentType, Model.SharedContentID)>
        <div @Html.InlineEditingFieldAttributes("Content", "LongText")>@Html.HtmlSanitize(Model.Content)</div>
    </div>
}
else
{
    <div class="o-content-block @Model.WrapperCssClass">
        @Html.HtmlSanitize(Model.Content)
    </div>
}