@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentDetailsViewModel

@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Web.DataResolving;
@using Newtonsoft.Json;

@{
    var imageurl = "";
    foreach (var relatedItem in Model.Item.Fields.BlogImage)
    {
        imageurl = (string)relatedItem.Fields.ItemDefaultUrl;
    }
    System.Web.HttpCookie cookie = new System.Web.HttpCookie("_magazine", "test");
}
<div class="article-details @Model.CssClass" @Html.InlineEditingAttributes(Model.ProviderName, Model.ContentType.FullName, (Guid)Model.Item.Fields.Id)>

    @*<div class="post-nav">
            <div class="prev-post"><a href="#" rel="prev"><i class="fas fa-long-arrow-alt-left"></i> Previous Post</a></div>
            <div class="next-post"><a href="#" rel="next">Next Post <i class="fas fa-long-arrow-alt-right"></i></a></div>
        </div>*@

    <img src="@imageurl" alt="@Model.Item.Fields.Title" />

    <div class="entry-meta details">
        <span class="entry-cats">
            @if (Model.Item.Fields.volume != null)
            {
                foreach (var taxon in Model.Item.GetFlatTaxons("volume"))
                {
                    HttpContext.Current.Response.Cookies["_magazine"]["volume"] = taxon.Title.ToString();
                    <span class="main-color-bg cat6"><a href="#">@taxon.Title.ToString()</a></span>
                }

            }
            @if (Model.Item.Fields.issue != null)
            {
                foreach (var taxon in Model.Item.GetFlatTaxons("issue"))
                {
                    HttpContext.Current.Response.Cookies["_magazine"]["issue"] = taxon.Title.ToString();
                    <span class="main-color-bg cat6"><a href="#">@taxon.Title.ToString()</a></span>
                }

            }

        </span>

    </div>

    <h3>
        <span @Html.InlineEditingFieldAttributes("Title", "ShortText")>@Model.Item.Fields.Title</span>

    </h3>



    <div @Html.InlineEditingFieldAttributes("Summary", "LongText")>@Html.HtmlSanitize((string)Model.Item.Fields.Summary)</div>

    <div @Html.InlineEditingFieldAttributes("Content", "LongText")>@Html.HtmlSanitize((string)Model.Item.Fields.Content)</div>

    <hr class="space" />
    <div class="socialshare-wrap"></div>
    <hr class="space mt-10" />

    @Html.CommentsList(@Model.Item.DataItem)
    <meta property="og:image" content="@imageurl">
    <meta property="og:description" content="@Html.HtmlSanitize((string)Model.Item.Fields.Summary)" />
    <meta property="og:url" content="@Request.Url.AbsoluteUri" />
    <meta property="og:title" content=">@Model.Item.Fields.Title" />
</div>

<script>
    $(document).ready(function () {
        $(".socialshare-wrap").append($(".magazine-detail .sf-social-share"));
    });
</script>