@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentDetailsViewModel

@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Web.DataResolving;

@{
    var imageurl = "";
    foreach (var relatedItem in Model.Item.Fields.BlogImage)
    {
        imageurl = (string)relatedItem.Fields.ItemDefaultUrl;
    }
}

<div class="article-details @Model.CssClass" @Html.InlineEditingAttributes(Model.ProviderName, Model.ContentType.FullName, (Guid)Model.Item.Fields.Id)>

    @*<div class="post-nav">
            <div class="prev-post"><a href="#" rel="prev"><i class="fas fa-long-arrow-alt-left"></i> Previous Post</a></div>
            <div class="next-post"><a href="#" rel="next">Next Post <i class="fas fa-long-arrow-alt-right"></i></a></div>
        </div>*@

    <img src="@imageurl" alt="@Model.Item.Fields.Title" />

    <div class="entry-meta details">
        <span class="entry-cats">
            @if (Model.Item.Fields.Category != null)
            {
                foreach (var taxon in Model.Item.GetHierarchicalTaxons("Category"))
                {
                    var url = "/news/blog/-in-category/categories" + @taxon.FullUrl;
                    <span class="main-color-bg cat6"><a href="@url">@taxon.Title.ToString()</a></span>
                }
            }

        </span>
        <span class="author">Posted by <strong>@Html.HtmlSanitize((string)Model.Item.Fields.AuthorName)</strong></span>
        <span class="sep">-</span>
        <span class="date">@Model.Item.GetDateTime("PublicationDate", "MMM, d yyyy")</span>
    </div>

    <h3>
        <span @Html.InlineEditingFieldAttributes("Title", "ShortText")>@Model.Item.Fields.Title</span>

    </h3>



    <div @Html.InlineEditingFieldAttributes("Summary", "LongText")>@Html.HtmlSanitize((string)Model.Item.Fields.Summary)</div>

    <div @Html.InlineEditingFieldAttributes("Content", "LongText")>@Html.HtmlSanitize((string)Model.Item.Fields.Content)</div>
    <hr class="space" />

    <div class="yarpp-related">
        <h3>Related posts:</h3>
        <ul>
            @foreach (var relatedItem in Model.Item.Fields.RelatedBlogs)
            {
                var navigateUrl = "/news/blog/blog-details" + @relatedItem.Fields.ItemDefaultUrl;
                <li>
                    <a href="@navigateUrl" rel="bookmark" title="@relatedItem.Fields.Title">
                        @relatedItem.Fields.Title
                    </a>
                </li>
            }
        </ul>
        @if (Model.Item.Fields.RelatedBlogs.Length == 0)
        {
            <div class="alert alert-warning"><strong>No results found.</strong></div>
        }
    </div>
    <hr class="space" />


    @{
        if (Model.EnableSocialSharing)
        {
            var item = Model.Item.DataItem as Telerik.Sitefinity.Model.IHasTitle;
            @Html.SocialShareOptions(item);
        }
    }
    <hr class="space" />
    @Html.CommentsList(@Model.Item.DataItem)
</div>