@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel
@using Telerik.Sitefinity.Frontend.DynamicContent.WidgetTemplates.Fields.Helpers;
@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Web.DataResolving;
@Html.Script(ScriptRef.JQuery, "top", false)
@using Newtonsoft.Json;
@using Telerik.Sitefinity.Blogs.Model;
@using Telerik.Sitefinity.Frontend.Search.Mvc.Models;
@using Telerik.Sitefinity.Modules.Libraries;
@using Telerik.Sitefinity.Libraries.Model;
@using Telerik.Sitefinity.Modules.Blogs;
@using Telerik.Sitefinity.RelatedData;
@using Telerik.Sitefinity.Model;
@using Telerik.Sitefinity.Taxonomies;
@using Telerik.Sitefinity.Taxonomies.Model;
@using Telerik.Sitefinity.Web.DataResolving;
@using Telerik.Sitefinity.DynamicModules.Model;
@{
    BlogsManager blogsManager = BlogsManager.GetManager();
    var volval = Request.QueryString["vol"].ToString();

}
<div class="@Model.CssClass">
    <div class="container magazine-cover-wrap">
        <div class="row">
            <div class="col-sm-12">
                <h2>@volval.Replace("-", " ").ToUpper()</h2>
            </div>
            @foreach (var item in Model.Items)
            {
                if (@item.Fields.ItemDefaultUrl.Contains("magazine"))
                {
                    if (item.Fields.volume != null)
                    {
                        var imageurl = "";
                        var volume = "";
                        var issue = "";
                        var volumetext = "";
                        var issuetext = "";
                        foreach (var relatedItem in item.Fields.BlogImage)
                        {
                            imageurl = (string)relatedItem.Fields.ItemDefaultUrl;
                        }
                        foreach (var taxonvolume in item.GetFlatTaxons("volume"))
                        {
                            volume = @taxonvolume.Title.ToString().ToLower().Replace(" ", "-");
                            volumetext = @taxonvolume.Title.ToString();
                        }
                        foreach (var taxonvolume in item.GetFlatTaxons("issue"))
                        {
                            issue = @taxonvolume.Title.ToString().ToLower().Replace(" ", "-");
                            issuetext = @taxonvolume.Title.ToString();
                        }

                        var navigateUrl = HyperLinkHelpers.GetDetailPageUrl(item, ViewBag.DetailsPageId, ViewBag.OpenInSamePage, Model.UrlKeyPrefix);
                        if (@volval == @volume)
                        {
                            <div class="col-md-4">
                                <div class="magazine-issue">
                                    <div class="bg-corner border-corner">
                                        <div class="bg-corner-inner">
                                            <div class="magazine-cover-img">
                                                <img src="@imageurl" alt="@item.Fields.Title">
                                                <div class="magazine-overlay">
                                                    <a class="magazine-title" @Html.InlineEditingFieldAttributes("Title", "ShortText") href="@navigateUrl">@item.Fields.Title</a>
                                                </div>
                                            </div>
                                            <div class="magazine-cover-content">
                                                <a href="@navigateUrl" class="magazine-vol-name">@volumetext - @issuetext</a>
                                                <div class="magazine-vol-date">@item.GetDateTime("PublicationDate", "MMM, yyyy")</div>
                                                <div class="issue-desc">@Html.HtmlSanitize((string)item.Fields.Summary)</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            }
        </div>
    </div>
</div>