@model JXTNext.Sitefinity.Widgets.Authentication.Mvc.Models.JXTNextResume.ProfileResumeViewModel

@using JXTNext.Sitefinity.Widgets.Authentication.Mvc.Models.JXTNextResume;
@using System;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Utilities;
@using Telerik.Sitefinity.Services;

<div>


    <h2><span class="save-icon"></span>@Html.Resource("AttachResumeLink")</h2>

    <input id="myFile" data-sf-role="profile-resume-attachment-upload" type="file" value='@Html.Resource("UploadFileLink")' accept=".pdf,.doc,.docx,.txt,.xls,.xlsx,.rtf" name="profile-resume" />
    <h5 class="text-muted">@Html.Resource("AttachFileConditionsLink")</h5>
    <div class="input-group">
        @*<input data-sf-role="profile-resume-attachment-save" type="submit" value='@Html.Resource("SaveFileAttachmentLink")' />*@
        <input id="uploadBtn" type="button" class="btn" value='@Html.Resource("SaveFileAttachmentLink")' disabled />
        <input id="mymodel" type="button" value="@Model.JsonData" hidden />
    </div>

    <div id="errorMessage">

    </div>
    <br />
    <div id="dvResumeResults">

        <table class="table table-bordered datatable">
            <thead>
                <tr>
                    <th>@Html.Resource("FileName")</th>
                    <th class="date-col">@Html.Resource("UploadDate")</th>
                    <th class="col-2btn-width act-col">@Html.Resource("Action")</th>
                </tr>
            </thead>
            <tbody id="resumeTable"></tbody>
        </table>

    </div>

</div>
<script type="text/javascript">
        var resumes;

        $(document).ready(function () {
            var jsonData = $("#mymodel").val();
            var model =  JSON.parse(jsonData);
            addJsonDataToTable(model.ResumeList);
            processErrorMessage(model);
        });


        var addJsonDataToTable = function (resumeList) {
            var viewValue = '@Html.Resource("ViewResume")';
            var deleteResume = '@Html.Resource("DeleteResume")';
            resumes = resumeList;
            var rows = '';
            $.each(resumes, function (i, item) {
                var date = item.UploadDateStr;
                var dateItm = new Date(date);
                const monthAbvrNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"];
                if (dateItm != undefined) {
                    date = dateItm.getDate() + ' ' + monthAbvrNames[dateItm.getMonth()] + ' ' + dateItm.getFullYear();
                }
                rows += '<tr> ' + '<td>' + item.FileFullName + '</td>' + '<td>' + date + '</td >' + '<td>' + '<a id="' + item.UploadPathToAttachment + '" class="downloadresumecls btn btn-tag" target="_blank">' + viewValue + '</a> <input id="' + item.Id + '" class="deleteresumecls btn btn-sm btn-tag btn-danger" type="button"  value="' + deleteResume + '"></td>' + '</tr>';

                
            });
            $('#resumeTable').html(rows);
    }

        $(document).on("click", "tr .downloadresumecls", function () {
            downloadResumeMethod($(this).attr("id"));
        });

        $(document).on("click", "tr .deleteresumecls", function () {

            deleteResumeMethod($(this).attr("id"));

        });

        function confirmDelete() {
            if (confirm('@Html.Resource("RemoveConfirm")')) {
                return true;
            }
            else {
                return false;
            }
        };

        var processErrorMessage = function (error) {
            var errorMessage = '';
            if (error.UploadError == true) {
                errorMessage = '<h4>@Html.Resource("ResumeUploadError")</h4>';
            }
            if (error.FetchError == true) {
                errorMessage = '<h4>@Html.Resource("ResumeFetchError")</h4>'
            }
            if (error.DeleteError == true) {
                errorMessage = '<h4>@Html.Resource("ResumeDeleteError")</h4>'
            }

            $('#errorMessage').html(errorMessage);
    }


    var downloadResumeMethod = function (id) {

        var urlPath = $(location).attr('pathname') + "/DownloadResume?fileName=" + id;
        $.ajax({
            url: urlPath,
            type: 'POST',
            cache: false,
            dataType: 'json',
            processData: false, // Don't process the files
            contentType: false, // Set content type to false as jQuery will tell the server its a query string request
            success: function (response) {

                if (response[0].Value == true) {
                    var bytes = new Uint8Array(response[2].Value); // pass your byte response to this constructor
                    var blob = new Blob([bytes], { type: "application/octet-stream" });// change resultByte to bytes
                    var link = document.createElement('a');
                    link.href = window.URL.createObjectURL(blob);
                    link.download = response[1].Value;
                    link.click();
                }


                //var a = document.createElement('a');
                //var url = window.URL.createObjectURL(data.FileStream);
                //a.href = url;
                //a.download = data.FileName;
                //a.click();
                //window.URL.revokeObjectURL(url);
            },
            error: function (response) {
                processErrorMessage(response);
            }
        });


    }

    var deleteResumeMethod = function (id) {

            if (confirmDelete()) {
                var urlPath = $(location).attr('pathname') + "/DeleteResume/" + id;
                $.ajax({
                    url: urlPath,
                    type: 'POST',
                    cache: false,
                    dataType: 'json',
                    processData: false, // Don't process the files
                    contentType: false, // Set content type to false as jQuery will tell the server its a query string request
                    success: function (response) {
                        addJsonDataToTable(response.ResumeList);
                        processErrorMessage(response);
                    },
                    error: function (response) {
                        processErrorMessage(response);
                    }
                });
            }


        }

        var resumeInput = $('[data-sf-role=profile-resume-attachment-upload]');

        resumeInput.on('change', function (e) {
            resumes = e.target.files;
        });

        $("#myFile").change(function () {
            if ($(this).val()) {
                $("#uploadBtn").prop("disabled", false);
            }
            else {
                $("#uploadBtn").prop("disabled", true);
            }
        });


        $('#uploadBtn').click(function (event) {
            event.stopPropagation();
            event.preventDefault();
            var data = new FormData();
            $.each(resumes, function (key, value) {
                data.append(key, value);
            });

            var urlPath = $(location).attr('pathname') + "/UploadResume";
            $.ajax({
                url: urlPath,
                type: 'POST',
                data: data,
                cache: false,
                dataType: 'json',
                processData: false, // Don't process the files
                contentType: false, // Set content type to false as jQuery will tell the server its a query string request
                success: function (response) {
                    addJsonDataToTable(response.ResumeList);
                    processErrorMessage(response);
                    resumeInput.val('');
                    $("#uploadBtn").prop("disabled", true);
                },
                error: function (response) {
                    processErrorMessage(response);
                }
            });
        });
</script>
