@model Telerik.Sitefinity.Frontend.Taxonomies.Mvc.Models.TaxonomyViewModel

@{
    var uri = "";
    var fullUrl = Request.Url.ToString();
    var topic_start = fullUrl.LastIndexOf("/") + 1;
    uri = fullUrl.Substring(topic_start, fullUrl.Length - topic_start);
}
<h3 class="title">Categories</h3>
<div class="category">
    @foreach (var taxon in Model.Taxa)
    {
        var uri1 = "";
        var fullUrl1 = taxon.Url;
        var topic_start1 = fullUrl1.LastIndexOf("/") + 1;
        uri1 = fullUrl1.Substring(topic_start1, fullUrl1.Length - topic_start1);
        if (fullUrl.Contains(uri1))
        {
            <label><a class="active-link" href="@taxon.Url"><span class="check"><i class="checkbox-icon fas fa-check" aria-hidden="true"></i></span> @taxon.Title</a></label>
        }
        else
        {
            <label><a href="@taxon.Url"><span class="check"></span> @taxon.Title</a></label>

        }
        if (Model.ShowItemCount)
        {
            <span class="text-muted">@Html.Raw(string.Format("({0})", taxon.Count))</span>
        }
    }

</div>