@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.LoginForm.ForgotPasswordViewModel

@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers
<style>    h1.page-heading {
        display: none;
    }
</style>
<div class="@Model.CssClass basic-form">

    <h3>@Html.Resource("ForgotPasswordHeader")</h3>

    @if (Model.EmailSent)
    {
        <p>@Html.Resource("ForgotPasswordRequestSent") <i>@Html.Encode(Model.Email)</i></p>

        <p>@Html.Resource("ForgotPasswordRequestSentUseLink")</p>
        <div class="btn-style-corner">
            <a href="@Model.LoginPageUrl" class="btn btn-default">@Html.Resource("ForgotPasswordBackToLogin")</a>
        </div>
    }
    else
    {
        using (Html.BeginForm("SendPasswordResetEmail", "LoginForm"))
        {

            <p>@Html.Resource("EnterLoginEmailAddress")</p>

            <div class="form-group">
                <div class="row">
                    <div class="col-md-4 text-right">
                        <label class="form-label">@Html.Resource("ForgotPasswordEmail")</label>
                    </div>
                    <div class="col-md-8">
                        @Html.TextBoxFor(u => u.Email, new { @class = "form-control", @placeholder = "Enter your email address", @required = true })
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-8">
                    <div class="btn-block btn-style-corner">
                        <button type="submit" class="btn btn-primary">@Html.Resource("ForgotPasswordSendButton")</button>
                    </div>
                </div>
            </div>
        }
    }

</div>
<script>
    $(document).ready(function () {
        $("h1.page-heading").text("Forgot password").show();
    });
    //quick solution to remove/hide one of the login form widget for forgot password page
    if (window.location.pathname.indexOf('ForgotPassword') > -1) {
        $('.loginwith_socialmedia').remove();
    }
</script>
