@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentDetailsViewModel

@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Web.DataResolving;
@using SitefinityWebApp.Helpers;


@using SitefinityWebApp.Helpers;
@using Telerik.Sitefinity.Modules.Blogs;
@using Telerik.Sitefinity.DynamicModules.Model;
@using Telerik.Sitefinity.GenericContent.Model;
@using Telerik.Sitefinity.Model;
@using Telerik.OpenAccess;
@using Telerik.Sitefinity.Blogs.Model;

@using Telerik.Sitefinity.RelatedData;
@using Telerik.Sitefinity.Libraries.Model;
@using Telerik.Sitefinity.Modules.Libraries;
@using Telerik.Sitefinity.Taxonomies;
@using Telerik.Sitefinity.Taxonomies.Model



@{
    var CategoryIds = Model.Item.Fields.Category;
}

<div class="blog-detail-inner">

    <h3 class="posted-by">
        By
        @*@{var authorName = @DataResolver.Resolve(@Model.Item.DataItem, "Author", null); }
            @if (authorName == "JXT Admin")
            {
            authorName = "Bayside Group";
            }
            @authorName*@
        @Model.Item.Fields.AuthorName
    </h3>

    <p class="posted-date">
        @Model.Item.GetDateTime("PublicationDate", "MMM d, yyyy")
        @Html.CommentsCount(string.Empty, @Model.Item.DataItem)
    </p>

    <h2 class="blog-title">@Model.Item.Fields.Title</h2>





    <div @Html.InlineEditingFieldAttributes("Summary", "LongText")><p>@Html.HtmlSanitize((string)Model.Item.Fields.Summary)</p></div>



    @{var imageurl = ""; }
    @foreach (var relatedItem in Model.Item.Fields.BlogImage)
    {
        imageurl = (string)relatedItem.Fields.ItemDefaultUrl;
    }

    <div class="row">
        <div class="col-12 mb-4">
            <div class="cta-bg blogimg">
                <img src="@imageurl" />
            </div>
        </div>
    </div>

    @{
        if (Model.EnableSocialSharing)
        {
            var item = Model.Item.DataItem as Telerik.Sitefinity.Model.IHasTitle;
            @Html.SocialShareOptions(item);
        }
    }

    <div @Html.InlineEditingFieldAttributes("Content", "LongText")>@Html.HtmlSanitize((string)Model.Item.Fields.Content)</div>

    @Html.CommentsList(@Model.Item.DataItem)
</div>

<div class="related-blog">

    <h2>You might also like</h2>
    @{
        BlogsManager blogsManager = BlogsManager.GetManager();
        var allItems = blogsManager.GetBlogPosts().Where(n => n.Status == ContentLifecycleStatus.Live && n.Visible == true).ToList();
        List<BlogPost> relatedItems = new List<BlogPost>();
        foreach (var item in allItems)
        {
            var articleTaxonIds = item.GetValue<TrackedList<Guid>>("Category");
            if (articleTaxonIds.Any(x => CategoryIds.Contains(x)))
            {

                // Skip the current loaded item in the details page
                if (item.Id != Model.Item.Fields.Id)
                {
                    relatedItems.Add(item);
                }
            }
        }


    }
    <div class="md-row">
        @{
            var relatedItemCounter = 0;
        }
        @foreach (var blog in relatedItems)
        {
            if (relatedItemCounter < 3)
            {
                Image imageField = blog.GetRelatedItems<Image>("BlogImage").FirstOrDefault();
                var cats = (Telerik.OpenAccess.TrackedList<System.Guid>)blog.GetValue("Category");


                <div class="news-list col-12 col-sm-6 col-md-4">
                    <div class="bg-image-wrap">
                        <a href="~/blogs/blog-details/@blog.ItemDefaultUrl" title="@blog.Title" class="bg-image" style="background-image: url('@imageField.ItemDefaultUrl');"></a>
                    </div>

                    <div class="news-date">
                    
                        <span class="rss-item-pubDate-date">@Convert.ToDateTime(Convert.ToString(blog.GetValue("PublicationDate"))).ToString("dd")</span>
                        <span class="rss-item-pubDate-month">@Convert.ToDateTime(Convert.ToString(blog.GetValue("PublicationDate"))).ToString("MMM")</span>,
                        <span class="rss-item-pubDate-full-year">@Convert.ToDateTime(Convert.ToString(blog.GetValue("PublicationDate"))).ToString("yyyy")</span>
                    </div>

                    <p class="news-desc">@blog.Title</p>

                    <a href="~/blogs/blog-details/@blog.ItemDefaultUrl" title="@blog.Title" class="btn btn-link">Read more</a>

                </div>


                relatedItemCounter++;
            }

        }

    </div>
</div>

<style>

    body .parallax-mirror .parallax-slider {
        top: -28%;
    }
</style>

<script>

    $(document).ready(function () {
        //if ($('.cta-bg.blogimg img').attr('src') != "") {
        //    $(".hero-banner").attr("data-image-src", $('.cta-bg.blogimg img').attr('src'));
        //}
        //$('h1.fadeInUp').html('');
        //$('.br-1').removeClass("br-1");
        $(".hero-banner").addClass('small-banner');
    });
</script>