@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel

@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Web.DataResolving;

@using Telerik.Sitefinity.Taxonomies;
@using Telerik.Sitefinity.Taxonomies.Model;

@using Telerik.Sitefinity.Services;
@using Telerik.Sitefinity.Security.Model;
@using Telerik.Sitefinity.Model;

@Html.Script(ScriptRef.JQuery, "top", false)


@{
    List<Taxon> _cates = JXTNext.Sitefinity.Common.Helpers.SitefinityHelper.GetTopLevelCategories();

    Taxon _sectorTaxon = _cates.Where(c => c.Title.ToUpper() == "BLOG CATEGORIES").FirstOrDefault();

    Taxon _sectorTaxon1 = _cates.Where(c => c.Title.ToUpper() == "BLOG INDUSTRIES").FirstOrDefault();

    Taxon _sectorTaxon2 = _cates.Where(c => c.Title.ToUpper() == "BLOG TYPE").FirstOrDefault();

    var _dd_blogCategories = _sectorTaxon as HierarchicalTaxon;

    var _dd_blogIndustries = _sectorTaxon1 as HierarchicalTaxon;

    var _dd_blogTypes = _sectorTaxon2 as HierarchicalTaxon;
}

@*@foreach (var newscatitem in _dd_blogCategories.Subtaxa)
    {
        <p>@newscatitem.Name</p>
        foreach (var subcategory in newscatitem.Subtaxa)
        {
            <p>@subcategory.Name</p>
        }
    }

    @foreach (var newscatitem in _dd_blogIndustries.Subtaxa)
    {
        <p>@newscatitem.Name</p>
        foreach (var subcategory in newscatitem.Subtaxa)
        {
            <p>@subcategory.Name</p>
        }
    }

    @foreach (var newscatitem in _dd_blogTypes.Subtaxa)
    {
        <p>@newscatitem.Name</p>
        foreach (var subcategory in newscatitem.Subtaxa)
        {
            <p>@subcategory.Name</p>
        }
    }*@

<div class="filter-outer-wrapper right-sidebar">
    <div>
        <select id="sortOrder" class="" onchange="FilterChanged(this)">
            <option selected="selected" value="Recent">Sort by – Recent</option>
            <option value="Old">Sort by – Oldest Posts</option>
            <option value="A-Z">Sort by – Alphabetical A-Z</option>
            <option value="Z-A">Sort by – Alphabetical Z-A</option>
            @*<option value="SalaryHighToLow">Sort by – Salary high to low</option>
                <option value="SalaryLowToHigh">Sort by – Salary low to high</option>*@
        </select>
    </div>

    <div>
        <label>Search Keyword</label>
        <input type="text" onchange="FilterChanged(this)" id="txtSearch" />

    </div>

    <div class="dropdown dropdown-tree navbar-collapse" id="BLOGCATEGORIES" data-prefixidtext="">
        <a href="#lbl-CATEGORIES" data-toggle="collapse" aria-haspopup="true" aria-expanded="true" aria-controls="lbl-Classifications">
            <span class="dropdowntree-name">Categories</span>
            <span class="caret"></span>
        </a>
        <ul style="max-height: none" class="collapse show in" id="lbl-CATEGORIES">
            @foreach (var newscatitem in _dd_blogCategories.Subtaxa)
            {
                <li id="@newscatitem.Id" data-title="@newscatitem.Name">
                    <input onchange="FilterChanged(this)" id="@newscatitem.Id" name="@newscatitem.Name" type="checkbox" />
                    <span>
                        @newscatitem.Name
                    </span>
                    @foreach (var subcategory in newscatitem.Subtaxa)
                    {
                        <ul>
                            <li id="@subcategory.Id" data-title="@subcategory.Name">
                                <input onchange="FilterChanged(this)" id="@subcategory.Id" name="@subcategory.Name" type="checkbox" />
                                <span>@subcategory.Name</span>
                            </li>
                        </ul>
                    }
                </li>


            }
        </ul>
    </div>

    <div class="dropdown dropdown-tree navbar-collapse" id="BLOGINDUSTRIES" data-prefixidtext="">
        <a href="#lbl-INDUSTRIES" data-toggle="collapse" aria-haspopup="true" aria-expanded="true" aria-controls="lbl-Classifications">
            <span class="dropdowntree-name">Industries</span>
            <span class="caret"></span>
        </a>
        <ul style="max-height: none" class="collapse show in" id="lbl-INDUSTRIES">
            @foreach (var newscatitem in _dd_blogIndustries.Subtaxa)
            {
                <li id="@newscatitem.Id" data-title="@newscatitem.Name">
                    <input id="@newscatitem.Id" onchange="FilterChanged(this)" name="@newscatitem.Name" type="checkbox" />
                    <span>
                        @newscatitem.Name
                    </span>
                    @foreach (var subcategory in newscatitem.Subtaxa)
                    {
                        <ul>
                            <li id="@subcategory.Id" data-title="@subcategory.Name">
                                <input id="@subcategory.Id" onchange="FilterChanged(this)" name="@subcategory.Name" type="checkbox" />
                                <span>@subcategory.Name</span>
                            </li>
                        </ul>
                    }
                </li>


            }
        </ul>
    </div>

    <div class="dropdown dropdown-tree navbar-collapse" id="BLOGTYPES" data-prefixidtext="">
        <a href="#lbl-TYPES" data-toggle="collapse" aria-haspopup="true" aria-expanded="true" aria-controls="lbl-Classifications">
            <span class="dropdowntree-name">TYPE</span>
            <span class="caret"></span>
        </a>
        <ul style="max-height: none" class="collapse show in" id="lbl-TYPES">
            @foreach (var newscatitem in _dd_blogTypes.Subtaxa)
            {
                <li id="@newscatitem.Id" onchange="FilterChanged(this)" data-title="@newscatitem.Name">
                    <input type="checkbox" id="@newscatitem.Id" name="@newscatitem.Name" />
                    <span>
                        @newscatitem.Name
                    </span>
                    @foreach (var subcategory in newscatitem.Subtaxa)
                    {
                        <ul>
                            <li id="@subcategory.Id" data-title="@subcategory.Name">
                                <input id="@subcategory.Id" onchange="FilterChanged(this)" name="@subcategory.Name" type="checkbox" />
                                <span>@subcategory.Name</span>
                            </li>
                        </ul>
                    }
                </li>


            }
        </ul>
    </div>
</div>
<script type="text/javascript">

    function FilterChanged(ctrl) {
        debugger;
        window.location.href = window.location.href + "?FIlter=" + ctrl.Id;
    }

</script>