@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel

@using Telerik.Sitefinity;
@using Telerik.Sitefinity.Frontend.Blogs.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Blogs.Mvc.Models.Blog;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.Model;
@using Telerik.Sitefinity.Taxonomies;
@using Telerik.Sitefinity.Taxonomies.Model;





@Html.Script(ScriptRef.JQuery, "top", false)


@{
    Dictionary<Guid, string> catgeoryListDictionary = new Dictionary<Guid, string>();
    var managerArticle1 = TaxonomyManager.GetManager();
    var articleTaxonomy1 = managerArticle1.GetTaxonomies<HierarchicalTaxonomy>().Where(t => t.Name == "Categories").SingleOrDefault();
    List<Taxon> topLovelTaxa1 = new List<Taxon>();
    if (articleTaxonomy1 != null)
    {
        foreach (var taxon in articleTaxonomy1.Taxa)
        {
            if (taxon.Parent == null)
            {
                topLovelTaxa1.Add(taxon);
            }
        }
        foreach (var taxon in topLovelTaxa1)
        {

            var hierarchicalTaxon1 = taxon as HierarchicalTaxon;
            catgeoryListDictionary.Add(@taxon.Id, @taxon.Title);
            foreach (var it in hierarchicalTaxon1.Subtaxa)
            {
                @ProcessCategories_Add(it, catgeoryListDictionary);
            }
        }
    }
}


@helper ProcessCategories_Add(HierarchicalTaxon taxon1, Dictionary<Guid, string> catgeoryListDictionary)
{
    if (taxon1 != null)
    {
        catgeoryListDictionary.Add(taxon1.Id, @taxon1.Title);
        foreach (var subTaxon in taxon1.Subtaxa)
        {
            @ProcessCategories_Add(subTaxon, catgeoryListDictionary);
        }
    }
}



<section class="g-section">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-9">
                @foreach (var item in Model.Items)
                {
                    var imageurl = "";
                    foreach (var relatedItem in item.Fields.BlogImage)
                    {
                        imageurl = (string)relatedItem.Fields.ItemDefaultUrl;
                    }
                    var navigateUrl = HyperLinkHelpers.GetDetailPageUrl(item, ViewBag.DetailsPageId, ViewBag.OpenInSamePage, Model.UrlKeyPrefix);

                    <div class="news-list col-12 col-sm-6 col-md-4">
                        <img src="@imageurl" alt="1-Latest-News-Placeholder">
                        <div class="news-date">@item.GetDateTime("PublicationDate", "MMM d, yyyy")</div>
                        <p class="news-desc">@item.Fields.Title</p>
                        <a href="@navigateUrl" class="btn btn-link">> Read more</a>
                        <hr />
                        @{
                            var categoriesName = "";
                        }
                        @foreach (var c in item.Fields.Category)
                        {

                            if (catgeoryListDictionary.ContainsKey((Guid)c))
                            {
                                if (string.IsNullOrEmpty(categoriesName))
                                {
                                    categoriesName = @catgeoryListDictionary[c];
                                }
                                else
                                {
                                    categoriesName += "," + @catgeoryListDictionary[c];
                                }

                            }
                        }
                        <p>
                            <b>Category</b> :@categoriesName
                        </p>
                    </div>
                }

            </div>
            <div class="col-12 col-md-3">
                @{
                    var managerArticle = TaxonomyManager.GetManager();
                    var articleTaxonomy = managerArticle.GetTaxonomies<HierarchicalTaxonomy>().Where(t => t.Name == "Categories").SingleOrDefault();
                    List<Taxon> topLovelTaxa = new List<Taxon>();
                    if (articleTaxonomy != null)
                    {
                        foreach (var taxon in articleTaxonomy.Taxa)
                        {
                            if (taxon.Parent == null)
                            {
                                topLovelTaxa.Add(taxon);
                            }
                        }
                        foreach (var taxon in topLovelTaxa)
                        {

                            var hierarchicalTaxon = taxon as HierarchicalTaxon;

                            <p>@taxon.Title</p>


                            foreach (var it in hierarchicalTaxon.Subtaxa)
                            {
                                @ProcessCategories(it)
                            }
                        }
                    }
                }
            </div>
        </div>
    </div>
</section>


@helper ProcessCategories(HierarchicalTaxon taxon)
{
    if (taxon != null)
    {
        <p>@taxon.Title</p>
        foreach (var subTaxon in taxon.Subtaxa)
        {

            //Recursive call
            @ProcessCategories(subTaxon);
        }
    }
}


