@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.Registration.RegistrationViewModel

@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Utilities;
@using Telerik.Sitefinity.Services;

@*Add scripts and stylesheets*@
@Html.Script(ScriptRef.JQuery, "top")
@Html.Script("//ajax.aspnetcdn.com/ajax/jquery.validate/1.8.1/jquery.validate.js", "top")
@Html.Script("//ajax.aspnetcdn.com/ajax/mvc/4.0/jquery.validate.unobtrusive.min.js", "top")


<div class="@Model.CssClass row sf-m-xxs login-form reg-form">
	@if ((Request.QueryString["ShowActivationMsg"] == "true") ||
	 (ViewBag.ShowActivationMsg is bool && ViewBag.ShowActivationMsg))
    {
        <h3>
            @Html.Resource("VisitYourEmail")
        </h3>

        <p>@string.Format(Html.Resource("ActivationLinkHasBeenSent"), Model.Email)</p>
        <a href="javascript:void(0)" data-sf-role="sendAgainLink" class="btn btn-primary">@Html.Resource("SendAgain")</a>

        <div data-sf-role="confirmationResendInfo" style="display:none;">
            @string.Format(Html.Resource("ActivationLinkHasBeenSentAgain"), Model.Email)
            <a href="javascript:void(0)" data-sf-role="sendAgainLink" class="btn btn-primary">@Html.Resource("SendAgain")</a>
        </div>

        <input type="hidden" data-sf-role="sf-resend-confirmation-endpoint-url" value="@Url.Action("ResendConfirmationEmail", new { email = Model.Email})" />
    }
    else if ((Request.QueryString["ShowSuccessfulRegistrationMsg"] == "true") ||
             (ViewBag.ShowSuccessfulRegistrationMsg is bool && ViewBag.ShowSuccessfulRegistrationMsg))
    {
        <h3>@Html.Resource("ThankYou")</h3>
        <p>@Html.Resource("DefaultSuccessfulRegistrationMessage")</p>

    }
    else
    {
        using (Html.BeginFormSitefinity(true))
        {
          @Html.ValidationSummary(true);
            
        <div class="basic-form">
            <div class="login-border">
                <div class="width-limit">
                    <h1>@Html.Resource("Registration")</h1>
                    <p>Register now to create your profile, and your CV, update your details, create job alerts and track your applications!</p>
                </div>
                
                @if (!string.IsNullOrEmpty(ViewBag.Error))
                {
                    <div class="alert alert-danger">
                        @ViewBag.Error
                    </div>
                }

                @Html.HiddenFor(m => m.RequiresQuestionAndAnswer)


                <div class="field-wrapper">
                    <div class="row">
                        <div class="col-md-4 text-right">
                            <p class="form-label">Name *</p>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.TextBox("Profile[FirstName]", null, new { @class = "form-control", placeholder = "First name", required = "required" })
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                @Html.TextBox("Profile[LastName]", null, new { @class = "form-control", placeholder = "Last name", required = "required" })
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4 text-right">
                                <p class="form-label">
                                    @Html.Resource("Email") *
                                </p>
                            </div>
                            <div class="col-md-8">

                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email", placeholder = "Enter your email address", required = "required" })

                                @if (Html.ValidationMessageFor(m => m.Email) != null)
                                {
                                    <div class="has-error">
                                        <span class="help-block">@Html.ValidationMessageFor(m => m.Email)</span>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>


                    <div class="form-group">
                        <div class="row">
                            <div class="col-md-4 text-right">
                                <p class="form-label">
                                    @Html.Resource("Password") *
                                </p>
                            </div>
                            <div class="col-md-8">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Create your strong password", required = "required" })

                                @if (Html.ValidationMessageFor(m => m.Password) != null)
                                {
                                    <div class="has-error">
                                        <span class="help-block"> @Html.ValidationMessageFor(m => m.Password)</span>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>

                    @*TODO - password strength*@

                    @*<div class="form-group">
        <div class="row">
            <div class="col-md-4 text-right">
                <p class="form-label" style="padding-top: 0">
                    Password strength
                </p>
            </div><div class="col-md-8">
                <div class="password-strength">
                    <div class="password-weak">Weak</div>
                    <!--<div class="password-good">Good</div>
                    <div class="password-strong">Strong</div>-->
                </div>
            </div>
        </div>
        </div>*@


                    @if (Model.RequiresQuestionAndAnswer)
                    {

                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4 text-right">
                                    <p class="form-label">
                                        ]
                                        @Html.Resource("Question")
                                    </p>
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.Question, new { @class = "form-control" })
                                    @if (Html.ValidationMessageFor(m => m.Question) != null)
                                    {
                                        <div class="has-error">
                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Question)</span>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-4 text-right">
                                    <p class="form-label">
                                        @Html.Resource("Answer")
                                    </p>
                                </div>
                                <div class="col-md-8">
                                    @Html.TextBoxFor(m => m.Answer, new { @class = "form-control" })
                                    @if (Html.ValidationMessageFor(m => m.Answer) != null)
                                    {
                                        <div class="has-error">
                                            <span class="help-block"> @Html.ValidationMessageFor(m => m.Answer)</span>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    }

                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-8">
                            @*TODO - "I agree" - checkbox*@
                            @*<div class="form-group">
                    <div class="checkbox clearfix">
                        <input type="checkbox" value="true" />
                        <span class="checkbox-icon fas fa-check"></span>I agree to Hudson <a class="privacy-policy" href="#">Privacy policy</a>
                    </div>
                </div>*@
                            <div class="btn-block">
                                @if (SystemManager.IsDesignMode && !SystemManager.IsPreviewMode)
                                {
                                    <button type="button" class="btn btn-primary">@Html.Resource("Register")</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary">@Html.Resource("Register")</button>
                                }
                            </div>
                        </div>
                    </div>

                </div>

                <div class="registration-link">
                    <div class="row">
                        <div class="col-md-4"></div>
                        <div class="col-md-8">
                            Already have an account?
                            <a href="@Model.LoginPageUrl" class="font-regular link-default">@Html.Resource("BackToLogin")</a>
                        </div>
                    </div>
                </div>

                </div>
        </div>
        }
    }
</div>
@Html.Script(Url.WidgetContent("Mvc/Scripts/Registration/registration-form.js"), "bottom")