@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

<form>
    <fieldset class="form-group" ng-disabled="properties.AllowWindowsStsLogin.PropertyValue.toLowerCase() === 'true'">
        <div class="form-group">
            <label>@Html.Resource("LoginPage", "LoginStatusExtendedResources")</label>
            <p class="description-note">@Html.Resource("LoginPageInfo", "LoginStatusExtendedResources")</p>
            <sf-list-selector sf-page-selector
                              sf-selected-item-id="properties.LoginPageId.PropertyValue"></sf-list-selector>
        </div>
        <div class="form-group" ng-disabled="properties.AllowWindowsStsLogin.PropertyValue">
            <label>@Html.Resource("RegistrationPage", "LoginStatusExtendedResources")</label>
            <p class="description-note">@Html.Resource("RegistrationPageInfo", "LoginStatusExtendedResources")</p>
            <sf-list-selector sf-page-selector
                              ng-disabled="properties.AllowWindowsStsLogin.PropertyValue"
                              sf-selected-item-id="properties.RegistrationPageId.PropertyValue"></sf-list-selector>
        </div>
    </fieldset>

    <div class="form-group">
        <label>@Html.Resource("LogoutPageInfo", "LoginStatusExtendedResources")</label>
        <sf-list-selector sf-page-selector
                          sf-selected-item-id="properties.LogoutPageId.PropertyValue"></sf-list-selector>
    </div>
    <div class="form-group">
        <label>@Html.Resource("ProfilePage", "LoginStatusExtendedResources")</label>
        <p class="description-note">@Html.Resource("ProfilePageInfo", "LoginStatusExtendedResources")</p>
        <sf-list-selector sf-page-selector
                          sf-selected-item-id="properties.ProfilePageId.PropertyValue"></sf-list-selector>
    </div>

    <div class="form-group">
        <label>@Html.Resource("JobAlertPage", "LoginStatusExtendedResources")</label>
        <p class="description-note">@Html.Resource("JobAlertPageInfo", "LoginStatusExtendedResources")</p>
        <sf-list-selector sf-page-selector
                          sf-selected-item-id="properties.JobAlertPageId.PropertyValue"></sf-list-selector>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-xs-6">
                <label for="templateName">@Html.Resource("Template", "LoginStatusExtendedResources")</label>
                <select id="templateName" ng-model="properties.TemplateName.PropertyValue" class="form-control">
                    @foreach (var viewName in Html.GetViewNames("LoginStatusExtended", @"LoginStatusExtended\.(?<viewName>\w*)$"))
                    {
                        <option value="@viewName"> @viewName.SplitCamelCase()</option>
                    }
                </select>
            </div>
        </div>
    </div>

    <div class="form-group">
        <strong>@Html.Resource("Advanced", "LoginStatusExtendedResources")</strong>
        <div class="checkbox">
            <label for="stsCheckbox">
                <input id="stsCheckbox" type="checkbox" ng-true-value="'True'" ng-model="properties.AllowWindowsStsLogin.PropertyValue" />
                @Html.Resource("LoginWinSts", "LoginStatusExtendedResources")
                <a href="http://docs.sitefinity.com/administration-set-up-sso-with-windows-authentication" target="_blank">@Html.Resource("LearnMore", "LoginStatusExtendedResources")</a>
            </label>
        </div>
    </div>

    <expander expander-title='@Html.Resource("MoreOptions", "LoginStatusExtendedResources")'>
        <style-dropdown selected-class="properties.CssClass.PropertyValue" view-name="properties.TemplateName.PropertyValue"></style-dropdown>
        <div class="form-group">
            <label for="loginStatusCssClass">@Html.Resource("CssClasses", "LoginStatusExtendedResources")</label>
            <input type="text" id="loginStatusCssClass" ng-model="properties.CssClass.PropertyValue" class="form-control" />
        </div>
    </expander>
</form>