@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentDetailsViewModel

@using Telerik.Sitefinity.Frontend.Events.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Web.DataResolving;
@using SitefinityWebApp.Mvc.Attributes;

@{
    var imageurl = "";
    foreach (var relatedItem in Model.Item.Fields.EventImage)
    {
        imageurl = (string)relatedItem.Fields.ItemDefaultUrl;
    }
}


<div class="col-md-12 col-xs-12" id="content_col">


    <!-- Image -->
    <div class="row newsDetailsImage">
        <div class="col-md-12 col-xs-12 col-sm-12">
            <img src="@imageurl" title="@Model.Item.Fields.Title" class="img-responsive">
        </div>
    </div>

    <!-- Date -->
    <div class="row newsDetailsDate">
        <div class="col-md-12 col-xs-12 col-sm-12 sectionTitle">
            <h3>Date</h3>
        </div>


        @if (Model.Item.Fields.EventStart.ToString("dddd MMM d, yyyy") == Model.Item.Fields.EventEnd.ToString("dddd MMM d, yyyy"))
        {
            <div class="col-md-6 col-xs-12 col-sm-12">
                <div class="alert alert-success bar-bg-1 marginTop20">
                    <div class="inner">

                        <h2>@Model.Item.Fields.EventStart.ToString("dddd MMM d, yyyy")</h2>

                    </div>
                </div>
            </div>
            <div class="col-md-6 col-xs-12 col-sm-12"></div>
        }
        else
        {

            <div class="col-md-6 col-xs-12 col-sm-12">
                <div class="alert alert-success bar-bg-1 marginTop20">
                    <div class="inner">

                        <h3>From:</h3> <h2>@Model.Item.Fields.EventStart.ToString("dddd MMM d, yyyy")</h2>

                    </div>
                </div>
            </div>

            <div class="col-md-6 col-xs-12 col-sm-12">
                <div class="alert alert-success bar-bg-1 marginTop20">
                    <div class="inner">
                        <h3>To:</h3> <h2>@Model.Item.Fields.EventEnd.ToString("dddd MMM d, yyyy")</h2>
                    </div>
                </div>
            </div>

        }




    </div>


    <!-- Details -->
    <div class="row newsDetailsDetails">

        <div class="col-md-12 col-xs-12 col-sm-12 sectionTitle">
            <h3>Details</h3>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12">
            <p><strong class="page-title">@Model.Item.Fields.Title</strong></p>

            <p>@Html.HtmlSanitize((string)Model.Item.Fields.Summary)</p>

            <p>@Html.HtmlSanitize((string)Model.Item.Fields.Content)</p>


        </div>
    </div>



    <!-- Location -->

    <div class="row newsDetailsLocation">

        <div class="col-md-12 col-xs-12 col-sm-12 sectionTitle">
            <h3>Location</h3>
        </div>

        <div class="col-md-12 col-xs-12 col-sm-12">
            <p>@Model.Item.Fields.City</p>
        </div>

        <div class="col-md-12 col-xs-12 col-sm-12">
            <div class="pull-right details-btn">
                <a href="/news/events1" class="read_btn"><span>More Events posts</span></a>
            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        var heading = $('.page-title').text();
        $('.page-heading').text(heading);
        $('.newsDetailsDetails a').attr('target', '_blank');
    })
</script>