@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentDetailsViewModel

@using Telerik.Sitefinity.Frontend.Events.Mvc.Helpers;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;
@using Telerik.Sitefinity.Web.DataResolving;

@{
    var imageurl = "";
    foreach (var relatedItem in Model.Item.Fields.EventImage)
    {
        imageurl = (string)relatedItem.Fields.ItemDefaultUrl;
    }
}

<div class="article-details @Model.CssClass" @Html.InlineEditingAttributes(Model.ProviderName, Model.ContentType.FullName, (Guid)Model.Item.Fields.Id)>

    <div class="post-nav">
        <div class="prev-post"><a href="#" rel="prev"><i class="fas fa-long-arrow-alt-left"></i> Previous Post</a></div>
        <div class="next-post"><a href="#" rel="next">Next Post <i class="fas fa-long-arrow-alt-right"></i></a></div>
    </div>

    <img src="@imageurl" alt="@Model.Item.Fields.Title" />

    <div class="entry-meta details">
        <span class="entry-cats">
            <span class="main-color-bg cat6"><a href="#">Category</a></span>
            <span class="main-color-bg cat5"><a href="#">Category 2</a></span>
        </span>
        <span class="author">Posted by <a href="#" title="Posts by @DataResolver.Resolve(@Model.Item.DataItem, "Author", null)" rel="author">@DataResolver.Resolve(@Model.Item.DataItem, "Author", null)</a></span>
        <span class="sep">-</span>
        <span class="date">@Model.Item.GetDateTime("PublicationDate", "MMM d, yyyy")</span>
    </div>

    <h3>
        <span @Html.InlineEditingFieldAttributes("Title", "ShortText")>@Model.Item.Fields.Title</span>

    </h3>



    <div @Html.InlineEditingFieldAttributes("Summary", "LongText")>@Html.HtmlSanitize((string)Model.Item.Fields.Summary)</div>

    <div @Html.InlineEditingFieldAttributes("Content", "LongText")>@Html.HtmlSanitize((string)Model.Item.Fields.Content)</div>

    <hr class="space" />
    <div class="yarpp-related">
        <h3>Related posts:</h3>
        <ul>
            @foreach (var relatedItem in Model.Item.Fields.RelatedEvents)
            {
                var navigateUrl = "/news/blog/blog-details" + @relatedItem.Fields.ItemDefaultUrl;
                <li>
                    <a href="@navigateUrl" rel="bookmark" title="@relatedItem.Fields.Title">
                        @relatedItem.Fields.Title
                    </a>
                </li>
            }
        </ul>
    </div>

    <hr class="space" />

    @{
        if (Model.EnableSocialSharing)
        {
            var item = Model.Item.DataItem as Telerik.Sitefinity.Model.IHasTitle;

            @Html.SocialShareOptions(item);
        }
    }

    <hr class="space" />

    @Html.CommentsList(@Model.Item.DataItem)
</div>