@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel

@using Telerik.Sitefinity.Frontend.Events.Mvc.Helpers
@using Telerik.Sitefinity.Frontend.Mvc.Helpers
@using Telerik.Sitefinity.Modules.Pages
@using Telerik.Sitefinity.Web.DataResolving

@Html.Script(ScriptRef.JQuery, "top", false)


@{
    var featuredEvent = Model.Items.FirstOrDefault();
}

@if (featuredEvent != null)
{


    var imageurl = "";
    foreach (var relatedItem in featuredEvent.Fields.EventImage)
    {
        imageurl = (string)relatedItem.Fields.ItemDefaultUrl;
    }
    var navigateUrl = HyperLinkHelpers.GetDetailPageUrl(featuredEvent, ViewBag.DetailsPageId, ViewBag.OpenInSamePage, Model.UrlKeyPrefix);
    var summary = (@Html.HtmlSanitize((string)featuredEvent.Fields.Summary)).ToString();

    var title = (@Html.HtmlSanitize((string)featuredEvent.Fields.Title)).ToString();

    if (@Html.HtmlSanitize((string)featuredEvent.Fields.Summary).ToString().Length > 130)
    {
        summary = (@Html.HtmlSanitize((string)featuredEvent.Fields.Summary)).ToString().Substring(0, 128) + "...";
    }
    if (@Html.HtmlSanitize((string)featuredEvent.Fields.Title).ToString().Length > 24)
    {
        title = (@Html.HtmlSanitize((string)featuredEvent.Fields.Title)).ToString().Substring(0, 23) + "...";
    }
    <div class="white_panel">
        <div class="sub">
            <div class="image" style="background-image: url(@imageurl);"></div>
            <h4 class="sub_title">
                <a @Html.InlineEditingFieldAttributes("Title", "ShortText") href="@navigateUrl">
                    @Html.HtmlSanitize((string)featuredEvent.Fields.Title)
                </a>
            </h4>
            <div class="entry-meta">
                @*<span class="author">By Author <a href="#" title='@DataResolver.Resolve(featuredEvent.DataItem, "Author", null)' rel="author">@DataResolver.Resolve(featuredEvent.DataItem, "Author", null)</a></span>
                    <span class="sep">|</span>*@


                @if (featuredEvent.GetDateTime("EventStart", "MMM d, yyyy") == featuredEvent.GetDateTime("EventEnd", "MMM d, yyyy"))
                {
                    <span class="date">@featuredEvent.Fields.City | @featuredEvent.GetDateTime("EventStart", "MMM d, yyyy")</span>
                }
                else
                {
                    <span class="date">@featuredEvent.Fields.City | @featuredEvent.GetDateTime("EventStart", "MMM d, yyyy") to @featuredEvent.GetDateTime("EventEnd", "MMM d, yyyy")</span>
                }
            </div>
            <p class="blue_text">
                @Html.HtmlSanitize((string)featuredEvent.Fields.Summary)
            </p>
            @*<div class="action_link">
                    <a href="@navigateUrl">Read Events</a>
                </div>*@
        </div>
    </div>


}




