@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel

@using Telerik.Sitefinity.Frontend.Events.Mvc.Helpers
@using Telerik.Sitefinity.Frontend.Mvc.Helpers
@using Telerik.Sitefinity.Modules.Pages
@using Telerik.Sitefinity.Web.DataResolving
@using Newtonsoft.Json;
@Html.Script(ScriptRef.JQuery, "top", false)

@{
    var keyword = Request.QueryString["keyword"];
    var location = Request.QueryString["location"];
    var duration = Request.QueryString["duration"];
    var counter = 0;
    var listClassName = "";

    var model = Model.Items;
    if (keyword + "" != "")
    {
        model = model.Where(c => c.Fields.Title.ToString().ToLower().Contains(keyword.ToString().ToLower()) || c.Fields.Summary.ToString().ToLower().Contains(keyword.ToString().ToLower()));
    }
    if (location + "" != "")
    {
        model = model.Where(x => x.Fields.City == location);
    }
    if (duration + "" != "")
    {
        model = model.Where(x => x.Fields.EventEnd.ToString("MMMMM yyyy").Contains(duration.Trim()));
    }
    //model = model.Where(x => x.Fields.EventEnd > DateTime.Now);
    model = model.OrderBy(x => Convert.ToDateTime(x.Fields.EventStart));
}
<div class="archive-postlist @Model.CssClass">
    <div class="row">

        @foreach (var item in model)
        {

            var imageurl = "";
            foreach (var relatedItem in item.Fields.EventImage)
            {
                imageurl = (string)relatedItem.Fields.ItemDefaultUrl;
            }
            var navigateUrl = HyperLinkHelpers.GetDetailPageUrl(item, ViewBag.DetailsPageId, ViewBag.OpenInSamePage, Model.UrlKeyPrefix);

            if (counter <= 1)
            {
                listClassName = "active-list";
            }
            else
            {
                listClassName = "";
            }
            counter++;

            <div class="col-xs-12 col-sm-12 col-md-6 @listClassName">
                <div class="sub">

                    <div class="thumbnail-img overlay">
                        <a href="@navigateUrl" class="image" style="background-image: url(@imageurl);"></a>
                        <div class="upper-img">
                            <h3>
                                <a href="@navigateUrl">@item.Fields.Title</a>
                            </h3>
                            <div class="clearfix"></div>
                            <span class="location">@item.Fields.City</span>
                            <div class="clearfix"></div>
                            <div class="cat-bullet">
                                @if (item.Fields.Category != null)
                                {
                                    foreach (var taxon in item.GetHierarchicalTaxons("Category"))
                                    {
                                        var url = "/news/events1/-in-category/categories" + @taxon.FullUrl;
                                        <span class="cat">
                                            <a href="@url">@taxon.Title.ToString()</a>
                                        </span>
                                    }
                                }
                            </div>
                        </div>
                    </div>


                    <div class="entry-header">
                        <div class="entry-meta">
                            <span class="author hidden">Posted by <a href="#" title="Posts by Greythorn Australia" rel="author">@DataResolver.Resolve(item.DataItem, "Author", null)</a></span>
                            <span class="sep hidden">-</span>
                            @if (item.GetDateTime("EventStart", "MMM d, yyyy") == item.GetDateTime("EventEnd", "MMM d, yyyy"))
                            {
                                <span class="date">@item.GetDateTime("EventStart", "MMM d, yyyy")</span>
                            }
                            else
                            {
                                <span class="date">@item.GetDateTime("EventStart", "MMM d, yyyy") to @item.GetDateTime("EventEnd", "MMM d, yyyy")</span>
                            }

                        </div>

                    </div>

                    @*<div class="entry-excerpt">
                            <p>@Html.HtmlSanitize((string)item.Fields.Summary)</p>
                        </div>*@

                    <div class="entry-footer">
                        <a class="read_btn" href="@navigateUrl"><span>Read More</span></a>
                        @if (item.Fields.TicketURL != null)
                        {
                            <a class="read_btn pull-right" target="_blank" href="@item.Fields.TicketURL"><span>Get Tickets</span></a>
                        }
                    </div>

                </div>
            </div>
        }
        @if (model.Count() == 0)
        {
            <div class="col-sm-12">
                <div class="alert alert-warning"><strong>No results found.</strong></div>
            </div>
        }
    </div>
</div>
@if (Model.ShowPager)
{
    <div class="news_pagination pcn-pagination">

        @Html.Action("Index", "ContentPager", new
        {
        currentPage = Model.CurrentPage,
        totalPagesCount = Model.TotalPagesCount.Value,
        redirectUrlTemplate = ViewBag.RedirectPageUrlTemplate
        })

    </div>
}



