@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel

@using Telerik.Sitefinity.Frontend.Events.Mvc.Helpers
@using Telerik.Sitefinity.Frontend.Mvc.Helpers
@using Telerik.Sitefinity.Modules.Pages
@using Telerik.Sitefinity.Web.DataResolving

@Html.Script(ScriptRef.JQuery, "top", false)
@{
    var singleevent = Model.Items.FirstOrDefault();
    var imageurl = "";
    var navigateUrl = "#";
    if (singleevent != null)
    {
        foreach (var relatedItem in singleevent.Fields.EventImage)
        {
            imageurl = (string)relatedItem.Fields.ItemDefaultUrl;
        }
        navigateUrl = HyperLinkHelpers.GetDetailPageUrl(singleevent, ViewBag.DetailsPageId, ViewBag.OpenInSamePage);
    }
}
@if (singleevent != null)
{
    <div class="article @Model.CssClass">
        <div class="image">
            <a href="@navigateUrl"><img src="@imageurl" alt="image"></a>
        </div>
        <div class="text">
            <div class="sub">
                <h4 class="sub_title"><a @Html.InlineEditingFieldAttributes("Title", "ShortText") href="@navigateUrl">@singleevent.Fields.Title</a></h4>
                <div class="date_author">
                    @if (singleevent.GetDateTime("EventStart", "MMM d, yyyy") == singleevent.GetDateTime("EventEnd", "MMM d, yyyy"))
                    {
                        <span class="date">@singleevent.Fields.City | @singleevent.GetDateTime("EventStart", "MMM d, yyyy")</span>
                    }
                    else
                    {
                        <span class="date">@singleevent.Fields.City | @singleevent.GetDateTime("EventStart", "MMM d, yyyy") to @singleevent.GetDateTime("EventEnd", "MMM d, yyyy")</span>
                    }
                </div>
                <p>@Html.HtmlSanitize((string)singleevent.Fields.Summary)</p>
                <a href="@navigateUrl" class="action_link">Read More</a>

                @if (singleevent.Fields.Category != null)
                {
                    foreach (var taxon in singleevent.GetHierarchicalTaxons("Category"))
                    {<br /><br />
                        var url = "/news/events1/-in-category/categories" + @taxon.FullUrl;
                        <span class="cat">
                            <span class="main-color-bg cat5"></span><a href="@url">@taxon.Title.ToString()</a>
                        </span>
                    }
                }
            </div>
        </div>

    </div>
}
else
{
    <div class="alert alert-warning"><strong>No results found.</strong></div>
}