@model Telerik.Sitefinity.Frontend.Mvc.Models.ContentListViewModel

@using Telerik.Sitefinity.Frontend.Events.Mvc.Helpers
@using Telerik.Sitefinity.Frontend.Mvc.Helpers
@using Telerik.Sitefinity.Modules.Pages
@using Telerik.Sitefinity.Web.DataResolving

@Html.Script(ScriptRef.JQuery, "top", false)
@using Newtonsoft.Json;


@{
    var model = Model.Items;
    var location = Model.Items.Select(c => c.Fields.City.Trim());
    location = location.Distinct().ToList();
    var eventdate = Model.Items.OrderByDescending(x => x.Fields.EventStart).Select(x => x.Fields.EventStart.ToString("MMMMM yyyy").Trim());
    eventdate = eventdate.Distinct().ToList();
    var YearString = "";
}
<div class="event-search">

    <h4>SEARCH FOR EVENTS</h4>

    <div class="form-group">
        <input type="text" placeholder="Keywords search" class="form-control event-keyword" />
    </div>

    <div class="form-group">
        <label>Location</label>
        <select class="form-control event-location">
            <option value="">Location</option>
            @foreach (var item in location)
            {
                <option value="@item">@item</option>
            }
        </select>
    </div>
    <div class="form-group">
        <label>Event Happening</label>
        <select class="form-control event-date">
            <option value="">Duration</option>

            @foreach (var item in eventdate)
            {
                var arr = item.ToString().Split(' ');
                if (arr[1] == DateTime.Now.ToString("yyyy"))
                {
                    <option value="@item">@item</option>
                    @*<li><a href="/news/events1?archivedate=@item">@item</a></li>*@
                }
                else
                {
                    if (YearString.Contains(arr[1]))
                    {
                    }
                    else
                    {
                        <option value="@arr[1]">@arr[1]</option>
                    }
                    YearString = YearString + "," + arr[1];
                    @*<li><a href="/news/events1?archivedate=@arr[1]">@arr[1]</a></li>*@
                }
            }


        </select>
    </div>

    <div class="form-group btn-style-corner">
        <a class="btn btn-primary search-events">Search</a>
    </div>

</div>

<script>
    $(document).ready(function () {

        $('.search-events').click(function () {
            var keyword = $('.event-keyword').val();
            var location = $('.event-location').children("option:selected").val();
            var eventdate = $('.event-date').children("option:selected").val();
            window.location.href = "/events?keyword=" + keyword + "&location=" + location + "&duration=" + eventdate;
        });
    })
</script>



