@model JXTNext.Sitefinity.Widgets.Job.Mvc.Models.JobEmailViewModel
@using Telerik.Sitefinity.Frontend.Mvc.Helpers
@using Telerik.Sitefinity.UI.MVC
@using Telerik.Sitefinity.Web;
@using Telerik.Sitefinity.Modules.Pages
@using System.Web.Mvc

@Html.Script(ScriptRef.JQuery, "bottom")
@Html.Script(Url.WidgetContent("Mvc/Scripts/JobEmail/script.js"), "bottom")

<div class="job-email-widget">
    @if (Model.Job == null)
    {
        <div class="alert alert-danger">@Model.Widget.JobNotFoundMessage</div>
    }
    else
    {
        if (Model.Sent)
        {
            <div class="alert alert-success">@Model.Widget.EmailSentMessage</div>
        }

        using (Html.BeginFormSitefinity("", "JobEmailForm", FormMethod.Post))
        {
            @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" });

            <div class="form-group form-group-Job">
                <h2>@Html.Raw(Model.Widget.JobLabel)</h2>
                <div class="controls">
                    <div class="form-control-static">@Model.Job.Title</div>
                    @if (Model.Widget.JobHelp != null)
                    {
                        <p class="help-block">@Html.Raw(Model.Widget.JobHelp)</p>
                    }
                    @Html.ValidationMessage("Job", new { @class = "help-block help-block-error" })
                    @Html.ValidationMessage("JobId", new { @class = "help-block help-block-error" })
                </div>
            </div>

            <div class="form-group form-group-Name">
                <label>@Html.Raw(Model.Widget.NameLabel)<span class="required">*</span></label>
                <div class="controls">
                    @Html.TextBox("Name", null, new { @class = "form-control" })
                    @if (Model.Widget.NameHelp != null)
                    {
                        <p class="help-block">@Html.Raw(Model.Widget.NameHelp)</p>
                    }
                    @Html.ValidationMessage("Name", new { @class = "help-block help-block-error" })
                </div>
            </div>

            <div class="form-group form-group-Email">
                <label>@Html.Raw(Model.Widget.EmailLabel)<span class="required">*</span></label>
                <div class="controls">
                    @Html.TextBox("Email", null, new { @class = "form-control" })
                    @if (Model.Widget.EmailHelp != null)
                    {
                        <p class="help-block">@Html.Raw(Model.Widget.EmailHelp)</p>
                    }
                    @Html.ValidationMessage("Email", new { @class = "help-block help-block-error" })
                </div>
            </div>

            <div class="form-group form-group-EmailFriend">
                <div class="controls checkbox" style="padding-left: 0px;">
                    <label>
                        @Html.CheckBox("EmailFriend", null)
                        @Html.Raw(Model.Widget.EmailFriendLabel)
                    </label>
                    @if (Model.Widget.EmailFriendHelp != null)
                    {
                        <p class="help-block">@Html.Raw(Model.Widget.EmailFriendHelp)</p>
                    }
                    @Html.ValidationMessage("EmailFriend", new { @class = "help-block help-block-error" })
                </div>
            </div>

            <div class="form-group-Friends" style="@if (!Model.Form.EmailFriend){ <text>display: none;</text> } ">
                @{
                    var colNameWidth = Model.Form.Friend.Count > 1 ? 5 : 6;
                    var colActionStyle = Model.Form.Friend.Count > 1 ? "" : "display: none;";
                }
                <div class="form-group">
                    <div class="controls">
                        <div class="row hidden-xs">
                            <div class="col-name col-sm-@colNameWidth">
                                <label>@Html.Raw(Model.Widget.FriendNameLabel)<span class="required">*</span></label>
                                @if (Model.Widget.FriendNameHelp != null)
                                {
                                    <p class="help-block">@Html.Raw(Model.Widget.FriendNameHelp)</p>
                                }
                            </div>

                            <div class="col-email col-sm-6">
                                <label>@Html.Raw(Model.Widget.FriendEmailLabel)<span class="required">*</span></label>
                                @if (Model.Widget.FriendEmailHelp != null)
                                {
                                    <p class="help-block">@Html.Raw(Model.Widget.FriendEmailHelp)</p>
                                }
                            </div>

                            <div class="col-action col-sm-1" style="@colActionStyle"></div>
                        </div>

                        <div class="friends-list" data-max="@Model.Widget.MaxFriends">
                            @{
                                var idx = 0;

                                foreach (var item in Model.Form.Friend)
                                {
                                    <div class="row">
                                        <div class="col-name col-sm-@colNameWidth">
                                            <label class="visible-xs">@Html.Raw(Model.Widget.FriendNameLabel)<span class="required">*</span></label>
                                            @Html.TextBox("Friend[" + idx + "][Name]", item.Name, new { @class = "form-control" })
                                        </div>

                                        <div class="col-email col-sm-6">
                                            <label class="visible-xs">@Html.Raw(Model.Widget.FriendEmailLabel)<span class="required">*</span></label>
                                            @Html.TextBox("Friend[" + idx + "][Email]", item.Email, new { @class = "form-control" })
                                        </div>

                                        <div class="col-action col-sm-1" style="@colActionStyle">
                                            <button type="button" class="btn btn-danger btn-remove" onclick="jobEmailWidget.removeFriend(this);">@Html.Raw(Model.Widget.RemoveFriendButtonLabel)</button>
                                        </div>
                                    </div>

                                    idx++;
                                }
                            }
                        </div>

                        <button type="button" class="btn btn-default btn-add" onclick="jobEmailWidget.addFriend(this);">@Html.Raw(Model.Widget.AddFriendButtonLabel)</button>

                        @Html.ValidationMessage("Friend", new { @class = "help-block help-block-error" })
                        @Html.ValidationMessage("Friend.Name", new { @class = "help-block help-block-error" })
                        @Html.ValidationMessage("Friend.Email", new { @class = "help-block help-block-error" })
                    </div>
                </div>

                <div class="form-group form-group-FriendMessage">
                    <label>@Html.Raw(Model.Widget.FriendMessageLabel)<span class="required">*</span></label>
                    <div class="controls">
                        @Html.TextArea("FriendMessage", null, new { @class = "form-control", Rows = 5 })
                        @if (Model.Widget.FriendMessageHelp != null)
                        {
                            <p class="help-block">@Html.Raw(Model.Widget.FriendMessageHelp)</p>
                        }
                        @Html.ValidationMessage("FriendMessage", new { @class = "help-block help-block-error" })
                    </div>
                </div>
            </div>

            <div class="form-group btn-style-corner">
                <button type="submit" class="btn btn-primary btn-submit"><span>@Html.Raw(Model.Widget.SubmitButtonLabel)</span></button>

                <span class="loader container-loader" style="display: none;"></span>
            </div>

            @Html.Hidden("JobId", Model.Form.JobId)
            @Html.AntiForgeryToken()

            <input type="hidden" name="JobEmailFriendAction" value="submit" />
        }
    }
</div>

<style type="text/css">
    .friends-list > .row {
        margin-bottom: 5px;
    }

    .help-block-error {
        color: #a94442;
    }
</style>
