@model dynamic
@using Telerik.Sitefinity.Frontend.Mvc.Helpers

@Html.StyleSheet(Url.EmbeddedResource("JXTNext.Sitefinity.Widgets.Job.Mvc.Controllers.JobSearchController", "JXTNext.Sitefinity.Widgets.Job.Mvc.Scripts.JobSearch.dropdowntree.css"), "bottom")
@Html.Script(Url.EmbeddedResource("JXTNext.Sitefinity.Widgets.Job.Mvc.Controllers.JobSearchController", "JXTNext.Sitefinity.Widgets.Job.Mvc.Scripts.JobSearch.dropdowntree.js"), "bottom")


@if (Model != null)
{

    foreach (var item in Model)
    {
        <div class="dropdown dropdown-tree" id=@item.ID></div>
    }


    foreach (var item in Model)
    {
        //item is JobFilterRoot
        <ul class="filter-multilevel">
            <li>
                <a href="#">@item.Name</a>
                @if (item.Filters != null)
                {
                    <ul>
                        @foreach (var filters in item.Filters)
                        {
                            @PrintFirstLevelFiltersOnly(filters)
                        }
                    </ul>
                }
            </li>
        </ul>
    }

    <button id="refine-results" class="btn btn-primary">REFINE RESULTS</button>
}

@Html.Partial("_SimpleJS_Partial", (object)Model)


@helper PrintFirstLevelFiltersOnly(dynamic node)
    {
        <li>
            <a href="#">@(HttpUtility.HtmlDecode(node.Label)) (@node.Count)</a>
        </li>
}
