@{
    Layout = JXTPortal.Mobile.Website.ViewEngine.WhitelabelViewEngine.Resolve("~/Views/Shared/Whitelabel/133/_HomeLayout.cshtml");
}
<script type="text/javascript">
    $(function () {
        //$(document).bind('pageinit', function() {
        // Salary

        // Select the last Salary
        $('#SalaryToId option:last').attr("selected", "selected");

        $('#SalaryTypeId').change(function () {

            var selectedSalaryTypeId = "";

            $("#SalaryTypeId option:selected").each(function () {
                selectedSalaryTypeId += $(this).val();
            });


            $.getJSON('@Url.Action("GetSalaryRangeFrom")', { salaryTypeId: selectedSalaryTypeId, SalaryValueSet: '0;0' }, function (SalaryFroms) {
                var SalaryFromId = $('#SalaryFromId');
                SalaryFromId.empty();

                jQuery.each(SalaryFroms, function (index, SalaryFrom) {
                    SalaryFromId.append(
                        $('<option/>')
                            .attr('value', SalaryFrom.Id)
                            .text(SalaryFrom.SalaryDisplay)
                    );
                });

                SalaryFromId.selectmenu('refresh', true);
            });

            $.getJSON('@Url.Action("GetSalaryRangeTo")', { salaryTypeId: selectedSalaryTypeId, SalaryValueSet: '0;0' }, function (SalaryTos) {
                var SalaryToId = $('#SalaryToId');
                SalaryToId.empty();

                jQuery.each(SalaryTos, function (index, SalaryTo) {
                    SalaryToId.append(
                        $('<option/>')
                            .attr('value', SalaryTo.Id)
                            .text(SalaryTo.SalaryDisplay)
                    );
                });

                // Select the last Salary
                $('#SalaryToId option:last').attr("selected", "selected");

                SalaryToId.selectmenu('refresh', true);

            });



        });

        $('#SalaryFromId').change(function () {
            var selectedSalaryTypeId = "";

            $("#SalaryTypeId option:selected").each(function () {
                selectedSalaryTypeId = $(this).val();
            });

            var selectedSalaryFromId = "0;0";

            $("#SalaryFromId option:selected").each(function () {
                selectedSalaryFromId = $(this).val();
            });

            $.getJSON('@Url.Action("GetSalaryRangeTo")', { salaryTypeId: selectedSalaryTypeId, SalaryValueSet: selectedSalaryFromId }, function (SalaryTos) {
                var SalaryToId = $('#SalaryToId');
                SalaryToId.empty();

                jQuery.each(SalaryTos, function (index, SalaryTo) {
                    SalaryToId.append(
                            $('<option/>')
                                .attr('value', SalaryTo.Id)
                                .text(SalaryTo.SalaryDisplay)
                        );
                });
                
                SalaryToId.selectmenu('refresh', true);

            });


        });


        // Location
        $('#LocationId').change(function () {
            var selectedlocation = $(this).val();
            $.getJSON('@Url.Action("Areas")', { locationId: selectedlocation }, function (Areas) {
                var areasSelect = $('#AreaId');
                areasSelect.empty();

                areasSelect.append(
                        $('<option/>')
                            .attr('value', 0)
                            .text("All Areas")
                            .attr("selected", "selected")
                    );

                jQuery.each(Areas, function (index, Area) {
                    areasSelect.append(
                        $('<option/>')
                            .attr('value', Area.Id)
                            .text(Area.Name)
                    );
                });

                areasSelect.selectmenu('refresh', true);
            });
        });

        $('#ProfessionId').change(function () {
            var selectedProfession = $(this).val();
            $.getJSON('@Url.Action("Roles")', { professionId: selectedProfession }, function (Roles) {
                var rolesSelect = $('#RoleId');
                rolesSelect.empty();

                rolesSelect.append(
                        $('<option/>')
                            .attr('value', 0)
                            .text("All Roles")
                            .attr("selected", "selected")
                    );

                jQuery.each(Roles, function (index, Role) {
                    rolesSelect.append(
                        $('<option/>')
                            .attr('value', Role.Id)
                            .text(Role.Name)
                    );
                });

                rolesSelect.selectmenu('refresh', true);
            });
        });
    });
				
</script>




	<div class="job-search-bg">
	
<div class="widget-holder">

@using (Html.BeginForm("Result", "Job"))
{
    <ul data-role="listview" data-inset="true" id="HomeSearchFields">
        <li>
            <span><input type="text" id="keyword" name="keyword" placeholder="Keyword" /></span>
        </li>
        <!--<li>
            <span class="styled-select"><select id="ProfessionId" name="ProfessionId">
                <option value="0" selected>Healthcare & Medical</option>
																@foreach (var item in Model.Professions)
            	    {   
            	        <option value="@item.Key">@item.Value</option>    
            	    }		
            </select></span>
        </li>-->
								<li>
            <span class="styled-select"><select id="RoleId" name="RoleId"><option value="0" selected="selected">Specialty</option>
												<option value="330">Addiction Medicine</option>
												<option value="344">Family Medicine / General Practice</option>
												<option value="349">Haematology</option>
												</select></span>
        </li>
		
		 <li>
            <span class="styled-select"><select id="WorkTypeId" name="WorkTypeId">
                <option value="0" selected>Seniority</option>
																@foreach (var item in Model.WorkTypes)
            	    {   
            	        <option value="@item.Key">@item.Value</option>    
            	    }
            </select></span>
        </li>
		
        <li>
            <span class="styled-select"><select id="LocationId" name="LocationId">
                <option value="0" selected>Location</option>
																@foreach (var item in Model.Locations)
            	    {   
            	        <option value="@item.Key">@item.Value</option>    
            	    }
            </select></span>
        </li>
        
       
        <li>
            <input type="submit" id="home_job_search_submit" value="Search" />
        </li>
    </ul>
}


</div>

</div>


