@using Telerik.Sitefinity.Mvc;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers;

<form>
    <div class="form-group">
        <label for="heading-text">
            @Html.Resource("Heading")
        </label>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="properties.UsePageTitle.PropertyValue" ng-true-value="'True'" ng-false-value="'False'" ng-checked="properties.UsePageTitle.PropertyValue === 'True'"> Use the page title
            </label>
        </div>
        <input id="heading-text" type="text" class="form-control" ng-model="properties.Heading.PropertyValue" ng-show="properties.UsePageTitle.PropertyValue==='False'" />
    </div>

    <div class="form-group">
        <label for="description-text">@Html.Resource("Text")</label>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="properties.UsePageDescription.PropertyValue" ng-true-value="'True'" ng-false-value="'False'" ng-checked="properties.UsePageDescription.PropertyValue === 'True'"> Use the page description
            </label>
        </div>
        <textarea id="description-text" class="form-control" rows="3" ng-model="properties.Description.PropertyValue" ng-show="properties.UsePageDescription.PropertyValue==='False'"></textarea>
        @*<sf-html-field id="description-text" class="kendo-content-block" sf-model="properties.Description.PropertyValue"></sf-html-field>*@
    </div>

    @*<div class="form-group">
        <label for="image-field" class="m-top-sm">@Html.Resource("Image")</label>
        <sf-image-field class="sf-Media--info modal-settings modal-settings-space"
                        sf-model="properties.ImageId.PropertyValue"
                        sf-image="selectedImage"
                        sf-provider="properties.ImageProviderName.PropertyValue"
                        id="image-field"
                        sf-media-settings="@SettingsHelpers.GetMediaSettings("Image")"></sf-image-field>
    </div>*@

    <expander expander-title='@Html.Resource("MoreOptions")'>
        <div class="form-group">
            <label for="headingHtmlElement">@Html.Resource("HeadingHtmlElement")</label>
            <div class="row">
                <div class="col-xs-6">
                    <select id="headingHtmlElement" ng-model="properties.HeadingHtmlElement.PropertyValue" class="form-control">
                        <option value="div">Default (div)</option>
                        <option value="h1">Heading 1</option>
                        <option value="h2">Heading 2</option>
                        <option value="h3">Heading 3</option>
                        <option value="h4">Heading 4</option>
                        <option value="h5">Heading 5</option>
                        <option value="h6">Heading 6</option>
                        <option value="p">Paragraph</option>
                        <option value="span">Span</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="descriptionHtmlElement">@Html.Resource("DescriptionHtmlElement")</label>
            <div class="row">
                <div class="col-xs-6">
                    <select id="descriptionHtmlElement" ng-model="properties.DescriptionHtmlElement.PropertyValue" class="form-control">
                        <option value="div">Default (div)</option>
                        <option value="h1">Heading 1</option>
                        <option value="h2">Heading 2</option>
                        <option value="h3">Heading 3</option>
                        <option value="h4">Heading 4</option>
                        <option value="h5">Heading 5</option>
                        <option value="h6">Heading 6</option>
                        <option value="p">Paragraph</option>
                        <option value="span">Span</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="properties.DisableHeading.PropertyValue" ng-true-value="'True'" ng-false-value="'False'" ng-checked="properties.DisableHeading.PropertyValue === 'True'"> Disable the title
            </label>
        </div>
        <div class="checkbox">
            <label>
                <input type="checkbox" ng-model="properties.DisableDescription.PropertyValue" ng-true-value="'True'" ng-false-value="'False'" ng-checked="properties.DisableDescription.PropertyValue === 'True'"> Disable the description
            </label>
        </div>
        <div class="form-group">
            <label for="templateName">@Html.Resource("Template")</label>
            <div class="row">
                <div class="col-xs-6">
                    <select id="templateName" ng-model="properties.TemplateName.PropertyValue" class="form-control">
                        @foreach (var viewName in Html.GetViewNames("PageBanner", @"(?<viewName>^PageBanner.*)$"))
                        {
                            <option value="@viewName"> @viewName.Replace(".", "").SplitCamelCase()</option>
                        }
                    </select>
                </div>
            </div>
        </div>
        <style-dropdown selected-class="properties.CssClass.PropertyValue" view-name="properties.TemplateName.PropertyValue"></style-dropdown>
        <div class="form-group">
            <label for="cssClass">
                @Html.Resource("CssClasses")
            </label>
            <input id="cssClass" type="text" ng-model="properties.CssClass.PropertyValue" class="form-control" />
        </div>
    </expander>
</form>