@model Telerik.Sitefinity.Frontend.Identity.Mvc.Models.LoginForm.ForgotPasswordViewModel

@using Telerik.Sitefinity.Modules.Pages;
@using Telerik.Sitefinity.UI.MVC;
@using Telerik.Sitefinity.Frontend.Mvc.Helpers

@Html.Script("https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js", "head", true)
@Html.Script("https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js", "head", true)

@* Forgot password page *@
<div class="o-forgot-password @Model.CssClass">
    <h3 class="o-forgot-password__hdg">@Html.Resource("ForgotPasswordHeader")</h3>

    @if (Model.EmailSent)
    {
        <p id='@Html.UniqueId("ForgotPasswordRequestSentInfo")'>@Html.Resource("ForgotPasswordRequestSent") <i>@Html.Encode(Model.Email)</i></p>

        <p id='@Html.UniqueId("ForgotPasswordRequestSentUseLinkInfo")'>@Html.Resource("ForgotPasswordRequestSentUseLink")</p>

        var forgottenPasswordDescription = Html.UniqueId("ForgotPasswordRequestSentInfo") + " " + Html.UniqueId("ForgotPasswordRequestSentUseLinkInfo");
        <a href="@Model.LoginPageUrl" class="o-forgot-password__back-btn btn btn-secondary" aria-describedby="@forgottenPasswordDescription">@Html.Resource("ForgotPasswordBackToLogin")</a>
    }
    else
    {
        using (Html.BeginForm("SendPasswordResetEmail", "LoginForm"))
        {
            <p id='@Html.UniqueId("EnterLoginEmailAddressInfo")'>@Html.Resource("EnterLoginEmailAddress")</p>

            <div class="form-group">
                @Html.LabelFor(u => u.Email, Html.Resource("ForgotPasswordEmail"))
                @Html.TextBoxFor(u => u.Email, new { @class = "form-control", aria_describedby = Html.UniqueId("EnterLoginEmailAddressInfo") })
                <div class="text-danger" role="alert" aria-live="assertive">@Html.ValidationMessageFor(u => u.Email)</div>
            </div>

            <button type="submit" class="o-forgot-password__btn btn btn-primary">@Html.Resource("ForgotPasswordSendButton")</button>
        }
    }

</div>
